Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

build: retire a covered guard kind, add the budgets gate and one drift test
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/scripts/sync-self.ts
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/tests/agents-sync.test.ts
  packages/basalt-ui/tests/drift.test.ts
  packages/basalt-ui/tests/gen-llms-check.test.ts
  packages/basalt-ui/tests/jsdoc-specifiers.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/lefthook-preset.test.ts
  packages/basalt-ui/tests/llms-sync.test.ts
Due: biome-check-js

build: the budgets gate runs in pre and CI, coverage moves to its script
  .claude/rules/basalt-batteries.md
  .claude/rules/basalt-charts.md
  .claude/rules/basalt-controls.md
  .claude/rules/basalt-mantine.md
  .claude/rules/basalt-state.md
  .claude/rules/basalt-tokens.md
  .github/workflows/ci.yml
  .oxlintrc.json
  bun.lock
  package.json
  tests/surfaces-coverage.test.ts
Due: biome-check-js, biome-check-json

feat: transport message ids, onError and hydrated resume in the agent layer
  packages/basalt-ui/src/agent-chat/composer-paste.test.tsx
  packages/basalt-ui/src/agent-chat/index.ts
  packages/basalt-ui/src/agent-chat/thread-feed-row.test.tsx
  packages/basalt-ui/src/agent-chat/thread-feed-row.tsx
  packages/basalt-ui/src/agent-chat/thread-feed.test.tsx
  packages/basalt-ui/src/agent-chat/thread-feed.tsx
  packages/basalt-ui/src/agent-chat/virtualize.ts
  packages/basalt-ui/src/agent-chat/virtualize.type-guard.test.ts
  packages/basalt-ui/src/agent/ai-sdk-transport.ts
  packages/basalt-ui/src/agent/transport.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.resume.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
Due: biome-check-js

docs: archive the superseded specs and cut the root CLAUDE.md to invariants
  CLAUDE.md
  docs/ASIDE-SPEC.md
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/DESIGN-CORE.md
  docs/FRAMEWORK-FREE.md
  docs/MANTINE-THEMING.md
  docs/MATURATION-LEDGER.md
  docs/STATUS.md
  docs/archive/AGENT-CHAT-SPEC.md
  docs/archive/ASIDE-SPEC-DETAIL.md
  docs/archive/CONTENT-SPEC.md
  docs/archive/CONTROLS-SYNTHESIS.md
  docs/archive/DESIGN-SPEC.md
  docs/archive/STATUS-HISTORY.md
  docs/archive/UTM.md
Due: none

chore: release 1.29.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  97fd9903304ada87938dedfde522243e16f85730
Due: none

fix: let BasaltDevDock's router prop accept a real TanStack Router
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/dev-dock.tsx
  packages/basalt-ui/src/dev-dock.type-guard.test.ts
Due: biome-check-js

fix: retire basalt/query-dual-import — its premise is unreachable post-C1
  .oxlintrc.json
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/scripts/check-coverage.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

build: resync the dogfooded batteries rule after retiring query-dual-import
  .claude/rules/basalt-batteries.md
  apps/playground/src/demo/cbbi/cbbi-query.ts
Due: biome-check-js

fix: make chart-missing-aria-label's tag scan brace-depth aware
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: collapse unwrap's two overloads into one conditional generic
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/query-client.test.ts
  packages/basalt-ui/src/query-client.ts
  packages/basalt-ui/src/query-client.type-guard.test.ts
Due: biome-check-js

docs: retire every live basalt-ui/query mention post-C1
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/templates/query-client.ts.tpl
  packages/basalt-ui/src/forms/use-form-submit.ts
Due: biome-check-js

docs: fix README subpath table drift against 1.29.0 exports
  packages/basalt-ui/README.md
Due: none

chore: release 1.29.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  72161e902638740c995b64776e98797c926bcd4c
Due: none

fix: distribute unwrap's NonNullable over Eden's union response shape
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/query-client.test.ts
  packages/basalt-ui/src/query-client.ts
  packages/basalt-ui/src/query-client.type-guard.test.ts
Due: biome-check-js

chore: release 1.29.2 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  2be95bbedaec055c9d7f087335dcce5d06d002bb
Due: none

docs: record the C6 outcome and the 1.30.0 adopt-or-delete verdicts
  docs/MATURATION-LEDGER.md
Due: none

feat: mount the aside on the dashboard and make the playground phone-honest
  .claude/rules/basalt-controls.md
  .claude/skills/basalt-app/SKILL.md
  CLAUDE.md
  apps/playground/src/demo/ActivityPage.tsx
  apps/playground/src/demo/AgentAiSdkDemoPage.tsx
  apps/playground/src/demo/AgentComposerDemoPage.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/AgentThreadFeedInlineDemoPage.tsx
  apps/playground/src/demo/BandStripDemoPage.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/ComponentsPage.tsx
  apps/playground/src/demo/ConnectivityDemoPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/DataDemoPage.tsx
  apps/playground/src/demo/DataStressPage.tsx
  apps/playground/src/demo/DataTableChromeDemoPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
  apps/playground/src/demo/MirroredBarsDemoPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/QueryDemoPage.tsx
  apps/playground/src/demo/QueryStateDemoPage.tsx
  apps/playground/src/demo/SettingsPage.tsx
  apps/playground/src/demo/UserStatePage.tsx
  apps/playground/src/demo/dashboard-range-store.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/demo/threads/ThreadsPage.tsx
  apps/playground/src/nav.type-guard.tsx
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/agent.tsx
  apps/playground/src/routes/dashboard.tsx
  docs/ASIDE-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/MATURATION-LEDGER.md
Due: biome-check-js

feat: promote four guard rules to error, extend the C1 pair to 1.31.0
  .oxlintrc.json
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js, biome-check-json

docs: record the chrome wave and close half of V10
  docs/MATURATION-LEDGER.md
Due: none

chore: release 1.30.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  3bfe60f9768572e7510d13443fdc7736dbe293b1
Due: none
