Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

feat: add the density knob to the theme config
  packages/basalt-ui/src/connectivity/connectivity-indicator.tsx
  packages/basalt-ui/src/content/article-layout.module.css
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/content/prose.module.css.test.ts
  packages/basalt-ui/src/provider/index.test.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/theme-lab/derive-controls.test.ts
  packages/basalt-ui/src/theme-lab/derive-controls.tsx
  packages/basalt-ui/src/theme/density-option.test.ts
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/theme/use-basalt-spacing.test.tsx
  packages/basalt-ui/src/theme/use-basalt-spacing.ts
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.test.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-css

fix: make the virtual-list skeleton density-aware and lock the space var set
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js, biome-check-json

chore: release 1.2.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  6b3a75f3dad5f50f92702c795c9b76a0301d5c55
Due: none

chore: keep oxfmt off the golden palette fixture
  .oxfmtignore
Due: none

test: pin the default palette CSS output as a golden fixture
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/fixtures/regen.ts
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js, biome-check-css

feat: let buildPaletteCss target a custom color-scheme selector
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js

feat: make the react and mantine peers optional
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/package.json
  packages/basalt-ui/tests/required-peers.test.ts
Due: biome-check-js, biome-check-json

feat: ship a prebuilt tokens.css and a tokens:css subcommand
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-tarball-parity.mjs
  packages/basalt-ui/scripts/export-surface.mjs
  packages/basalt-ui/scripts/gen-tokens-css.mjs
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/tokens-css.test.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

feat: add a core-only spacing emission mode to buildPaletteCss
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/tokens-css.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js

fix: stop styles.css reaching past the framework's own chrome
  packages/basalt-ui/src/styles.css
  packages/basalt-ui/tests/styles-css.test.ts
Due: biome-check-js, biome-check-css

docs: document framework-free token consumption
  README.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

docs: point the package surface at the framework-free path
  packages/basalt-ui/README.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/gen-llms.ts
Due: biome-check-js

fix: realign the spacing guard with the retuned scale and CSS reality
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

chore: release 1.3.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  36e7a73fb512dfdb73b25cf28ac5bf75ce0178d8
Due: none

fix: widen this repo's own pre-commit formatter to match its CI
  lefthook.yml
Due: none

test: run the shipped guard against a consumer tree before release
  packages/basalt-ui/scripts/pack-test.sh
Due: none

fix: let the shipped pre-commit hook see CSS
  packages/basalt-ui/configs/lefthook.yml
  packages/basalt-ui/tests/lefthook-preset.test.ts
Due: biome-check-js

feat: give guard findings a severity so new rules can land soft
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/guard-hook.test.ts
  packages/basalt-ui/src/guard/guard-hook.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
Due: biome-check-js

feat: have doctor report a spacing scale that moved under the app
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

fix: make inline-spacing read the CSS a consumer actually writes
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

chore: release 1.4.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  391186b5bc49376603f1aaece636ee07875dbd1a
Due: none

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
