Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

Notes added by 'git notes add'
  1cc4d9e1b451e0865fb1d0cca4ae620acfb6e5d0
Due: none

test: remove doctor temp dir after each test
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

chore: repo contract make targets (check/deploy/verify/logs)
  AGENTS.md
  Makefile
Due: none

feat: place the managed block in AGENTS.md and migrate it out of CLAUDE.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/agent/templates/AGENTS-block.md.tpl
  packages/basalt-ui/agent/templates/DESIGN.md.tpl
  packages/basalt-ui/configs/check.yml
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/scripts/check-coverage.test.ts
  packages/basalt-ui/scripts/check-coverage.ts
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/doctor.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init.ts
  packages/basalt-ui/src/cli/placement-engine.test.ts
  packages/basalt-ui/src/cli/sync.ts
  packages/basalt-ui/src/cli/template-format.test.ts
  packages/basalt-ui/src/cli/template-ledger.test.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

docs: follow the AGENTS block rename in the repo docs and dogfooded skills
  .claude/skills/basalt-app/SKILL.md
  .claude/skills/basalt-design/SKILL.md
  AGENTS.md
Due: none

docs: move the maintainer invariants to MAINTAINING.md
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/MAINTAINING.md
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
  packages/basalt-ui/scripts/check-grace.ts
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/agent/foreign.ts
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/content/copy-action.tsx
  packages/basalt-ui/src/content/glyphs.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

chore: remove CLAUDE.md shims
  .claude/rules/basalt-batteries.md
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  apps/marketing/CLAUDE.md
  apps/playground/DESIGN.md
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/query-state-like.type-guard.tsx
  docs/ARGO-MIGRATION-LEARNINGS.md
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
Due: biome-check-js

fix: report malformed or conflicting blocks, warn on a shadowing CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/src/agent/foreign.ts
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/cli/doctor.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init.ts
  packages/basalt-ui/src/cli/placement-engine.test.ts
  packages/basalt-ui/src/cli/sync.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

docs: point the controls spec at the real agent layer heading
  docs/CONTROLS-SPEC.md
Due: none

docs: repoint the controls spec off the deleted root CLAUDE.md
  docs/CONTROLS-SPEC.md
Due: none

fix: refuse a bad block before any write, and never crash on sameFile
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/src/cli/doctor.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init.ts
  packages/basalt-ui/src/cli/placement-engine.test.ts
  packages/basalt-ui/src/cli/sync.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

chore: release 1.41.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  dadab5c1c25b1c72015947658cf84b13a2b6994d
Due: none
