Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

ci: front-door the release behind a dry run and a major guard
  CLAUDE.md
  Makefile
  scripts/release.sh
Due: none

ci: scope the release preflight to tracked changes
  scripts/release.sh
Due: none

fix: tell a spacing length apart from a dimensionless ratio
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

chore: release 1.4.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  c28b860a32fa1ef382bc4dcf1ed8258fb5bc049c
Due: none

docs: make the framework-free route and the release rule say what is true
  CLAUDE.md
  apps/playground/package.json
  bun.lock
  docs/FRAMEWORK-FREE.md
Due: biome-check-json

feat: ship zero runtime dependencies
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/pack-test.sh
Due: biome-check-json

feat: normalise the emitted --vx-* names to kebab-case
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/charts/theme.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/tokens-css.test.ts
  packages/basalt-ui/src/content/article-card.module.css
  packages/basalt-ui/src/content/callout.module.css
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/content/reading-progress.module.css
  packages/basalt-ui/src/theme-lab/index.tsx
  packages/basalt-ui/src/theme/contrast.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/timeline.module.css
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js, biome-check-css

feat: report the source declaration and unblind the chart kinds
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/guard-hook.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
Due: biome-check-js, biome-check-json

chore: release 1.5.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  9fe6198cabc350c5f185c41c6c76bdf1dd801df4
Due: none

fix(dev): move marketing off the playground's port, allow the tailnet doors
  apps/marketing/astro.config.mjs
  apps/marketing/package.json
  apps/playground/vite.config.ts
Due: biome-check-js, biome-check-json

feat: quiet the active nav row into a selection
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/nav-link.module.css
  packages/basalt-ui/src/theme/shadow-surfaces.test.ts
Due: biome-check-js, biome-check-css

build: keep the marketing docker build context lean and reproducible
  .dockerignore
  apps/marketing/Dockerfile
Due: none

docs: record the quieter active nav row
  docs/DESIGN-SPEC.md
Due: none

feat: unify every interactive control on one raised depth
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/theme/controls.module.css
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/shadow-surfaces.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js, biome-check-css

docs: record the control-vs-panel depth split
  .gitignore
  docs/DESIGN-SPEC.md
  docs/STATUS.md
Due: none

chore: run both dev apps from the root dev script
  package.json
Due: biome-check-json

chore: release 1.6.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  87e5816a1846ab16ea449a42f90f2f984caca8ea
Due: none

fix: correct the shipped depth and active-nav doctrine in the agent rules
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/agent/templates/DESIGN.md.tpl
  packages/basalt-ui/src/theme/controls.module.css
Due: biome-check-css

feat: close the three gaps that let a consumer fork the card idiom
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/dashboard/index.ts
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/vite.ts
Due: biome-check-js, biome-check-json

chore: register the new lint rule and clear the playground's own violations
  .oxlintrc.json
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/agent-blocks.tsx
  docs/STATUS.md
Due: biome-check-js, biome-check-json

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
