Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

chore: upgrade dependencies
  apps/web/package.json
  bun.lock
  examples/react/package.json
  package.json
Due: biome-check-json

ci(JK-28): configure Pages deployment with Wrangler config
  apps/web/astro.config.mjs
  apps/web/wrangler.json
Due: biome-check-js, biome-check-json

feat(JK-43): add Plausible Analytics proxy through Cloudflare Pages Functions
  apps/web/functions/api/event.js
  apps/web/functions/js/script.js
  apps/web/src/layouts/Layout.astro
Due: biome-check-js, prettier-astro

fix(JK-28): rename Pages app from `basalt-web` to `basalt-ui` in Wrangler config
  apps/web/wrangler.json
Due: biome-check-json

ci(JK-28): remove Wrangler config for Pages deployment
  apps/web/wrangler.json
Due: biome-check-json

fix(JK-43): remove .js extension from Plausible script path
  apps/web/src/layouts/Layout.astro
Due: prettier-astro

feat(JK-34): add `shadcn` and `tw-animate-css` to basalt-ui dependencies
  packages/basalt-ui/package.json
  packages/basalt-ui/src/index.css
Due: biome-check-json, biome-check-css

feat(JK-34): migrate to Base UI and @tabler/icons-react
  apps/web/components.json
  apps/web/package.json
  apps/web/src/components/layout/MobileMenu.tsx
  apps/web/src/components/shared/ThemeToggle.tsx
  apps/web/src/components/tremor/Card.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/pages/charts.astro
  biome.json
  bun.lock
  examples/react/package.json
Due: biome-check-js, biome-check-json, prettier-astro

feat: use self-hosted Instrument Sans Variable font
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/index.css
  packages/basalt-ui/tailwind.config.js
Due: biome-check-js, biome-check-json, biome-check-css

feat: migrate typography to instrument sans variable and jetbrains mono
  CLAUDE.md
  apps/web/CLAUDE.md
  apps/web/astro.config.mjs
  apps/web/src/content/docs/docs/typography.md
  apps/web/src/layouts/Layout.astro
  apps/web/src/pages/index.astro
  apps/web/src/pages/typography.astro
  bun.lock
  examples/react/package.json
  examples/react/vite.config.ts
Due: biome-check-js, biome-check-json, prettier-astro

fix(JK-34): improve basalt-ui package integration and documentation
  packages/basalt-ui/README.md
  packages/basalt-ui/SETUP.md
  packages/basalt-ui/package.json
Due: biome-check-json

docs(JK-34): update fonts documentation in CLAUDE.md
  CLAUDE.md
Due: none

feat: integrate fonts and improve CSS architecture
  packages/basalt-ui/src/index.css
  packages/basalt-ui/src/starlight.css
Due: biome-check-css

feat: enhance package exports and peer dependencies
  packages/basalt-ui/package.json
Due: biome-check-json

docs: improve documentation and establish single source of truth
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
Due: none

feat: adopt single-import font setup and update docs
  apps/web/src/content/docs/docs/installation.md
  apps/web/src/layouts/Layout.astro
  apps/web/src/pages/typography.astro
  apps/web/src/styles/global.css
  examples/react/src/styles/index.css
Due: biome-check-css, prettier-astro

fix: correct Tailwind plugin order in React example
  examples/react/vite.config.ts
Due: biome-check-js

docs: document UTM tracking strategy and font loading patterns
  CLAUDE.md
  README.md
  docs/BRAND_VOICE.md
Due: none

chore: upgrade dependencies and remove commit scope requirement
  apps/web/package.json
  bun.lock
  commitlint.config.ts
  package.json
Due: biome-check-js, biome-check-json

chore: release v0.2.0
  package.json
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/package.json
Due: biome-check-json

fix: use font-display block to prevent flickering in Astro MPAs
  packages/basalt-ui/src/index.css
Due: biome-check-css

fix: add missing language subsets and font weights
  packages/basalt-ui/src/index.css
Due: biome-check-css

chore: release v0.2.1
  package.json
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/package.json
Due: biome-check-json

docs: improve installation guide based on user feedback
  apps/web/src/content/docs/docs/installation.md
Due: none

perf: change font-display from block to swap
  packages/basalt-ui/src/index.css
Due: biome-check-css

docs: add font performance optimization guide with fontaine
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/content/docs/docs/installation.md
  bun.lock
Due: biome-check-js, biome-check-json

chore: release v0.2.2
  package.json
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/package.json
Due: biome-check-json

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
