Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

fix: move useBreakpoint's removal to 1.33.0 and correct its replacement
  packages/basalt-ui/configs/oxlint-plugin.js
Due: biome-check-js

fix: prune ignored dirs during the doc-drift repo walk instead of after it
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
Due: biome-check-js

refactor: share the band kinds' chrome, slider overlay and tooltip rows
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/kinds/band-chrome.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
Due: biome-check-js

test: cover BasaltDataTable's card projection states and selection
  packages/basalt-ui/src/data/data-table-containment.test.tsx
Due: biome-check-js

fix: move raw-media-query's promotion to 1.33.0 with its AST twin
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: stop warning legend-slot contention on a same-commit owner hand-off
  packages/basalt-ui/src/charts/primitives/ChartCard.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
Due: biome-check-js

refactor: extract useDataTableState from BasaltDataTable
  packages/basalt-ui/src/data/data-table.tsx
Due: biome-check-js

docs: record consumer-loop round 1 in the maturation ledger
  docs/MATURATION-LEDGER.md
Due: none

chore: reflow raw-breakpoint's grace rationale into one ordered account
  packages/basalt-ui/configs/oxlint-plugin.js
Due: biome-check-js

refactor: let findRepoMdFiles take its walk root so the prune is testable
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
Due: biome-check-js

test: pin findRepoMdFiles' prune walk against a synthetic tree
  tests/agent-doc-drift.test.ts
Due: biome-check-js

refactor: extract ShellFrame's aside docking into a pure resolveAsideDocking
  packages/basalt-ui/src/shell/aside-docking.test.ts
  packages/basalt-ui/src/shell/aside-docking.ts
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js

refactor: derive ChartFrame's legend-slot ownership from one claimant reducer
  packages/basalt-ui/src/charts/primitives/ChartCard.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
Due: biome-check-js

fix: narrow the container-grid exemption to the props Mantine routes
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

fix: exempt a container Grid only when its breakpoints map resolves
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

refactor: extract the fold row-disclosure state into useRowDisclosure
  packages/basalt-ui/src/data/data-table.tsx
Due: biome-check-js

fix: key StatGroup and WidgetGrid on the container-class law
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/dashboard/stat-group.module.css
  packages/basalt-ui/src/dashboard/stat-group.test.ts
  packages/basalt-ui/src/dashboard/widget-grid.module.css
  packages/basalt-ui/src/dashboard/widget-grid.test.tsx
  packages/basalt-ui/src/forms/form-layout.module.css
  packages/basalt-ui/src/forms/form-layout.test.tsx
  packages/basalt-ui/src/tokens/breakpoint-literals.test.ts
  packages/basalt-ui/tests/layout/card-chrome.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js, biome-check-css

feat: project BasaltDataTable rows as cards on the table's own width
  packages/basalt-ui/src/data/data-table-containment.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
Due: biome-check-js

refactor: re-memo CartesianPlot's flat x-label width on labels and font alone
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
Due: biome-check-js

refactor: give cursorSliderProps an explicit return type
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
Due: biome-check-js

chore: extend the C1 control guards' grace to 1.33.0, the last extension
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

chore: release 1.32.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  10fef1915fff8f827d09057e210fa7d83fa94a71
Due: none

fix: bottom-align FormGroup's row direction so a trailing button isn't stretched
  packages/basalt-ui/src/forms/form-layout.module.css
  packages/basalt-ui/src/forms/form-layout.tsx
Due: biome-check-js, biome-check-css

fix: align guard lanes on FormRow/FormGroup, drop basalt-main
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: export the size- and container-class tables from basalt-ui/tokens
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/scripts/migrating-imports.test.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js, biome-check-json

ci: wait up to 20m for the registry to serve a release
  scripts/release.sh
Due: none

chore: sync the dogfood basalt-mantine rule with the useSizeClass line
  .claude/rules/basalt-mantine.md
Due: none

docs: document the 1.32.1 patch and the gaps the 1.32.0 upgrade hit
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/shell/page-bar.tsx
Due: biome-check-js

test: harden the MIGRATING import test, pin FormGroup's row alignment
  packages/basalt-ui/scripts/migrating-imports.test.ts
  packages/basalt-ui/src/forms/form-layout.test.tsx
Due: biome-check-js

fix: resolve consts before unwrapping raw-breakpoint conditionals
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

docs: re-point stranded § Unreleased refs, retire basalt-main in 1.32.0
  packages/basalt-ui/MIGRATING.md
Due: none

fix: point every § Unreleased reference at the section the release names
  packages/basalt-ui/scripts/release-migrating.ts
  packages/basalt-ui/tests/drift.test.ts
Due: biome-check-js

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
