Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

fix: re-date the forms layout deprecations to 1.39.0
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/src/controls/form-layout.tsx
  packages/basalt-ui/src/controls/index.ts
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/guard/grace.test.ts
Due: biome-check-js

docs: follow the forms deprecation re-date to 1.39.0
  docs/MATURATION-LEDGER.md
Due: none

chore: release 1.38.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  77e8e477207800a83e9d190f09c32e922e83bd28
Due: none

fix: take the page content inset one step down, 20/12 to 16/8 from sm up
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/shell/app-brand.module.css
  packages/basalt-ui/src/shell/app-brand.module.css.test.ts
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-main.module.css
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/layout/shell-chrome.layout.test.ts
Due: biome-check-js, biome-check-css

chore: release 1.38.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  59367e6625eb4f6b8ff53106cbfcf89a57ab88a9
Due: none

feat: add BasaltShell headerHeight for a deliberate, consumer-set header row
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
  packages/basalt-ui/tests/layout/harness.ts
  packages/basalt-ui/tests/layout/shell-chrome.layout.test.ts
Due: biome-check-js

feat: remove the deprecated forms layout and useForm re-exports
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: release 1.39.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  5a815f47bbb1b34b8cbe777b837031e314a0550b
Due: none

fix: raised segmented indicator, nav-row geometry for the sidebar account row
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/theme/index.ts
Due: biome-check-js, biome-check-css

feat: createBasaltTheme inputs option for desktop-sized inputs
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/styles.css
  packages/basalt-ui/src/styles.floor.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/inputs-option.test.tsx
  packages/basalt-ui/tests/styles-css.test.ts
Due: biome-check-js, biome-check-css

chore: release 1.40.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

fix: lift the selected segment above the track in dark mode
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/segmented-control.module.css
  packages/basalt-ui/src/theme/segmented-control.module.css.d.ts
Due: biome-check-js, biome-check-css

chore: release 1.40.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  6e505e9555b6ae10237814733ebec47f2a0bdebe
Due: none

chore: add repo-contract Makefile targets and AGENTS.md sections
  AGENTS.md
  Makefile
  docs/MATURATION-LEDGER.md
  docs/STATUS.md
  tests/setup/dom.ts
Due: biome-check-js

chore: point stale make verify comments at make check
  packages/basalt-ui/scripts/check-grace.ts
  packages/basalt-ui/scripts/pack-test.sh
Due: biome-check-js

fix: sidebar footer rows sit on the nav row's height and 1px pitch
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/tests/layout/shell-chrome.layout.test.ts
Due: biome-check-js, biome-check-css

chore: release 1.40.2 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  9d21afb687acfc81a9391dba272395a193b4dffe
Due: none

fix: shortcut display uses platform glyphs and Title-case words for named keys
  packages/basalt-ui/src/commands/shortcut-format.test.ts
  packages/basalt-ui/src/commands/shortcut-format.ts
Due: biome-check-js

fix: chart cursor slider always carries aria-valuenow
  packages/basalt-ui/src/charts/kinds/DualPanel.test.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
Due: biome-check-js

fix: light-scheme text, links, errors and badges clear WCAG AA
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/segmented-control.module.css
  packages/basalt-ui/src/tokens/derive.test.ts
  packages/basalt-ui/src/tokens/derive.ts
Due: biome-check-js, biome-check-css

chore: release 1.40.3 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json
