Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

docs: make review and chaining mandatory, queue the short-card legend fix
  docs/waves/PLAN.md
Due: none

feat: pin chart tooltips on tap, add keyboard parity to donut and heatmap
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/hooks/useChartCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useChartCursor.ts
  packages/basalt-ui/src/charts/hooks/useDiscreteCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useDiscreteCursor.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Donut.test.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.test.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
  packages/basalt-ui/tests/layout/chart-touch.layout.test.ts
Due: biome-check-js

feat: key card chrome on the card's own width
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/primitives/ChartCard.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
  packages/basalt-ui/src/dashboard/section.module.css
  packages/basalt-ui/src/dashboard/stat-card.module.css
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/dashboard/stat-group.module.css
  packages/basalt-ui/src/dashboard/stat-group.test.ts
  packages/basalt-ui/src/dashboard/widget-grid.tsx
  packages/basalt-ui/src/dashboard/widget-header.module.css
  packages/basalt-ui/src/dashboard/widget-header.module.css.d.ts
  packages/basalt-ui/src/dashboard/widget-header.test.tsx
  packages/basalt-ui/src/dashboard/widget-header.tsx
  packages/basalt-ui/src/tokens/breakpoint-literals.test.ts
  packages/basalt-ui/tests/layout/card-chrome.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js, biome-check-css

docs: close wave 10, open wave 11
  docs/waves/PLAN.md
Due: none

feat: resolve chart layout from the container class, height from width
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/src/charts/kinds/height-responsive.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/src/tokens/size-classes.ts
Due: biome-check-js

feat: spend compact-width axes on the plot, not the gutters
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/layout/auto-margin.ts
  packages/basalt-ui/src/charts/primitives/Axes.test.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
Due: biome-check-js

docs: state the chart layout law in CHARTS-SPEC
  docs/CHARTS-SPEC.md
Due: none

feat: drop the dead chart-tier API and consolidate media-query hooks
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/height-responsive.test.tsx
  packages/basalt-ui/src/charts/layout/auto-margin.ts
  packages/basalt-ui/src/charts/layout/painted-labels.test.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
  packages/basalt-ui/src/common/use-media-query.ts
  packages/basalt-ui/src/dashboard/stat-group.module.css
  packages/basalt-ui/src/dashboard/widget-grid.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/provider/host.test.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/use-breakpoint.ts
  packages/basalt-ui/src/shell/use-size-class.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js, biome-check-json, biome-check-css

docs: close wave 3 and hand off to wave 4
  docs/waves/PLAN.md
  docs/waves/RESPONSIVE-SPEC.md
Due: none

fix: make chart touch presses provisional and dismiss on scroll
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/hooks/useChartCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useChartCursor.ts
  packages/basalt-ui/src/charts/hooks/useDiscreteCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useDiscreteCursor.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Donut.test.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.test.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.module.css
  packages/basalt-ui/src/charts/primitives/HoverOverlay.module.css.d.ts
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
  packages/basalt-ui/tests/layout/chart-touch.layout.test.ts
Due: biome-check-js, biome-check-css

docs: repoint deleted RESPONSIVE-SPEC.md citations, extend the doc-drift gate
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/MATURATION-LEDGER.md
  docs/waves/PLAN.md
  tests/agent-doc-drift.test.ts
Due: biome-check-js

docs: plan the responsive, touch and plot-first maturation waves
  docs/waves/PLAN.md
  docs/waves/RESPONSIVE-SPEC.md
Due: none

docs: close wave 6 and hand off to wave 7
  docs/waves/PLAN.md
Due: none

docs: update the coarse-pointer touch model in CHARTS-SPEC
  docs/CHARTS-SPEC.md
Due: none

feat: fold DataTable columns, warn short rows, sheet the TOC, pin composer keys
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/agent-chat/use-keyboard-inset.test.tsx
  packages/basalt-ui/src/agent-chat/use-keyboard-inset.ts
  packages/basalt-ui/src/content/article-layout.module.css
  packages/basalt-ui/src/content/article-layout.module.css.d.ts
  packages/basalt-ui/src/content/article-layout.test.tsx
  packages/basalt-ui/src/content/article-layout.tsx
  packages/basalt-ui/src/content/code-block.module.css
  packages/basalt-ui/src/content/code-block.test.tsx
  packages/basalt-ui/src/content/code-block.tsx
  packages/basalt-ui/src/data/data-table-containment.test.tsx
  packages/basalt-ui/src/data/data-table.module.css
  packages/basalt-ui/src/data/data-table.module.css.d.ts
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/virtual-list.test.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/tests/layout/data-table.layout.test.ts
Due: biome-check-js, biome-check-css

chore: extend the C1 control guards' grace to 1.32.0
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

chore: release 1.31.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  36148f4963e770431a97f436a141a59d1b6b53ac
Due: none

fix: say legend.maxRows changed unit in its deprecation warning
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
Due: biome-check-js

chore: declare @testing-library/react as an exact-pinned devDependency
  bun.lock
  packages/basalt-ui/package.json
Due: biome-check-json

refactor: resolve CartesianPlot's x-axis margin ladder in one pure function
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
Due: biome-check-js

refactor: move the legend's All N disclosure out of ChartLegend
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/legend-disclosure.tsx
Due: biome-check-js

refactor: share the band kinds' chrome, slider overlay and tooltip rows
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/kinds/band-chrome.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
Due: biome-check-js

refactor: extract ShellFrame's aside docking into a pure resolveAsideDocking
  packages/basalt-ui/src/shell/aside-docking.test.ts
  packages/basalt-ui/src/shell/aside-docking.ts
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js

refactor: collapse BasaltDataTable's duplicated render branches
  packages/basalt-ui/src/data/data-table.tsx
Due: biome-check-js

feat: project BasaltDataTable rows as cards on the table's own width
  packages/basalt-ui/src/data/data-table-containment.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
Due: biome-check-js

refactor: share one mount counter between BasaltProvider's module counters
  packages/basalt-ui/src/provider/index.tsx
Due: biome-check-js

refactor: extract useDataTableState from BasaltDataTable
  packages/basalt-ui/src/data/data-table.tsx
Due: biome-check-js

refactor: derive ChartFrame's legend-slot ownership from one claimant reducer
  packages/basalt-ui/src/charts/primitives/ChartCard.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
Due: biome-check-js

refactor: extract the fold row-disclosure state into useRowDisclosure
  packages/basalt-ui/src/data/data-table.tsx
Due: biome-check-js

refactor: run every legend fit through one greedy-wrap helper
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
Due: biome-check-js

feat: give basalt/raw-breakpoint a reachable container-grid answer
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

fix: move useBreakpoint's removal to 1.33.0 and correct its replacement
  packages/basalt-ui/configs/oxlint-plugin.js
Due: biome-check-js

chore: sync the dogfood basalt-mantine rule with the container-layout line
  .claude/rules/basalt-mantine.md
Due: none

docs: date useBreakpoint's removal to 1.33.0 in its JSDoc
  packages/basalt-ui/src/shell/use-breakpoint.ts
Due: biome-check-js

fix: prune ignored dirs during the doc-drift repo walk instead of after it
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
Due: biome-check-js

fix: read only width clauses when judging a shell/ media query
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: key StatGroup and WidgetGrid on the container-class law
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/dashboard/stat-group.module.css
  packages/basalt-ui/src/dashboard/stat-group.test.ts
  packages/basalt-ui/src/dashboard/widget-grid.module.css
  packages/basalt-ui/src/dashboard/widget-grid.test.tsx
  packages/basalt-ui/src/forms/form-layout.module.css
  packages/basalt-ui/src/forms/form-layout.test.tsx
  packages/basalt-ui/src/tokens/breakpoint-literals.test.ts
  packages/basalt-ui/tests/layout/card-chrome.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js, biome-check-css

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
