Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

feat: give the transcript a Slack shape, affordances and virtualization
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-agent.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/agent-chat/index.ts
  packages/basalt-ui/src/agent-chat/message-affordances.ts
  packages/basalt-ui/src/agent-chat/relative-time.test.ts
  packages/basalt-ui/src/agent-chat/relative-time.ts
  packages/basalt-ui/src/agent-chat/thread-feed-row.test.tsx
  packages/basalt-ui/src/agent-chat/thread-feed-row.tsx
  packages/basalt-ui/src/agent-chat/thread-feed.test.tsx
  packages/basalt-ui/src/agent-chat/thread-feed.tsx
  packages/basalt-ui/src/agent-chat/thread-message.test.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/thread-outcome-card.tsx
  packages/basalt-ui/src/agent-chat/virtualize.ts
  packages/basalt-ui/src/agent-chat/virtualize.type-guard.test.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme/shadow-surfaces.test.ts
Due: biome-check-js, biome-check-json

fix: stop a hydrating store flashing empty and a cascade burying its cause
  packages/basalt-ui/src/agent-chat/thread-workspace.test.tsx
  packages/basalt-ui/src/agent-chat/thread-workspace.tsx
  packages/basalt-ui/src/agent/adapter.test.ts
  packages/basalt-ui/src/agent/adapter.ts
  packages/basalt-ui/src/agent/thread.ts
Due: biome-check-js

fix: mint ids safely off a secure context and never wedge a stopped turn
  packages/basalt-ui/src/agent/ai-sdk-transport.test.ts
  packages/basalt-ui/src/agent/ai-sdk-transport.ts
  packages/basalt-ui/src/agent/id.test.ts
  packages/basalt-ui/src/agent/id.ts
  packages/basalt-ui/src/agent/use-agent-stream.test.tsx
  packages/basalt-ui/src/agent/use-agent-stream.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.wedge.test.tsx
Due: biome-check-js

feat: promote the agent guards and raw-scroll-container to error
  .oxlintrc.json
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
Due: biome-check-js, biome-check-json

test: prove the 1.13.0 surface from outside the package
  apps/playground/src/demo/AgentAnchorToEndDemoPage.tsx
  apps/playground/src/demo/AgentInlineFeedVirtualizedRowDemoPage.tsx
  apps/playground/src/demo/AgentThreadFeedInlineDemoPage.tsx
  apps/playground/src/demo/AgentTranscriptVirtualizeDemoPage.tsx
  apps/playground/src/demo/agent-long-thread.ts
  apps/playground/src/demo/agent-transcript-virtualize.type-guard.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/agent-anchor-to-end.tsx
  apps/playground/src/routes/agent-inline-feed-virtualized.tsx
  apps/playground/src/routes/agent-thread-feed-inline.tsx
  apps/playground/src/routes/agent-transcript-virtualize.tsx
Due: biome-check-js

fix: hold the pack-test consumer inside the peer ranges it declares
  packages/basalt-ui/scripts/pack-test.sh
Due: none

fix: surface a failed thread load instead of an endless skeleton
  packages/basalt-ui/src/agent-chat/thread-workspace.test.tsx
  packages/basalt-ui/src/agent-chat/thread-workspace.tsx
Due: biome-check-js

fix: hold the virtual peer floor at the APIs the transcript calls
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/data/virtual.ts
Due: biome-check-js, biome-check-json

test: stop the relative-time boundary racing the clock
  packages/basalt-ui/src/agent-chat/relative-time.test.ts
Due: biome-check-js

docs: name the virtualization peer and drop a reset that cannot fire
  packages/basalt-ui/README.md
  packages/basalt-ui/src/agent-chat/thread-feed.tsx
Due: biome-check-js

chore: land the demo thread's newest message near now
  apps/playground/src/demo/agent-long-thread.ts
Due: biome-check-js

chore: release 1.13.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  618914815c2ff83f37ba480b21d52b0ae1fe6dcd
Due: none

feat: let the sidebar host arbitrary content in its nav scroll region
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js, biome-check-css

chore: release 1.14.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  ea8f563e755728b32e63ee546cace5f226e87655
Due: none

feat: add x-range chart bands, a dual-axis margin, and legend notes
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/XZoneRects.test.tsx
  packages/basalt-ui/src/charts/primitives/XZoneRects.tsx
  packages/basalt-ui/src/charts/series.test.ts
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/chart-margin.test.ts
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-json

chore: dogfood chartMargin in the playground and record the additions
  apps/playground/src/demo/ChartsPage.tsx
  docs/STATUS.md
Due: biome-check-js

docs: record the chart contract and move the playground onto it
  .oxlintrc.json
  CLAUDE.md
  apps/playground/src/demo/AgentForeignPartsDemoPage.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/data.ts
  docs/CHARTS-SPEC.md
  docs/DESIGN-CORE.md
  docs/STATUS.md
Due: biome-check-js, biome-check-json

chore: release 1.15.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  411032d567204fe58bb95e01042b6c9ff21b340e
Due: none

feat: close the chart-API gaps the first full consumer migration found
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Bars.test.tsx
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.test.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.test.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.test.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/XZoneRects.test.tsx
  packages/basalt-ui/src/charts/primitives/XZoneRects.tsx
  packages/basalt-ui/src/charts/series.test.ts
  packages/basalt-ui/src/charts/series.ts
Due: biome-check-js

docs: record the consumer-gap batch and dogfood the new chart props
  CLAUDE.md
  apps/playground/src/demo/ChartsPage.tsx
  docs/CHARTS-SPEC.md
  docs/STATUS.md
Due: biome-check-js
