Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

fix: add sideEffects and provenance to package.json
  packages/basalt-ui/package.json
Due: biome-check-json

chore: release 0.4.2 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  3face64fb2044bbd17e2d7901845c61764a110d4
Due: none

docs: fix outdated release command and clarify commit type discipline
  CLAUDE.md
Due: none

docs: add master Pencil design reference file for basalt-ui
  packages/basalt-ui/design/basalt-ui.pen
Due: none

feat: rebuild theme as Blueprint-inspired professional dashboard palette
  packages/basalt-ui/NOTICE
  packages/basalt-ui/src/index.css
  packages/basalt-ui/src/starlight.css
Due: biome-check-css

feat: add Blueprint-inspired component showcase with 13 ShadCN components
  apps/marketing/src/components/features/ComponentShowcase.tsx
  apps/marketing/src/components/features/SidebarShowcase.tsx
  apps/marketing/src/components/ui/badge.tsx
  apps/marketing/src/components/ui/checkbox.tsx
  apps/marketing/src/components/ui/popover.tsx
  apps/marketing/src/components/ui/progress.tsx
  apps/marketing/src/components/ui/radio-group.tsx
  apps/marketing/src/components/ui/select.tsx
  apps/marketing/src/components/ui/separator.tsx
  apps/marketing/src/components/ui/slider.tsx
  apps/marketing/src/components/ui/switch.tsx
  apps/marketing/src/components/ui/tabs.tsx
  apps/marketing/src/components/ui/toggle-group.tsx
  apps/marketing/src/components/ui/toggle.tsx
  apps/marketing/src/components/ui/tooltip.tsx
  apps/marketing/src/pages/index.astro
Due: biome-check-js, prettier-astro

feat: add Blueprint shadow system tokens to design system
  packages/basalt-ui/src/index.css
Due: biome-check-css

feat: redesign button and badge components with Blueprint styling
  apps/marketing/src/components/features/ComponentShowcase.tsx
  apps/marketing/src/components/ui/badge.tsx
  apps/marketing/src/components/ui/button.tsx
  apps/marketing/src/components/ui/select.tsx
Due: biome-check-js

feat: refine components for Blueprint density and clarity
  apps/marketing/src/components/features/ComponentShowcase.tsx
  apps/marketing/src/components/ui/badge.tsx
  apps/marketing/src/components/ui/button.tsx
  apps/marketing/src/components/ui/checkbox.tsx
  apps/marketing/src/components/ui/dropdown-menu.tsx
  apps/marketing/src/components/ui/radio-group.tsx
  apps/marketing/src/components/ui/switch.tsx
Due: biome-check-js

feat: add React component layer to basalt-ui package
  packages/basalt-ui/.gitignore
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/components/badge.tsx
  packages/basalt-ui/src/components/button.tsx
  packages/basalt-ui/src/components/checkbox.tsx
  packages/basalt-ui/src/components/dropdown-menu.tsx
  packages/basalt-ui/src/components/radio-group.tsx
  packages/basalt-ui/src/components/switch.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/utils.ts
  packages/basalt-ui/tsconfig.json
  packages/basalt-ui/tsup.config.ts
Due: biome-check-js, biome-check-json

feat: convert marketing app to use basalt-ui React components
  apps/marketing/astro.config.mjs
  apps/marketing/src/components/ui/badge.tsx
  apps/marketing/src/components/ui/button.tsx
  apps/marketing/src/components/ui/checkbox.tsx
  apps/marketing/src/components/ui/dropdown-menu.tsx
  apps/marketing/src/components/ui/radio-group.tsx
  apps/marketing/src/components/ui/switch.tsx
  bun.lock
Due: biome-check-js

chore: hardcode dev ports with auto-kill
  apps/marketing/astro.config.mjs
  apps/marketing/package.json
  examples/react/package.json
  examples/react/vite.config.ts
Due: biome-check-js, biome-check-json

docs: document @source requirement for apps consuming basalt-ui components
  packages/basalt-ui/CLAUDE.md
Due: none

fix: add @source directive to both apps for basalt-ui component utilities
  apps/marketing/src/styles/global.css
  examples/react/src/styles/index.css
Due: biome-check-css

feat: replace palette with Blueprint hex values, square badge corners
  packages/basalt-ui/src/components/badge.tsx
  packages/basalt-ui/src/index.css
  packages/basalt-ui/src/starlight.css
Due: biome-check-js, biome-check-css

feat: add active state to center button in component showcase
  apps/marketing/src/components/features/ComponentShowcase.tsx
Due: biome-check-js

feat: add icon slots, loading, Alert, Slider, Tooltip, InputGroup components
  packages/basalt-ui/src/components/alert.tsx
  packages/basalt-ui/src/components/badge.tsx
  packages/basalt-ui/src/components/button.tsx
  packages/basalt-ui/src/components/checkbox.tsx
  packages/basalt-ui/src/components/dropdown-menu.tsx
  packages/basalt-ui/src/components/input-group.tsx
  packages/basalt-ui/src/components/slider.tsx
  packages/basalt-ui/src/components/tooltip.tsx
  packages/basalt-ui/src/index.css
  packages/basalt-ui/src/index.ts
Due: biome-check-js, biome-check-css

feat: update ComponentShowcase with new Blueprint-style APIs
  apps/marketing/src/components/features/ComponentShowcase.tsx
  apps/marketing/src/components/ui/alert.tsx
  apps/marketing/src/components/ui/input-group.tsx
  apps/marketing/src/components/ui/select.tsx
  apps/marketing/src/components/ui/slider.tsx
  apps/marketing/src/components/ui/tabs.tsx
  apps/marketing/src/components/ui/toggle.tsx
  apps/marketing/src/components/ui/tooltip.tsx
Due: biome-check-js

fix: improve badge warning color and slider disabled state
  packages/basalt-ui/src/components/badge.tsx
  packages/basalt-ui/src/components/slider.tsx
Due: biome-check-js

feat: redesign ComponentShowcase with 3-col layout and improved spacing
  apps/marketing/src/components/features/ComponentShowcase.tsx
  apps/marketing/src/components/ui/toggle.tsx
Due: biome-check-js

fix: fix slider drag and align alert/tooltip to Blueprint style
  packages/basalt-ui/src/components/alert.tsx
  packages/basalt-ui/src/components/slider.tsx
  packages/basalt-ui/src/components/tooltip.tsx
Due: biome-check-js

feat: make component showcase fully interactive
  apps/marketing/src/components/features/ComponentShowcase.tsx
  apps/marketing/src/components/ui/tabs.tsx
  apps/marketing/src/components/ui/toggle.tsx
Due: biome-check-js

feat: switch default font from Instrument Sans to Geist
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/index.css
  packages/basalt-ui/src/starlight.css
Due: biome-check-json, biome-check-css

feat: update all apps to use Geist font
  apps/marketing/astro.config.mjs
  apps/marketing/src/components/features/ComponentShowcase.tsx
  apps/marketing/src/components/starlight/Head.astro
  apps/marketing/src/content/docs/docs/astro-fonts.md
  apps/marketing/src/content/docs/docs/installation.md
  apps/marketing/src/layouts/Layout.astro
  apps/marketing/src/pages/typography.astro
  bun.lock
  examples/react/.claude/settings.local.json
  examples/react/package.json
  examples/react/src/styles/index.css
Due: biome-check-js, biome-check-json, biome-check-css, prettier-astro

ci: use RELEASE_TOKEN to bypass branch protection
  .github/workflows/release.yml
Due: none

feat!: pivot basalt-ui to an opinionated Mantine + React framework
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/bin/basalt.mjs
  packages/basalt-ui/configs/check.yml
  packages/basalt-ui/configs/lefthook.yml
  packages/basalt-ui/configs/oxfmt.json
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/configs/tsconfig.base.json
  packages/basalt-ui/configs/tsconfig.node.json
  packages/basalt-ui/configs/tsconfig.react-app.json
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/index.css
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/app-breadcrumbs.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/page-header.tsx
  packages/basalt-ui/src/starlight.css
  packages/basalt-ui/src/styles.css
  packages/basalt-ui/src/theme-lab/index.tsx
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/vite.ts
  packages/basalt-ui/tailwind.config.js
  packages/basalt-ui/tsconfig.json
  packages/basalt-ui/tsup.config.ts
Due: biome-check-js, biome-check-json, biome-check-css

chore: swap toolchain to oxlint/oxfmt and scaffold the S0 monorepo
  .github/workflows/ci.yml
  .gitignore
  .oxfmtrc.json
  .oxlintignore
  .oxlintrc.json
  .prettierignore
  .prettierrc
  CLAUDE.md
  README.md
  apps/marketing/astro.config.mjs
  apps/marketing/package.json
  apps/marketing/src/styles/basalt/index.css
  apps/marketing/src/styles/basalt/starlight.css
  apps/marketing/src/styles/basalt/tailwind.config.js
  apps/marketing/src/styles/global.css
  apps/playground/index.html
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/main.tsx
  apps/playground/tsconfig.json
  apps/playground/vite.config.ts
  biome.json
  bun.lock
  docs/BLUEPRINT.md
  lefthook.yml
  package.json
  tsconfig.base.json
Due: biome-check-js, biome-check-json, biome-check-css

chore: exempt charts internals from no-underscore-dangle
  .oxlintrc.json
Due: biome-check-json

feat: extract --vx-* token system and visx chart suite from argo
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/fix-esm-extensions.mjs
  packages/basalt-ui/src/charts/hooks/useChartTooltip.ts
  packages/basalt-ui/src/charts/hooks/useHoverSync.ts
  packages/basalt-ui/src/charts/hover-context.ts
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/AreaGradient.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
  packages/basalt-ui/src/charts/primitives/ZoneRects.tsx
  packages/basalt-ui/src/charts/sparklines/BarSparkline.tsx
  packages/basalt-ui/src/charts/sparklines/LineSparkline.tsx
  packages/basalt-ui/src/charts/sparklines/index.ts
  packages/basalt-ui/src/charts/theme.tsx
  packages/basalt-ui/src/charts/utils/format.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-json

chore: allow console in basalt-ui build scripts
  .oxlintrc.json
Due: biome-check-json

feat: extract Mantine theme, provider, and theme-lab from argo
  packages/basalt-ui/package.json
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/theme-lab/index.tsx
  packages/basalt-ui/src/theme/index.ts
Due: biome-check-js, biome-check-json

feat: extract router-agnostic BasaltShell from argo
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/copy-assets.mjs
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-header.module.css.d.ts
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css.d.ts
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/tsup.config.ts
Due: biome-check-js, biome-check-json, biome-check-css

feat: complete the basaltViteConfig vite preset
  packages/basalt-ui/src/vite.ts
Due: biome-check-js

chore: build out the playground into a full framework demo
  apps/playground/index.html
  apps/playground/src/App.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/SettingsPage.tsx
  apps/playground/src/demo/data.ts
  apps/playground/src/demo/icons.tsx
  apps/playground/src/demo/series.ts
  apps/playground/src/demo/use-measure.ts
  apps/playground/src/main.tsx
  apps/playground/vite.config.ts
Due: biome-check-js

feat: ship the agentic layer — basalt-* rules and the init/sync CLI
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-query.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/agent/templates/DESIGN.md.tpl
  packages/basalt-ui/agent/templates/settings.stanza.json
  packages/basalt-ui/bin/basalt.mjs
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js, biome-check-json

feat: add the basalt Claude Code plugin, marketplace, and design doctrine
  .claude-plugin/marketplace.json
  docs/DESIGN-CORE.md
  docs/MANTINE-THEMING.md
  plugins/basalt/.claude-plugin/plugin.json
  plugins/basalt/skills/basalt-app/SKILL.md
  plugins/basalt/skills/basalt-charts/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
Due: biome-check-json

fix: address review findings in the package (CLI + charts + provider)
  packages/basalt-ui/bin/basalt.mjs
  packages/basalt-ui/src/charts/hooks/useChartTooltip.ts
  packages/basalt-ui/src/charts/hooks/useHoverSync.ts
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/utils/ticks.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/theme-lab/index.tsx
Due: biome-check-js

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
