Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

docs: correct the released version and the adoption-gap target in STATUS.md
  docs/STATUS.md
Due: none

docs: point the grace-minor note at the version it will actually ship in
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

chore: release 1.7.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  c6a448a5f7c0102046eae7b22a8fd7dab76da6a5
Due: none

feat: give the stat card's threshold rail a good tone
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/theme/contrast.test.ts
Due: biome-check-js

docs: defer the mantine-shade-index promotion to 1.9.0
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

docs: record the three-valued threshold rail and the released 1.7.0
  docs/DESIGN-SPEC.md
  docs/STATUS.md
Due: none

chore: release 1.8.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  6c568aed47bbcfa4e922b4c9f9ea0ebbd3e23a51
Due: none

feat: portal the chart tooltip out of the svg namespace trap
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
Due: biome-check-js

feat: resolve a sibling's hover key through a consumer seam
  packages/basalt-ui/src/charts/hooks/useHoverSync.ts
Due: biome-check-js

feat: capture chart hover through pointer events
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
Due: biome-check-js

feat: let the date axis take a tick format
  packages/basalt-ui/src/charts/primitives/Axes.tsx
Due: biome-check-js

docs: gate the stat card's tone on coverage, not on definedness
  packages/basalt-ui/src/dashboard/stat-card.tsx
Due: biome-check-js

docs: teach the chart doctrine what the batch changed
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-charts.md
Due: none

docs: record the chart-layer batch and correct the released version
  docs/STATUS.md
Due: none

fix: stop the layout guards firing where their remedy is banned
  packages/basalt-ui/package.json
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js, biome-check-json

fix: stop seeding repo-root files into a subdirectory package
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/placement-engine.test.ts
Due: biome-check-js

docs: record the second shade-index deferral in STATUS
  docs/STATUS.md
Due: none

docs: defer the mantine-shade-index promotion to 1.10.0
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

feat: give charts a pending state
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartPending.tsx
Due: biome-check-js, biome-check-json

chore: release 1.9.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  e1f0c8b77f6f358188840cfd70ca2f26e93a3355
Due: none
