Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

chore: sync bun.lock for the vite-plugin-pwa optional peer
  bun.lock
Due: none

docs: document basaltAppPlugin across the agentic and consumer surfaces
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

docs: drop the shipped PWA vite helper from the STATUS.md kill-list
  docs/STATUS.md
Due: none

fix: respect Vite's base when emitting app URLs
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/src/vite.test.ts
  packages/basalt-ui/src/vite.ts
Due: biome-check-js

feat: add basaltAppPlugin for PWA head, manifest, and icon metadata
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/vite-color-mix.test.ts
  packages/basalt-ui/src/vite-color-mix.ts
  packages/basalt-ui/src/vite.ts
Due: biome-check-js, biome-check-json

feat: embed DeriveControls in playground settings
  apps/playground/src/demo/SettingsPage.tsx
Due: biome-check-js

chore: enforce check-theme in pre and update docs
  CLAUDE.md
  docs/DESIGN-SPEC.md
  docs/STATUS.md
  package.json
Due: biome-check-json

feat: derive the palette from one accent seed
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/theme-lab/derive-controls.tsx
  packages/basalt-ui/src/theme-lab/index.tsx
  packages/basalt-ui/src/theme/contrast.test.ts
  packages/basalt-ui/src/theme/derive-theme.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/tokens/derive.test.ts
  packages/basalt-ui/src/tokens/derive.ts
  packages/basalt-ui/src/tokens/hct.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.test.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-json

feat: add fonts option and derive legendText
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/provider/build-fonts-css.test.ts
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/theme/fonts-option.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js

refactor: route every theme radius through the token layer
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/radius.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js

docs: record the step-2 config dimensions (fonts, radius, legendText)
  CLAUDE.md
  docs/STATUS.md
Due: none

feat: add the radius knob to the theme config
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/agent-chat/thread-outcome-card.tsx
  packages/basalt-ui/src/connectivity/connectivity-indicator.tsx
  packages/basalt-ui/src/content/article-card.module.css
  packages/basalt-ui/src/content/code-block.module.css
  packages/basalt-ui/src/content/mermaid.module.css
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/forms/FormErrorSummary.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/styles.css
  packages/basalt-ui/src/theme-lab/derive-controls.test.ts
  packages/basalt-ui/src/theme-lab/derive-controls.tsx
  packages/basalt-ui/src/theme-toggle/index.tsx
  packages/basalt-ui/src/theme/floating.module.css
  packages/basalt-ui/src/theme/fonts-option.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/radius-option.test.ts
  packages/basalt-ui/src/tokens/build-fonts-css.test.ts
  packages/basalt-ui/src/tokens/build-radius-css.test.ts
  packages/basalt-ui/src/tokens/derive-radius.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-json, biome-check-css

docs: document the fonts and radius options in the package guide
  packages/basalt-ui/CLAUDE.md
Due: none

feat: mention the radius knob in the Derive panel copy
  apps/playground/src/demo/SettingsPage.tsx
Due: biome-check-js

fix: let styles-block radii follow the dev radius slider
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/radius.test.ts
Due: biome-check-js

refactor: route every theme spacing value through the token layer
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js

docs: describe the theme lab as a structural-token inspector
  apps/playground/src/demo/SettingsPage.tsx
Due: biome-check-js

refactor: prune the derived color groups from the theme lab
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme-lab/index.tsx
  packages/basalt-ui/src/theme-lab/theme-lab.test.ts
Due: biome-check-js

refactor: sweep the CSS modules onto the spacing tokens
  packages/basalt-ui/src/content/article-card.module.css
  packages/basalt-ui/src/content/article-layout.module.css
  packages/basalt-ui/src/content/callout.module.css
  packages/basalt-ui/src/content/code-block.module.css
  packages/basalt-ui/src/content/guide.module.css
  packages/basalt-ui/src/content/mermaid.module.css
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/content/reading-progress.module.css
  packages/basalt-ui/src/content/toc.module.css
  packages/basalt-ui/src/dashboard/settings-section.module.css
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/theme/nav-link.module.css
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-css

docs: record the density option in the package guide
  packages/basalt-ui/CLAUDE.md
Due: none

feat: add the density knob to the theme config
  packages/basalt-ui/src/connectivity/connectivity-indicator.tsx
  packages/basalt-ui/src/content/article-layout.module.css
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/content/prose.module.css.test.ts
  packages/basalt-ui/src/provider/index.test.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/theme-lab/derive-controls.test.ts
  packages/basalt-ui/src/theme-lab/derive-controls.tsx
  packages/basalt-ui/src/theme/density-option.test.ts
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/theme/use-basalt-spacing.test.tsx
  packages/basalt-ui/src/theme/use-basalt-spacing.ts
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.test.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-css

docs: record the density dimension and the theme-lab prune
  CLAUDE.md
  apps/playground/src/demo/SettingsPage.tsx
  docs/CONTENT-SPEC.md
  docs/STATUS.md
Due: biome-check-js

feat!: add the density knob to the theme config
  packages/basalt-ui/src/connectivity/connectivity-indicator.tsx
  packages/basalt-ui/src/content/article-layout.module.css
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/content/prose.module.css.test.ts
  packages/basalt-ui/src/provider/index.test.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/theme-lab/derive-controls.test.ts
  packages/basalt-ui/src/theme-lab/derive-controls.tsx
  packages/basalt-ui/src/theme/density-option.test.ts
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/theme/use-basalt-spacing.test.tsx
  packages/basalt-ui/src/theme/use-basalt-spacing.ts
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.test.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-css

fix: strip comments before the theme guard scans
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js
