Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

fix: point every § Unreleased reference at the section the release names
  packages/basalt-ui/scripts/release-migrating.ts
  packages/basalt-ui/tests/drift.test.ts
Due: biome-check-js

chore: sync the dogfood basalt-mantine rule with the useSizeClass line
  .claude/rules/basalt-mantine.md
Due: none

docs: re-point stranded § Unreleased refs, retire basalt-main in 1.32.0
  packages/basalt-ui/MIGRATING.md
Due: none

fix: bottom-align FormGroup's row direction so a trailing button isn't stretched
  packages/basalt-ui/src/forms/form-layout.module.css
  packages/basalt-ui/src/forms/form-layout.tsx
Due: biome-check-js, biome-check-css

chore: release 1.32.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  d4d99d332349237d20eaee0ff66958fed87cb628
Due: none

test: deliver the measured box synchronously in the chart-tier shim
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
Due: biome-check-js

feat: ship CONTAINER_GRID_BREAKPOINTS and let raw-breakpoint trust it
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/size-classes.test.ts
  packages/basalt-ui/src/tokens/size-classes.ts
Due: biome-check-js, biome-check-json

feat: add clearable to NumberFilter for parity with SelectFilter
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/controls/controls.router.test.tsx
  packages/basalt-ui/src/controls/number-filter.tsx
Due: biome-check-js

docs: sync dogfooded basalt-state rule with the resets bullet
  .claude/rules/basalt-state.md
Due: none

feat: add resets to createSearchStore for sibling params like page
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/src/router-tanstack/search-store.router.test.tsx
  packages/basalt-ui/src/router-tanstack/search-store.ts
Due: biome-check-js

perf: keep the theme lab's store out of production first paint
  packages/basalt-ui/src/provider/lab-theme.ts
Due: biome-check-js

perf: budget the provider-only first paint in check-budgets
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/scripts/fixtures/provider-only.ts
Due: biome-check-js

feat: report removed and misspelled --vx-* names as unknown-vx-token
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/scripts/gen-vx-names.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/guard/vx-names.test.ts
  packages/basalt-ui/src/guard/vx-names.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

fix: audit-allows asks oxlint about dual-lane and mixed waivers
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/cli/audit-allows.ts
  packages/basalt-ui/src/cli/waiver-audit.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

chore: sync dogfood basalt-tokens rule coverage header
  .claude/rules/basalt-tokens.md
Due: none

fix: judge a resets write against the URL at navigate time, not the render
  packages/basalt-ui/src/router-tanstack/search-store.router.test.tsx
  packages/basalt-ui/src/router-tanstack/search-store.ts
Due: biome-check-js

refactor: share one FilterClearButton between EnumFilter and NumberFilter
  packages/basalt-ui/src/controls/enum-filter.tsx
  packages/basalt-ui/src/controls/filter-pill.tsx
  packages/basalt-ui/src/controls/number-filter.tsx
Due: biome-check-js

docs: sync dogfooded basalt-state rule with the URL-lane scope
  .claude/rules/basalt-state.md
Due: none

fix: keep the page when clear() leaves a field where it was
  packages/basalt-ui/src/router-tanstack/search-store.router.test.tsx
  packages/basalt-ui/src/router-tanstack/search-store.ts
Due: biome-check-js

docs: scope resets to URL-lane writes and pin the lanes it skips
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/src/router-tanstack/search-store.router.test.tsx
  packages/basalt-ui/src/router-tanstack/search-store.ts
Due: biome-check-js

fix: stop NumberFilter's Clear from committing the draft on its way
  packages/basalt-ui/src/controls/controls.router.test.tsx
  packages/basalt-ui/src/controls/number-filter.tsx
Due: biome-check-js

fix: gate the lab store on the dotted NODE_ENV form, record the fold matrix
  packages/basalt-ui/src/provider/lab-theme.ts
Due: biome-check-js

fix: harden the provider-only budget's build, dist and externals handling
  packages/basalt-ui/scripts/check-budgets.ts
Due: biome-check-js

style: rewrap lab-theme's touched doc comments to 100 columns
  packages/basalt-ui/src/provider/lab-theme.ts
Due: biome-check-js

fix: trust CONTAINER_GRID_BREAKPOINTS read off a namespace import
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

fix: resolve the CONTAINER_GRID_BREAKPOINTS trust through the scope manager
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

perf: fold every dev-only gate out of production bundles
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/src/agent-chat/relative-time.ts
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent/coalesce.ts
  packages/basalt-ui/src/agent/merge.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/commands/define-commands.ts
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/common/boundary.test.ts
  packages/basalt-ui/src/common/dev-gate.test.ts
  packages/basalt-ui/src/common/index.ts
  packages/basalt-ui/src/common/is-dev.ts
  packages/basalt-ui/src/common/validate.ts
  packages/basalt-ui/src/controls/range-filter.tsx
  packages/basalt-ui/src/dashboard/section.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/notifications/mount-guard.test.tsx
  packages/basalt-ui/src/notifications/mount-guard.ts
  packages/basalt-ui/src/provider/index.test.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/mobile-nav-model.ts
  packages/basalt-ui/src/shell/page-bar.tsx
Due: biome-check-js

fix: judge only the vx names basalt claims — removed names and bare roots
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: gen-vx-names reads CSS declarations in ts/tsx and says what QUOTED admits
  packages/basalt-ui/scripts/gen-vx-names.ts
Due: biome-check-js

feat: promote the C1 and breakpoint twin pairs to error
  .oxlintrc.json
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/charts/primitives/legend-disclosure.tsx
  packages/basalt-ui/src/content/article-card.tsx
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js, biome-check-json

fix: audit-allows probes bare line-scope waivers through oxlint
  packages/basalt-ui/src/cli/audit-allows.ts
  packages/basalt-ui/src/cli/waiver-audit.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: break the audit-allows → index → check-theme → audit-allows cycle
  packages/basalt-ui/src/cli/audit-allows.ts
  packages/basalt-ui/src/cli/check-theme.ts
  packages/basalt-ui/src/cli/config.ts
  packages/basalt-ui/src/cli/doctor.ts
  packages/basalt-ui/src/cli/guard-hook.ts
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

fix: keep the page when Reset all moves no field
  packages/basalt-ui/src/router-tanstack/search-store.router.test.tsx
  packages/basalt-ui/src/router-tanstack/search-store.ts
Due: biome-check-js

refactor: route MultiSelectFilter's Clear through FilterClearButton
  packages/basalt-ui/src/controls/filter-pill.tsx
  packages/basalt-ui/src/controls/multi-select-filter.tsx
Due: biome-check-js

test: pin that a clearable NumberFilter at its fallback shows no Clear
  packages/basalt-ui/src/controls/controls.router.test.tsx
Due: biome-check-js

fix: see a --vx reference a formatter wrapped across lines
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: word the bare-waiver oxlint verdict by what it waives, not a fake id
  packages/basalt-ui/src/cli/audit-allows.ts
  packages/basalt-ui/src/cli/waiver-audit.test.ts
Due: biome-check-js

fix: count only real declaration positions as a local --vx declaration
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: print a failed provider-only build as a budget row, not a stack
  packages/basalt-ui/scripts/check-budgets.ts
Due: biome-check-js

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
