Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

feat: size-class shell docking, measured page-bar fold and toast bottom inset
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/scripts/check-theme-css.ts
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/controls/actions.test.tsx
  packages/basalt-ui/src/controls/actions.tsx
  packages/basalt-ui/src/controls/index.ts
  packages/basalt-ui/src/dashboard/section.test.tsx
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-main.module.css
  packages/basalt-ui/src/shell/app-main.module.css.d.ts
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/shell/page-aside.tsx
  packages/basalt-ui/src/shell/page-bar.module.css
  packages/basalt-ui/src/shell/page-bar.tsx
  packages/basalt-ui/src/state/persisted-or-local.ts
  packages/basalt-ui/src/state/persisted.test.ts
  packages/basalt-ui/src/state/persisted.ts
  packages/basalt-ui/src/styles.css
  packages/basalt-ui/src/styles.notifications.test.ts
  packages/basalt-ui/src/theme/icon-slot.test.tsx
  packages/basalt-ui/tests/layout/harness.ts
  packages/basalt-ui/tests/layout/no-horizontal-overflow.layout.test.ts
  packages/basalt-ui/tests/layout/shell-chrome.layout.test.ts
Due: biome-check-js, biome-check-json, biome-check-css

docs: number the header-economy wave for the gate
  docs/waves/PLAN.md
Due: none

docs: close wave 3 and hand off to wave 4
  docs/waves/PLAN.md
  docs/waves/RESPONSIVE-SPEC.md
Due: none

docs: correct the rotated-label spacing law
  docs/CHARTS-SPEC.md
Due: none

chore: drop axis side from playground series labels
  apps/playground/src/demo/ChartsPage.tsx
Due: biome-check-js

docs: state the three-axis responsive law and sync the controls rule
  .claude/rules/basalt-controls.md
  docs/CONTROLS-SPEC.md
  docs/DESIGN-CORE.md
Due: none

docs: plan the responsive, touch and plot-first maturation waves
  docs/waves/PLAN.md
  docs/waves/RESPONSIVE-SPEC.md
Due: none

feat: spend compact-width axes on the plot, not the gutters
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/layout/auto-margin.ts
  packages/basalt-ui/src/charts/primitives/Axes.test.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
Due: biome-check-js

docs: state the chart layout law in CHARTS-SPEC
  docs/CHARTS-SPEC.md
Due: none

fix: economise chart axis space with a shared y-placement ladder
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
Due: biome-check-js

fix: card and legend correctness — hysteresis, dots fit, slot ownership
  packages/basalt-ui/src/charts/hooks/useHysteresis.test.ts
  packages/basalt-ui/src/charts/hooks/useHysteresis.ts
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/layout/end-labels.test.ts
  packages/basalt-ui/src/charts/layout/end-labels.ts
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/src/common/validate.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/tests/layout/card-chrome.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js

fix: make chart touch presses provisional and dismiss on scroll
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/hooks/useChartCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useChartCursor.ts
  packages/basalt-ui/src/charts/hooks/useDiscreteCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useDiscreteCursor.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Donut.test.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.test.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.module.css
  packages/basalt-ui/src/charts/primitives/HoverOverlay.module.css.d.ts
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
  packages/basalt-ui/tests/layout/chart-touch.layout.test.ts
Due: biome-check-js, biome-check-css

docs: close wave 6, close round 2 of the mobile-touch maturation chain
  docs/MATURATION-LEDGER.md
  docs/waves/PLAN.md
Due: none

docs: close wave 3, open wave 4
  docs/waves/PLAN.md
Due: none

feat: fold short-card chart legends to dots, ship the raw-breakpoint guards
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

fix: keep a committed chart pin through a cancelled second press
  packages/basalt-ui/src/charts/cursor/touch-pin.ts
  packages/basalt-ui/src/charts/hooks/use-discrete-cursor.test.tsx
  packages/basalt-ui/src/charts/hooks/use-discrete-cursor.ts
  packages/basalt-ui/src/charts/hooks/use-hysteresis.test.ts
  packages/basalt-ui/src/charts/hooks/use-hysteresis.ts
  packages/basalt-ui/src/charts/hooks/useChartCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useChartCursor.ts
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/tests/layout/chart-touch.layout.test.ts
Due: biome-check-js

docs: close wave 10, open wave 11
  docs/waves/PLAN.md
Due: none

fix: give the plot its space — inside-y floor, wrap law, height clamp
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/charts/utils/ticks.test.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
  packages/basalt-ui/tests/layout/charts.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js

docs: update the coarse-pointer touch model in CHARTS-SPEC
  docs/CHARTS-SPEC.md
Due: none

feat: drop the dead chart-tier API and consolidate media-query hooks
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/height-responsive.test.tsx
  packages/basalt-ui/src/charts/layout/auto-margin.ts
  packages/basalt-ui/src/charts/layout/painted-labels.test.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
  packages/basalt-ui/src/common/use-media-query.ts
  packages/basalt-ui/src/dashboard/stat-group.module.css
  packages/basalt-ui/src/dashboard/widget-grid.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/provider/host.test.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/use-breakpoint.ts
  packages/basalt-ui/src/shell/use-size-class.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js, biome-check-json, biome-check-css

docs: close wave 9, open wave 10
  docs/waves/PLAN.md
Due: none

docs: drop playground keyboard-inset workarounds, record wave 10 doctrine
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/threads/ThreadsPage.tsx
  docs/CONTROLS-SPEC.md
  docs/archive/CONTENT-SPEC.md
Due: biome-check-js

docs: repoint deleted RESPONSIVE-SPEC.md citations, extend the doc-drift gate
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/MATURATION-LEDGER.md
  docs/waves/PLAN.md
  tests/agent-doc-drift.test.ts
Due: biome-check-js

docs: migrate playground grids to WidgetGrid, close the mobile-touch chain
  .claude/rules/basalt-mantine.md
  .oxlintrc.json
  apps/playground/src/demo/AgentThreadFeedInlineDemoPage.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/ComponentsPage.tsx
  apps/playground/src/demo/StatesPage.tsx
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/MATURATION-LEDGER.md
  docs/STATUS.md
  docs/waves/PLAN.md
  docs/waves/RESPONSIVE-SPEC.md
Due: biome-check-js, biome-check-json

fix: touch floors, filter hit gap, form-row container width, composer padding
  packages/basalt-ui/src/agent-chat/composer.test.tsx
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/controls/enum-filter.tsx
  packages/basalt-ui/src/controls/filter-context.tsx
  packages/basalt-ui/src/controls/multi-select-filter.test.tsx
  packages/basalt-ui/src/controls/multi-select-filter.tsx
  packages/basalt-ui/src/controls/select-filter.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/forms/form-layout.module.css
  packages/basalt-ui/src/forms/form-layout.module.css.d.ts
  packages/basalt-ui/src/forms/form-layout.test.tsx
  packages/basalt-ui/src/forms/form-layout.tsx
  packages/basalt-ui/src/shell/app-main.module.css
  packages/basalt-ui/src/theme/hit-adopters.test.tsx
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/tokens/breakpoint-literals.test.ts
  packages/basalt-ui/tests/layout/data-table.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
  packages/basalt-ui/tests/layout/form-row.layout.test.ts
Due: biome-check-js, biome-check-css

docs: close wave 8, open wave 9
  docs/waves/PLAN.md
Due: none

feat: pin chart tooltips on tap, add keyboard parity to donut and heatmap
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/hooks/useChartCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useChartCursor.ts
  packages/basalt-ui/src/charts/hooks/useDiscreteCursor.test.tsx
  packages/basalt-ui/src/charts/hooks/useDiscreteCursor.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Donut.test.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.test.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/HoverOverlay.tsx
  packages/basalt-ui/tests/layout/chart-touch.layout.test.ts
Due: biome-check-js

docs: close wave 1, open wave 2
  docs/waves/PLAN.md
Due: none

feat: fold DataTable columns, warn short rows, sheet the TOC, pin composer keys
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/agent-chat/use-keyboard-inset.test.tsx
  packages/basalt-ui/src/agent-chat/use-keyboard-inset.ts
  packages/basalt-ui/src/content/article-layout.module.css
  packages/basalt-ui/src/content/article-layout.module.css.d.ts
  packages/basalt-ui/src/content/article-layout.test.tsx
  packages/basalt-ui/src/content/article-layout.tsx
  packages/basalt-ui/src/content/code-block.module.css
  packages/basalt-ui/src/content/code-block.test.tsx
  packages/basalt-ui/src/content/code-block.tsx
  packages/basalt-ui/src/data/data-table-containment.test.tsx
  packages/basalt-ui/src/data/data-table.module.css
  packages/basalt-ui/src/data/data-table.module.css.d.ts
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/virtual-list.test.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/tests/layout/data-table.layout.test.ts
Due: biome-check-js, biome-check-css

docs: make review and chaining mandatory, queue the short-card legend fix
  docs/waves/PLAN.md
Due: none

docs: plan round-2 waves from the second review cycle
  docs/waves/PLAN.md
Due: none

docs: close wave 4, open wave 5
  docs/waves/PLAN.md
Due: none

docs: close wave 2, open wave 3
  docs/waves/PLAN.md
Due: none

docs: strike the fixed round-2 carried gaps from the ledger
  docs/MATURATION-LEDGER.md
Due: none

refactor: drop literal chart heights and digit-grouping-only y formats
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
Due: biome-check-js

docs: close wave 5, open wave 6
  docs/waves/PLAN.md
Due: none

chore: give the whole-tree doc-drift scan room past the 5s default
  packages/basalt-ui/tests/layout/card-chrome.layout.test.ts
  tests/agent-doc-drift.test.ts
Due: biome-check-js

docs: record the deferred pre-release review follow-ups
  docs/MATURATION-LEDGER.md
Due: none

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
