Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

feat: render no legend when a single series has no legend config
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
Due: biome-check-js

feat: one home per field on the CBBI page
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  apps/playground/src/demo/cbbi/cbbi-view.ts
Due: biome-check-js

docs: record the seam doctrine, the phone row, the group tier and the log axis
  docs/ASIDE-SPEC.md
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/DESIGN-SPEC.md
  docs/MANTINE-THEMING.md
  docs/STATUS.md
Due: none

feat: null gaps, log guards and measured x ticks in the chart layer
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.test.tsx
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Bars.test.tsx
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.test.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.test.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.test.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/src/charts/utils/ticks.test.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/utils/is-dev.ts
Due: biome-check-js

feat: rename the forms field helper to inputProps
  packages/basalt-ui/src/forms/FormErrorSummary.tsx
  packages/basalt-ui/src/forms/create-form.test.tsx
  packages/basalt-ui/src/forms/create-form.ts
  packages/basalt-ui/src/forms/field.test.ts
  packages/basalt-ui/src/forms/field.ts
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/forms/use-form-draft.ts
Due: biome-check-js

fix: keep the mobile nav bar at its 48px touch floor under the seam
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
Due: biome-check-js

feat: drop test files from the tarball and add a package.json export
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-dist-layering.mjs
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/scripts/export-surface.mjs
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/tsconfig.build.json
Due: biome-check-js, biome-check-json

feat: typed facet ids, a VirtualList ref handle and a required getItemKey
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/data/virtual-list.test.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/data/virtual.ts
Due: biome-check-js

fix: raw-size-literal was inert in its own test fixture
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

feat: split theme-lab boot helpers into an SSR-safe module
  packages/basalt-ui/src/theme-lab/boot.test.ts
  packages/basalt-ui/src/theme-lab/boot.ts
  packages/basalt-ui/src/theme-lab/index.tsx
Due: biome-check-js

refactor: keep state internals off the barrel and make data exports explicit
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/router-tanstack/field.ts
  packages/basalt-ui/src/router-tanstack/search-store.ts
  packages/basalt-ui/src/state.ts
  packages/basalt-ui/src/state.type-guard.test.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

test: isomorphic smoke harness over every public barrel
  packages/basalt-ui/tests/isomorphic/harness.ts
  packages/basalt-ui/tests/isomorphic/isomorphic.test.tsx
  packages/basalt-ui/tests/isomorphic/props.tsx
Due: biome-check-js

docs: migration notes, regenerated llms.txt and rule docs for this round
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/llms.txt
Due: none

chore: regenerate .oxlintrc.json for the widened state glob
  .oxlintrc.json
Due: biome-check-json

docs: charts spec for the null-gap and tick laws, and the maturation ledger
  docs/CHARTS-SPEC.md
  docs/MATURATION-LEDGER.md
Due: none

feat: playground follows the inputProps rename and the overlay mount change
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
Due: biome-check-js

feat: one connectivity prop, guarded wiring, non-blocking overlay mount
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
  packages/basalt-ui/src/agent-chat/relative-time.ts
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent/coalesce.ts
  packages/basalt-ui/src/agent/merge.ts
  packages/basalt-ui/src/commands/define-commands.ts
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/overlays-mount.test.tsx
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/connectivity/connectivity-provider.test.tsx
  packages/basalt-ui/src/connectivity/connectivity-provider.tsx
  packages/basalt-ui/src/connectivity/types.ts
  packages/basalt-ui/src/connectivity/use-connectivity.ts
  packages/basalt-ui/src/notifications/mount-guard.test.tsx
  packages/basalt-ui/src/notifications/mount-guard.ts
  packages/basalt-ui/src/notifications/overlay.tsx
  packages/basalt-ui/src/provider/index.test.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/provider/index.type-guard.test.ts
  packages/basalt-ui/src/provider/lab-theme.ts
Due: biome-check-js

fix: forward every WidgetHeader prop a Section accepts
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/empty-state.test.tsx
  packages/basalt-ui/src/dashboard/empty-state.tsx
  packages/basalt-ui/src/dashboard/query-state.test.tsx
  packages/basalt-ui/src/dashboard/query-state.tsx
  packages/basalt-ui/src/section/section.test.tsx
  packages/basalt-ui/src/section/section.tsx
Due: biome-check-js

feat: stress routes in the playground for charts, data, states and primitives
  apps/playground/src/demo/ChartsPrimitivesPage.tsx
  apps/playground/src/demo/ChartsStressPage.tsx
  apps/playground/src/demo/DataDemoPage.tsx
  apps/playground/src/demo/DataStressPage.tsx
  apps/playground/src/demo/DataTableChromeDemoPage.tsx
  apps/playground/src/demo/PrimitivesPage.tsx
  apps/playground/src/demo/StatesPage.tsx
  apps/playground/src/demo/data-stress-store.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/charts-primitives.tsx
  apps/playground/src/routes/charts-stress.tsx
  apps/playground/src/routes/data-stress.tsx
  apps/playground/src/routes/primitives.tsx
  apps/playground/src/routes/states.tsx
Due: biome-check-js

feat: shared common primitives for props, refs, errors and validation
  packages/basalt-ui/src/common/boundary.test.ts
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/src/common/index.ts
  packages/basalt-ui/src/common/props.test.ts
  packages/basalt-ui/src/common/props.ts
  packages/basalt-ui/src/common/refs.test.tsx
  packages/basalt-ui/src/common/refs.ts
  packages/basalt-ui/src/common/validate.test.tsx
  packages/basalt-ui/src/common/validate.ts
Due: biome-check-js

fix: keep the sticky table header at the scroller's top edge
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/data/virtual-list.test.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/data/virtual.ts
  packages/basalt-ui/tests/layout/data-table.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js

feat: guard the wiring doctrines and give deprecations a lifecycle
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/gen-llms.ts
  packages/basalt-ui/src/cli/check-coverage.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tsconfig.build.json
  packages/basalt-ui/tsconfig.json
Due: biome-check-js, biome-check-json

test: own the Chrome process in the layout harness
  packages/basalt-ui/tests/layout/boot-color-scheme.layout.test.ts
  packages/basalt-ui/tests/layout/harness.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
Due: biome-check-js

docs: migration notes, common primitives and the deprecation lifecycle
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
Due: none

build: fold the unit suite into pre and add a make verify gate
  .oxlintrc.json
  CLAUDE.md
  Makefile
  package.json
Due: biome-check-json

fix: import the cbbi query types through basalt-ui/query
  apps/playground/src/demo/cbbi/cbbi-query.ts
Due: biome-check-js

docs: charts spec for the phone tier, curves, formats and states; ledger
  docs/CHARTS-SPEC.md
  docs/MATURATION-LEDGER.md
Due: none

feat: measured rotated-label margins, heatmap thinning and a live legend rollup
  packages/basalt-ui/src/charts/kinds/BandStrip.test.tsx
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/layout/auto-margin.test.ts
  packages/basalt-ui/src/charts/layout/auto-margin.ts
  packages/basalt-ui/src/charts/layout/painted-labels.test.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/utils/ticks.test.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
Due: biome-check-js

feat: overlays.confirm and notifyUndo
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/src/commands/confirm.test.tsx
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/index.ts
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/notifications/index.ts
  packages/basalt-ui/src/notifications/notify-undo.test.tsx
  packages/basalt-ui/src/notifications/notify.tsx
Due: biome-check-js

feat: query-aware containers, row activation, selection and typed actions
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/src/common/index.ts
  packages/basalt-ui/src/common/query-state-like.ts
  packages/basalt-ui/src/controls/actions.test.tsx
  packages/basalt-ui/src/controls/actions.tsx
  packages/basalt-ui/src/data/data-table.module.css
  packages/basalt-ui/src/data/data-table.module.css.d.ts
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/query-branch.test.ts
  packages/basalt-ui/src/data/query-branch.ts
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/data/virtual-list.test.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/section/section.test.tsx
  packages/basalt-ui/src/section/section.tsx
Due: biome-check-js, biome-check-css

docs: migration notes for the wave 3 surface
  packages/basalt-ui/MIGRATING.md
Due: none

fix: mount the aside panel's children once on the phone path
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/shell/page-aside.tsx
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/main.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
  packages/basalt-ui/tests/layout/page-aside.layout.test.ts
Due: biome-check-js

chore: lint ignores the session scratch directory
  .oxlintrc.json
Due: biome-check-json

feat: a widget grid, a stat group, a query-aware stat card and header slices
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/dashboard/empty-state.tsx
  packages/basalt-ui/src/dashboard/index.ts
  packages/basalt-ui/src/dashboard/query-state.test.tsx
  packages/basalt-ui/src/dashboard/query-state.tsx
  packages/basalt-ui/src/dashboard/settings-section.tsx
  packages/basalt-ui/src/dashboard/stat-card-props.test.ts
  packages/basalt-ui/src/dashboard/stat-card-query.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/dashboard/stat-group.module.css
  packages/basalt-ui/src/dashboard/stat-group.module.css.d.ts
  packages/basalt-ui/src/dashboard/stat-group.tsx
  packages/basalt-ui/src/dashboard/widget-grid.module.css
  packages/basalt-ui/src/dashboard/widget-grid.module.css.d.ts
  packages/basalt-ui/src/dashboard/widget-grid.test.tsx
  packages/basalt-ui/src/dashboard/widget-grid.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/widget-header/index.ts
  packages/basalt-ui/src/widget-header/slices.test.ts
  packages/basalt-ui/src/widget-header/widget-header.tsx
Due: biome-check-js, biome-check-json, biome-check-css

docs: aside exception, breakpoint law, label margins and the ledger
  docs/ASIDE-SPEC.md
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/MATURATION-LEDGER.md
Due: none

feat: a form layer on top of the @mantine/form adapter
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/forms/FormErrorSummary.tsx
  packages/basalt-ui/src/forms/create-form.test.tsx
  packages/basalt-ui/src/forms/create-form.ts
  packages/basalt-ui/src/forms/field.test.ts
  packages/basalt-ui/src/forms/field.test.tsx
  packages/basalt-ui/src/forms/field.ts
  packages/basalt-ui/src/forms/form-layout.module.css
  packages/basalt-ui/src/forms/form-layout.module.css.d.ts
  packages/basalt-ui/src/forms/form-layout.test.tsx
  packages/basalt-ui/src/forms/form-layout.tsx
  packages/basalt-ui/src/forms/form-state.test.tsx
  packages/basalt-ui/src/forms/form-state.tsx
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/forms/use-field-array.test.tsx
  packages/basalt-ui/src/forms/use-field-array.ts
  packages/basalt-ui/src/forms/use-form-draft.test.tsx
  packages/basalt-ui/src/forms/use-form-draft.ts
  packages/basalt-ui/src/forms/use-form-submit.test.tsx
  packages/basalt-ui/src/forms/use-form-submit.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tests/isomorphic/props.tsx
Due: biome-check-js, biome-check-json, biome-check-css

feat: form rows are control homes and a rule catches the missing field key
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/cli/check-coverage.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js, biome-check-json

feat: notification payloads narrow per kind
  packages/basalt-ui/src/notifications/define-notifications.ts
  packages/basalt-ui/src/notifications/define-notifications.type-guard.test.ts
Due: biome-check-js

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
