Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

fix: stop a typo'd band state from asserting absence
  packages/basalt-ui/src/charts/kinds/BandStrip.test.tsx
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.test.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
Due: biome-check-js

docs: record the band-state throw, the tag gate, and the CLI's version answer
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
Due: none

chore: release 1.23.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  aab6d0731707468a9b2fb55c09cb50b4c3213846
Due: none

feat: ship the query loading/error branch and the table body chrome
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/dashboard/empty-state.tsx
  packages/basalt-ui/src/dashboard/index.ts
  packages/basalt-ui/src/dashboard/query-state.test.tsx
  packages/basalt-ui/src/dashboard/query-state.tsx
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/query/error-message.test.ts
  packages/basalt-ui/src/query/error-message.ts
  packages/basalt-ui/src/query/index.ts
Due: biome-check-js, biome-check-json

feat: playground routes for QueryState and the table body chrome
  apps/playground/src/data-table-align.type-guard.ts
  apps/playground/src/demo/DataTableChromeDemoPage.tsx
  apps/playground/src/demo/QueryStateDemoPage.tsx
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/data-table-chrome.tsx
  apps/playground/src/routes/query-state.tsx
Due: biome-check-js

fix: stop check-theme fabricating a config, and re-gate the provenance line
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/tokens-css.test.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
Due: biome-check-js

fix: stop raw-hex reading HTML entities, and teach the guard the SFC dialect
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

docs: stop the README reseeding bunx, and record the two app-layer asks
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-data.md
  packages/basalt-ui/agent/rules/basalt-query.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
Due: none

docs: record round 9, and compress rounds 4 and 5 for the room
  docs/STATUS.md
Due: none

docs: stop the query subset claiming the barrel is react-query-free
  packages/basalt-ui/src/dashboard/query-state.tsx
Due: biome-check-js

docs: name the query-state components in the root surface
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

test: boot the layout suite at top level, under a budget that names its phase
  packages/basalt-ui/tests/layout/boot-color-scheme.layout.test.ts
  packages/basalt-ui/tests/layout/harness.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
Due: biome-check-js

ci: assert tarball contents from a file, not an echo|grep pipeline
  packages/basalt-ui/scripts/pack-test.sh
Due: none

chore: release 1.24.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  a4c33b9180a1b4f2f884ab28df59addcede9a44c
Due: none

docs: drop two claims about QueryState nobody had measured
  packages/basalt-ui/agent/rules/basalt-query.md
  packages/basalt-ui/src/dashboard/query-state.tsx
Due: biome-check-js

feat: make manualPagination refuse every prop that would misreport
  packages/basalt-ui/agent/rules/basalt-data.md
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/table.ts
Due: biome-check-js

docs: widen the table port cost to what argo actually measured
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
Due: none

docs: widen the table port cost to argo's measured range
  docs/STATUS.md
Due: none

chore: release 1.25.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  9dd8463ae22431f5926f9ff499b145eeb22f72b0
Due: none

fix: align shell comments and ChartCard rem fallbacks with the derived scale
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/nav-count-badge.tsx
  packages/basalt-ui/src/shell/page-header.tsx
  packages/basalt-ui/src/theme/controls.module.css
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-css

docs: correct stale shell, density and release-ledger claims
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/RouterDemoPage.tsx
  apps/playground/src/demo/nav-model.tsx
  docs/ARGO-MIGRATION-LEARNINGS.md
  docs/DESIGN-CORE.md
  docs/DESIGN-SPEC.md
  docs/MANTINE-THEMING.md
  docs/STATUS.md
Due: biome-check-js

docs: add the controls spec and its evidence ledger
  docs/CONTROLS-SPEC.md
  docs/DESIGN-SPEC.md
  docs/STATUS.md
  docs/archive/CONTROLS-SYNTHESIS.md
Due: none

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
