Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

test: own the Chrome process in the layout harness
  packages/basalt-ui/tests/layout/boot-color-scheme.layout.test.ts
  packages/basalt-ui/tests/layout/harness.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
Due: biome-check-js

chore: register the forms-field-key rule in the repo-local lint
  .oxlintrc.json
Due: biome-check-json

feat: let the CBBI page fold price and confidence into one dual-axis chart
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  apps/playground/src/demo/cbbi/cbbi-store.ts
  apps/playground/src/routes/cbbi.tsx
Due: biome-check-js

feat: notification payloads narrow per kind
  packages/basalt-ui/src/notifications/define-notifications.ts
  packages/basalt-ui/src/notifications/define-notifications.type-guard.test.ts
Due: biome-check-js

feat: render no legend when a single series has no legend config
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
Due: biome-check-js

feat: query-aware containers, row activation, selection and typed actions
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/src/common/index.ts
  packages/basalt-ui/src/common/query-state-like.ts
  packages/basalt-ui/src/controls/actions.test.tsx
  packages/basalt-ui/src/controls/actions.tsx
  packages/basalt-ui/src/data/data-table.module.css
  packages/basalt-ui/src/data/data-table.module.css.d.ts
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/query-branch.test.ts
  packages/basalt-ui/src/data/query-branch.ts
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/data/virtual-list.test.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/section/section.test.tsx
  packages/basalt-ui/src/section/section.tsx
Due: biome-check-js, biome-check-css

docs: aside exception, breakpoint law, label margins and the ledger
  docs/ASIDE-SPEC.md
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/MATURATION-LEDGER.md
Due: none

feat: typed facet ids, a VirtualList ref handle and a required getItemKey
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/data/virtual-list.test.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/data/virtual.ts
Due: biome-check-js

docs: charts spec for the phone tier, curves, formats and states; ledger
  docs/CHARTS-SPEC.md
  docs/MATURATION-LEDGER.md
Due: none

feat: measured rotated-label margins, heatmap thinning and a live legend rollup
  packages/basalt-ui/src/charts/kinds/BandStrip.test.tsx
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/layout/auto-margin.test.ts
  packages/basalt-ui/src/charts/layout/auto-margin.ts
  packages/basalt-ui/src/charts/layout/painted-labels.test.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/utils/ticks.test.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
Due: biome-check-js

build: fold the unit suite into pre and add a make verify gate
  .oxlintrc.json
  CLAUDE.md
  Makefile
  package.json
Due: biome-check-json

docs: migration notes, composition order and the forms surface
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
Due: none

docs: record the bound-control guard, the aside rule and the G11 close
  docs/ASIDE-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/STATUS.md
Due: none

fix: keep the mobile nav bar at its 48px touch floor under the seam
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
Due: biome-check-js

feat: render bound controls as panel rows inside PageAside
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/controls/controls.module.css
  packages/basalt-ui/src/controls/controls.module.css.d.ts
  packages/basalt-ui/src/controls/controls.router.test.tsx
  packages/basalt-ui/src/controls/enum-filter.tsx
  packages/basalt-ui/src/controls/filter-context.tsx
  packages/basalt-ui/src/controls/filter-sheet.tsx
  packages/basalt-ui/src/controls/index.ts
  packages/basalt-ui/src/controls/multi-select-filter.tsx
  packages/basalt-ui/src/controls/number-filter.tsx
  packages/basalt-ui/src/controls/panel-row.module.css
  packages/basalt-ui/src/controls/panel-row.module.css.d.ts
  packages/basalt-ui/src/controls/panel-row.tsx
  packages/basalt-ui/src/controls/range-filter.tsx
  packages/basalt-ui/src/controls/search-filter.tsx
  packages/basalt-ui/src/controls/slider-control.tsx
  packages/basalt-ui/src/controls/toggle-filter.tsx
  packages/basalt-ui/src/controls/view-tabs.tsx
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/section/section.tsx
  packages/basalt-ui/src/shell/isomorphic-layout-effect.ts
  packages/basalt-ui/src/shell/page-aside.module.css
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/shell/page-aside.tsx
  packages/basalt-ui/src/shell/page-bar.module.css
  packages/basalt-ui/src/shell/page-bar.module.css.d.ts
  packages/basalt-ui/src/shell/page-bar.tsx
  packages/basalt-ui/src/state/fields.test.tsx
  packages/basalt-ui/src/state/fields.ts
  packages/basalt-ui/src/state/persisted-or-local.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme/ctl-theme.tsx
  packages/basalt-ui/src/theme/ctl-tier-coverage.test.ts
  packages/basalt-ui/src/theme/divider-law.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/widget-header/widget-header.tsx
Due: biome-check-js, biome-check-json, biome-check-css

feat: shared common primitives for props, refs, errors and validation
  packages/basalt-ui/src/common/boundary.test.ts
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/src/common/index.ts
  packages/basalt-ui/src/common/props.test.ts
  packages/basalt-ui/src/common/props.ts
  packages/basalt-ui/src/common/refs.test.tsx
  packages/basalt-ui/src/common/refs.ts
  packages/basalt-ui/src/common/validate.test.tsx
  packages/basalt-ui/src/common/validate.ts
Due: biome-check-js

build: give every layout test the 60s ceiling bun only takes from --timeout
  package.json
Due: biome-check-json

docs: record the panel surface in the controls and aside specs
  docs/ASIDE-SPEC.md
  docs/CONTROLS-SPEC.md
Due: none

feat: more-sheet rows share the sidebar's density and keep a gutter
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css.d.ts
  packages/basalt-ui/src/shell/app-mobile-nav.test.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/mobile-nav-model.test.ts
  packages/basalt-ui/src/shell/mobile-nav-model.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
Due: biome-check-js, biome-check-css

docs: migration notes, common primitives and the deprecation lifecycle
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
Due: none

feat: overlays.confirm and notifyUndo
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/src/commands/confirm.test.tsx
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/index.ts
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/notifications/index.ts
  packages/basalt-ui/src/notifications/notify-undo.test.tsx
  packages/basalt-ui/src/notifications/notify.tsx
Due: biome-check-js

feat: a form layer on top of the @mantine/form adapter
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/forms/FormErrorSummary.tsx
  packages/basalt-ui/src/forms/create-form.test.tsx
  packages/basalt-ui/src/forms/create-form.ts
  packages/basalt-ui/src/forms/field.test.ts
  packages/basalt-ui/src/forms/field.test.tsx
  packages/basalt-ui/src/forms/field.ts
  packages/basalt-ui/src/forms/form-layout.module.css
  packages/basalt-ui/src/forms/form-layout.module.css.d.ts
  packages/basalt-ui/src/forms/form-layout.test.tsx
  packages/basalt-ui/src/forms/form-layout.tsx
  packages/basalt-ui/src/forms/form-state.test.tsx
  packages/basalt-ui/src/forms/form-state.tsx
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/forms/use-field-array.test.tsx
  packages/basalt-ui/src/forms/use-field-array.ts
  packages/basalt-ui/src/forms/use-form-draft.test.tsx
  packages/basalt-ui/src/forms/use-form-draft.ts
  packages/basalt-ui/src/forms/use-form-submit.test.tsx
  packages/basalt-ui/src/forms/use-form-submit.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tests/isomorphic/props.tsx
Due: biome-check-js, biome-check-json, biome-check-css

test: measure charts in real Chrome
  packages/basalt-ui/tests/layout/charts.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js

feat: split theme-lab boot helpers into an SSR-safe module
  packages/basalt-ui/src/theme-lab/boot.test.ts
  packages/basalt-ui/src/theme-lab/boot.ts
  packages/basalt-ui/src/theme-lab/index.tsx
Due: biome-check-js

feat: playground follows the inputProps rename and the overlay mount change
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
Due: biome-check-js

test: isomorphic smoke harness over every public barrel
  packages/basalt-ui/tests/isomorphic/harness.ts
  packages/basalt-ui/tests/isomorphic/isomorphic.test.tsx
  packages/basalt-ui/tests/isomorphic/props.tsx
Due: biome-check-js

docs: record the seam doctrine, the phone row, the group tier and the log axis
  docs/ASIDE-SPEC.md
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/DESIGN-SPEC.md
  docs/MANTINE-THEMING.md
  docs/STATUS.md
Due: none

fix: widget header actions wrap at phone width, notification center fills
  packages/basalt-ui/src/notifications/bell.tsx
  packages/basalt-ui/src/notifications/center.test.tsx
  packages/basalt-ui/src/notifications/center.tsx
  packages/basalt-ui/src/widget-header/widget-header.module.css
  packages/basalt-ui/src/widget-header/widget-header.test.tsx
Due: biome-check-js, biome-check-css

docs: the shell scrollport, the fit-check law and wave 8 in the ledger
  docs/ASIDE-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/DESIGN-SPEC.md
  docs/MANTINE-THEMING.md
  docs/MATURATION-LEDGER.md
  docs/STATUS.md
Due: none

feat: form rows are control homes and a rule catches the missing field key
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/cli/check-coverage.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js, biome-check-json

feat: let SliderControl compose its readout and carry an end control
  packages/basalt-ui/src/controls/slider-control.tsx
Due: biome-check-js

feat: add the CBBI live-data evidence page to the playground
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  apps/playground/src/demo/cbbi/cbbi-data.ts
  apps/playground/src/demo/cbbi/cbbi-query.ts
  apps/playground/src/demo/cbbi/cbbi-store.ts
  apps/playground/src/demo/cbbi/cbbi-view.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/cbbi.tsx
Due: biome-check-js

fix: mount the aside panel's children once on the phone path
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/shell/page-aside.tsx
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/main.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
  packages/basalt-ui/tests/layout/page-aside.layout.test.ts
Due: biome-check-js

feat: diagnose, preset and advise in the CBBI aside
  .gitignore
  .oxlintrc.json
  apps/playground/package.json
  apps/playground/scripts/cbbi-analysis/README.md
  apps/playground/scripts/cbbi-analysis/common.py
  apps/playground/scripts/cbbi-analysis/q2.py
  apps/playground/scripts/cbbi-analysis/q3.py
  apps/playground/scripts/cbbi-analysis/q4.py
  apps/playground/src/demo/ControlsMobilePage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/cbbi/ANALYSIS.md
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  apps/playground/src/demo/cbbi/cbbi-data.ts
  apps/playground/src/demo/cbbi/cbbi-diagnostics.test.ts
  apps/playground/src/demo/cbbi/cbbi-diagnostics.ts
  apps/playground/src/demo/cbbi/cbbi-outlook.test.ts
  apps/playground/src/demo/cbbi/cbbi-outlook.ts
  apps/playground/src/demo/cbbi/cbbi-store.ts
  apps/playground/src/demo/cbbi/cbbi-view.ts
  apps/playground/tsconfig.json
  apps/playground/tsconfig.test.json
  bun.lock
Due: biome-check-js, biome-check-json

fix: give PageBar row 2 a declared two-line phone form
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/src/controls/actions.tsx
  packages/basalt-ui/src/shell/page-bar.module.css
  packages/basalt-ui/src/shell/page-bar.module.css.d.ts
  packages/basalt-ui/src/shell/page-bar.test.tsx
  packages/basalt-ui/src/shell/page-bar.tsx
  packages/basalt-ui/src/theme/layout-rhythm-css.test.ts
Due: biome-check-js, biome-check-css

chore: regenerate .oxlintrc.json for the widened state glob
  .oxlintrc.json
Due: biome-check-json

test: raise Testing Library's async ceiling to 5s in the shared preload
  tests/setup/dom.ts
Due: biome-check-js

docs: record the CBBI metric analysis behind the panel diagnostics
  apps/playground/scripts/cbbi-analysis/common.py
  apps/playground/scripts/cbbi-analysis/core.py
  apps/playground/scripts/cbbi-analysis/extrema.py
  apps/playground/scripts/cbbi-analysis/q2.py
  apps/playground/scripts/cbbi-analysis/q3.py
  apps/playground/scripts/cbbi-analysis/q3b.py
  apps/playground/scripts/cbbi-analysis/q3c.py
  apps/playground/scripts/cbbi-analysis/q4.py
  apps/playground/scripts/cbbi-analysis/q5.py
  apps/playground/src/demo/cbbi/ANALYSIS.md
Due: none

feat: playground demos follow the shell scrollport and fit-checked tracks
  apps/playground/src/demo/ControlsMobilePage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/nav-model.tsx
Due: biome-check-js

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
