Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

chore: prove the typed augment path and new APIs in the playground
  apps/playground/src/App.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/DataDemoPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/QueryDemoPage.tsx
  apps/playground/src/main.tsx
Due: biome-check-js

test: gate the AGENTS.md subpath table against the SURFACES SSOT
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/tests/agents-sync.test.ts
Due: biome-check-js

feat: make token factories const-generic and exact-keyed
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

docs: sync blueprint and handover with phase-0 execution
  docs/BLUEPRINT.md
  docs/EXECUTION-HANDOVER.md
Due: none

fix: use when_to_use frontmatter key in basalt skills
  plugins/basalt/skills/basalt-app/SKILL.md
  plugins/basalt/skills/basalt-charts/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
Due: none

chore: add root test script
  package.json
Due: biome-check-json

chore: move playground dev port to 7710
  apps/playground/package.json
  apps/playground/vite.config.ts
Due: biome-check-js, biome-check-json

fix: define process.env.NODE_ENV in vite preset for source-served basalt-ui
  packages/basalt-ui/src/vite.ts
Due: biome-check-js

fix: apply NavLink active weight via classNames, not a nested styles selector
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/nav-link.module.css
  packages/basalt-ui/src/theme/nav-link.module.css.d.ts
Due: biome-check-js, biome-check-css

feat: rework notification center into actionable inbox
  packages/basalt-ui/src/notifications/bell.tsx
  packages/basalt-ui/src/notifications/center.tsx
  packages/basalt-ui/src/notifications/define-notifications.ts
  packages/basalt-ui/src/notifications/index.ts
  packages/basalt-ui/src/notifications/notify.tsx
  packages/basalt-ui/src/notifications/store.ts
Due: biome-check-js

feat: demo actionable notification center in playground
  apps/playground/src/demo/NotificationsDemoPage.tsx
Due: biome-check-js

fix: cache persisted-state snapshot for useSyncExternalStore stability
  packages/basalt-ui/src/state.ts
Due: biome-check-js

fix: keep light variant AA-legible in both schemes
  packages/basalt-ui/src/theme/index.ts
Due: biome-check-js

feat: migrate playground to file-based TanStack Router
  .gitignore
  .oxlintignore
  apps/playground/package.json
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/SettingsPage.tsx
  apps/playground/src/demo/agent-scenarios.ts
  apps/playground/src/demo/icons.tsx
  apps/playground/src/main.tsx
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/activity.tsx
  apps/playground/src/routes/agent.tsx
  apps/playground/src/routes/charts.tsx
  apps/playground/src/routes/commands.tsx
  apps/playground/src/routes/components.tsx
  apps/playground/src/routes/dashboard.tsx
  apps/playground/src/routes/data.tsx
  apps/playground/src/routes/forms.tsx
  apps/playground/src/routes/index.tsx
  apps/playground/src/routes/notifications.tsx
  apps/playground/src/routes/query.tsx
  apps/playground/src/routes/router.tsx
  apps/playground/src/routes/settings.tsx
  apps/playground/vite.config.ts
  bun.lock
Due: biome-check-js, biome-check-json

feat: add ThemeToggle with system color scheme support
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/motion/index.ts
  packages/basalt-ui/src/theme-toggle/index.tsx
Due: biome-check-js, biome-check-json

feat: wire ThemeToggle into playground shell and settings
  apps/playground/src/demo/SettingsPage.tsx
  apps/playground/src/routes/__root.tsx
  bun.lock
Due: biome-check-js

docs: document motion doctrine in basalt plugin skills
  plugins/basalt/skills/basalt-app/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
Due: none

feat: enforce motion discipline via oxlint + check-theme
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/motion/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme-toggle/index.tsx
Due: biome-check-js, biome-check-json

chore: regenerate repo oxlint config from SURFACES
  .oxlintrc.json
Due: biome-check-json

feat: reskin dark chrome to zinc-charcoal palette
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js

feat: restyle sidebar to framed dense grouped nav
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/theme/index.ts
Due: biome-check-js, biome-check-css

docs: sync basalt-design skill to zinc-charcoal
  plugins/basalt/skills/basalt-design/SKILL.md
Due: none

feat: add aggregated connectivity monitoring system
  packages/basalt-ui/package.json
  packages/basalt-ui/src/connectivity/connectivity-indicator.tsx
  packages/basalt-ui/src/connectivity/connectivity-provider.tsx
  packages/basalt-ui/src/connectivity/index.ts
  packages/basalt-ui/src/connectivity/types.ts
  packages/basalt-ui/src/connectivity/use-connectivity.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/notifications/bell.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/state.ts
  packages/basalt-ui/src/theme-toggle/index.tsx
Due: biome-check-js, biome-check-json

feat: add connectivity simulator page and indicator header
  apps/playground/src/demo/ConnectivityDemoPage.tsx
  apps/playground/src/demo/icons.tsx
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/connectivity.tsx
Due: biome-check-js

feat: add sub-navigation popover on hover with inline children expansion
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js, biome-check-css

feat: add dashboard sub-routes with sidebar sub-navigation example
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/icons.tsx
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/dashboard.tsx
  apps/playground/src/routes/dashboard/index.tsx
  apps/playground/src/routes/dashboard/revenue.tsx
  apps/playground/src/routes/dashboard/sessions.tsx
  apps/playground/src/routes/dashboard/traffic.tsx
Due: biome-check-js

feat: refine sub-navigation with tree-line children and breadcrumb hierarchy
  packages/basalt-ui/src/shell/app-breadcrumbs.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js, biome-check-css

feat: remove redundant dashboard overview child, fix breadcrumb title
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/dashboard/index.tsx
Due: biome-check-js

fix: find deepest active nav item for breadcrumb parent chain
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/shell/app-breadcrumbs.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js

feat: wire breadcrumb parent link to client-side router navigation
  apps/playground/src/routes/__root.tsx
Due: biome-check-js

feat: add createSearchParamStore for URL-to-localStorage persistence
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/router-tanstack/index.ts
  packages/basalt-ui/src/router-tanstack/search-param-store.ts
  packages/basalt-ui/src/state.ts
Due: biome-check-js

feat: add dashboard date-range filter with persisted search params
  CLAUDE.md
  apps/playground/src/demo/DashboardDateFilter.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/dashboard-range-store.ts
  apps/playground/src/demo/data.ts
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/dashboard.tsx
  apps/playground/src/routes/dashboard/revenue.tsx
  apps/playground/src/routes/dashboard/sessions.tsx
  apps/playground/src/routes/dashboard/traffic.tsx
  apps/playground/src/routes/index.tsx
Due: biome-check-js

feat: integrate legend, tooltip, and crosshair into a config-driven chart system
  packages/basalt-ui/src/charts/hooks/useHoverSync.ts
  packages/basalt-ui/src/charts/hover-context.ts
  packages/basalt-ui/src/charts/hover-sync.tsx
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/primitives/Crosshair.tsx
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

feat: rebuild playground charts on the config-driven chart system
  CLAUDE.md
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/data.ts
  apps/playground/src/demo/use-measure.ts
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/dashboard/index.tsx
Due: biome-check-js

docs: expand createSearchParamStore JSDoc with full integration recipe
  packages/basalt-ui/src/router-tanstack/search-param-store.ts
Due: biome-check-js

docs: trim CLAUDE.md search-param section to lean pointer
  CLAUDE.md
Due: none

docs: reconcile tracking docs with as-built 1.0 state
  docs/BLUEPRINT.md
  docs/ENFORCEMENT-HARDENING.md
  docs/EXECUTION-HANDOVER.md
  docs/INTEGRATION-DX.md
  docs/MATURATION-ROADMAP.md
  docs/ONE-ZERO-DRIVE-HANDOVER.md
  docs/PHASE-1-DESIGN.md
  docs/PHASE-1-GROUNDING.md
  docs/PHASE-1-HANDOVER.md
  docs/PHASE-1-IMPLEMENT-HANDOVER.md
  docs/STATUS.md
Due: none

feat: add threaded multi-chat agent workspace
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-agent.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/agent-chat/index.ts
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-feed.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/thread-outcome-card.tsx
  packages/basalt-ui/src/agent-chat/thread-workspace.tsx
  packages/basalt-ui/src/agent/index.ts
  packages/basalt-ui/src/agent/outcome.ts
  packages/basalt-ui/src/agent/thread.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

feat: showcase thread workspace in playground
  apps/playground/src/demo/threads/ThreadsPage.tsx
  apps/playground/src/demo/threads/thread-scenarios.ts
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/threads.tsx
Due: biome-check-js

feat: land Wave 1 maturation fixes across a11y, data split, and correctness
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-agent.md
  packages/basalt-ui/agent/templates/__root.tpl
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/thread-workspace.tsx
  packages/basalt-ui/src/agent/thread.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ResponsiveChart.tsx
  packages/basalt-ui/src/charts/sparklines/BarSparkline.tsx
  packages/basalt-ui/src/charts/sparklines/LineSparkline.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/data/virtual.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json
