Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

ci: make a failed scratch install in the pack test say so
  packages/basalt-ui/scripts/pack-test.sh
Due: none

feat: close the chart-API gaps the first full consumer migration found
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Bars.test.tsx
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.test.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.test.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.test.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/XZoneRects.test.tsx
  packages/basalt-ui/src/charts/primitives/XZoneRects.tsx
  packages/basalt-ui/src/charts/series.test.ts
  packages/basalt-ui/src/charts/series.ts
Due: biome-check-js

docs: record the consumer-gap batch and dogfood the new chart props
  CLAUDE.md
  apps/playground/src/demo/ChartsPage.tsx
  docs/CHARTS-SPEC.md
  docs/STATUS.md
Due: biome-check-js

chore: release 1.16.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  c9ea0ea89310237b244ad66311153cd0c4a14ed0
Due: none

feat: fix seven chart defects, six of them found by consumers
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/src/charts/cursor/resolve.test.ts
  packages/basalt-ui/src/charts/cursor/resolve.ts
  packages/basalt-ui/src/charts/hooks/useChartCursor.ts
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Bars.test.tsx
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.test.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.test.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.test.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/src/charts/utils/domain.test.ts
  packages/basalt-ui/src/charts/utils/domain.ts
Due: biome-check-js

docs: record the round-two consumer batch and dogfood its props
  apps/playground/src/demo/ChartsPage.tsx
  docs/CHARTS-SPEC.md
  docs/STATUS.md
Due: biome-check-js

chore: release 1.17.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  084a14cfdca6ceea52a974f91a7308b4368c1809
Due: none

feat: render tooltips on cursor followers, and gate managed-doc drift
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
  packages/basalt-ui/src/charts/kinds/DualPanel.test.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/series.ts
Due: biome-check-js

docs: write down what a minor may move, and why this one moved
  apps/playground/src/demo/ChartsPage.tsx
  docs/CHARTS-SPEC.md
  docs/STATUS.md
Due: biome-check-js

ci: run the managed-doc drift guard on every push
  .github/workflows/ci.yml
  tests/agent-doc-drift.test.ts
Due: biome-check-js

chore: release 1.18.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  b0d904fb86bdbc63f833d728dec5268268e00c02
Due: none

feat: make the mobile bar navigate, driven by one typed nav definition
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/nav/types.ts
  packages/basalt-ui/src/router-tanstack/index.ts
  packages/basalt-ui/src/router-tanstack/nav.test.ts
  packages/basalt-ui/src/router-tanstack/nav.ts
  packages/basalt-ui/src/router-tanstack/search-param-store.ts
  packages/basalt-ui/src/router-tanstack/use-nav.ts
  packages/basalt-ui/src/shell/app-breadcrumbs.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css.d.ts
  packages/basalt-ui/src/shell/app-mobile-nav.test.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/mobile-nav-model.test.ts
  packages/basalt-ui/src/shell/mobile-nav-model.ts
  packages/basalt-ui/src/shell/nav-count-badge.tsx
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/nav-link.module.css
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/palette-css.test.ts
  tests/setup/dom.ts
Due: biome-check-js, biome-check-json, biome-check-css

docs: migrate the playground to defineNav and record the nav contract
  CLAUDE.md
  apps/playground/src/demo/agent-scenarios.ts
  apps/playground/src/demo/icons.tsx
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/demo/palette-actions.tsx
  apps/playground/src/main.tsx
  apps/playground/src/nav.type-guard.tsx
  apps/playground/src/routes/__root.tsx
  docs/ARGO-MIGRATION-LEARNINGS.md
  docs/STATUS.md
Due: biome-check-js

chore: release 1.19.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  19599fadb88db7648d699833ed568d8b7aaca028
Due: none

fix: cap the mobile bottom-sheet height to its content
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css.d.ts
  packages/basalt-ui/src/shell/app-mobile-nav.test.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
Due: biome-check-js, biome-check-css

chore: release 1.19.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  46fc67204c176531ab63ab8fb8ff7e24fd459fa4
Due: none

test: assert mobile-nav geometry in real Chrome
  bun.lock
  bunfig.toml
  package.json
  packages/basalt-ui/package.json
  packages/basalt-ui/tests/layout/bunfig.toml
  packages/basalt-ui/tests/layout/fixture/css-modules.d.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/index.html
  packages/basalt-ui/tests/layout/fixture/main.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
  packages/basalt-ui/tests/layout/harness.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
  packages/basalt-ui/tests/layout/tsconfig.json
Due: biome-check-js, biome-check-json

ci: run the layout regression suite
  .github/workflows/ci.yml
  Makefile
Due: none

docs: ship a per-minor API delta and correct the shipped rules
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
Due: none

docs: make STATUS and FRAMEWORK-FREE true at 1.19.1
  CLAUDE.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
  docs/archive/STATUS-HISTORY.md
Due: none

docs: ship MIGRATING.md and correct which token route needs a bundler
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

feat: stop the toolchain reporting green while enforcing nothing
  packages/basalt-ui/configs/check.yml
  packages/basalt-ui/configs/lefthook.yml
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init-sync.test.ts
  packages/basalt-ui/src/cli/tokens-css.test.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

feat: make the escape hatch usable and close the holes round 4 found
  .oxlintrc.json
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
Due: biome-check-js, biome-check-json

fix: hold basalt to its own scoped theme-allow contract
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/tool-chip.tsx
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/theme-toggle/index.tsx
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/src/vite-color-mix.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
Due: biome-check-js, biome-check-css

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
