Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

test: measure charts in real Chrome
  packages/basalt-ui/tests/layout/charts.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js

docs: migration notes, composition order and the forms surface
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
Due: none

feat: playground demos for the wave 3 surface and consumer-vantage type guards
  apps/playground/src/commands.type-guard.ts
  apps/playground/src/data-table-generics.type-guard.tsx
  apps/playground/src/demo/ChartsStressPage.tsx
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/DataStressPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/StatesPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/layout-unions.type-guard.tsx
  apps/playground/src/notifications.type-guard.ts
  apps/playground/src/overlays.type-guard.ts
  apps/playground/src/query-state-like.type-guard.tsx
  apps/playground/src/search-store-field.type-guard.tsx
Due: biome-check-js

chore: register the forms-field-key rule in the repo-local lint
  .oxlintrc.json
Due: biome-check-json

docs: the maturation round in STATUS, aside cuts, charts section, ledger
  CLAUDE.md
  docs/ASIDE-SPEC.md
  docs/MATURATION-LEDGER.md
  docs/STATUS.md
Due: none

feat: a data table contains itself horizontally
  packages/basalt-ui/src/data/data-table-containment.test.tsx
  packages/basalt-ui/src/data/data-table.module.css
  packages/basalt-ui/src/data/data-table.module.css.d.ts
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/tests/layout/data-table.layout.test.ts
  packages/basalt-ui/tests/layout/no-horizontal-overflow.layout.test.ts
Due: biome-check-js, biome-check-css

feat: stat card header spans the card and starts at its top
  packages/basalt-ui/src/dashboard/stat-card.module.css
  packages/basalt-ui/src/dashboard/stat-card.module.css.d.ts
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
Due: biome-check-js, biome-check-css

feat: fit-checked choice tracks and panel rows in the phone sheet
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/src/controls/controls.module.css
  packages/basalt-ui/src/controls/controls.module.css.d.ts
  packages/basalt-ui/src/controls/controls.router.test.tsx
  packages/basalt-ui/src/controls/enum-filter.tsx
  packages/basalt-ui/src/controls/filter-context.tsx
  packages/basalt-ui/src/controls/filter-set.test.tsx
  packages/basalt-ui/src/controls/filter-sheet.tsx
  packages/basalt-ui/src/controls/multi-select-filter.tsx
  packages/basalt-ui/src/controls/number-filter.tsx
  packages/basalt-ui/src/controls/panel-row.test.tsx
  packages/basalt-ui/src/controls/panel-row.tsx
  packages/basalt-ui/src/controls/range-filter.tsx
  packages/basalt-ui/src/controls/search-filter.tsx
  packages/basalt-ui/src/controls/toggle-filter.tsx
  packages/basalt-ui/src/controls/view-tabs.tsx
  packages/basalt-ui/src/theme/ctl-tier-coverage.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/segmented-control.module.css
  packages/basalt-ui/src/theme/segmented-control.module.css.d.ts
Due: biome-check-js, biome-check-css

feat: accent-tinted active nav rows so hover cannot impersonate them
  packages/basalt-ui/src/router-tanstack/use-nav.ts
  packages/basalt-ui/src/theme/nav-link.module.css
Due: biome-check-js, biome-check-css

feat: more-sheet rows share the sidebar's density and keep a gutter
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css.d.ts
  packages/basalt-ui/src/shell/app-mobile-nav.test.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/mobile-nav-model.test.ts
  packages/basalt-ui/src/shell/mobile-nav-model.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
Due: biome-check-js, biome-check-css

fix: widget header actions wrap at phone width, notification center fills
  packages/basalt-ui/src/notifications/bell.tsx
  packages/basalt-ui/src/notifications/center.test.tsx
  packages/basalt-ui/src/notifications/center.tsx
  packages/basalt-ui/src/widget-header/widget-header.module.css
  packages/basalt-ui/src/widget-header/widget-header.test.tsx
Due: biome-check-js, biome-check-css

feat: playground demos follow the shell scrollport and fit-checked tracks
  apps/playground/src/demo/ControlsMobilePage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/nav-model.tsx
Due: biome-check-js

docs: the shell scrollport, the fit-check law and wave 8 in the ledger
  docs/ASIDE-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/DESIGN-SPEC.md
  docs/MANTINE-THEMING.md
  docs/MATURATION-LEDGER.md
  docs/STATUS.md
Due: none

test: pin the no-oxlint premise of the waiver audit test to a blank PATH
  packages/basalt-ui/src/cli/waiver-audit.test.ts
Due: biome-check-js

test: raise Testing Library's async ceiling to 5s in the shared preload
  tests/setup/dom.ts
Due: biome-check-js

test: wait for the measured chart paint and split the focus wait on CI
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/forms/use-form-submit.test.tsx
Due: biome-check-js

build: pin the pack-test scratch consumer's vite to the package's dev version
  packages/basalt-ui/scripts/pack-test.sh
Due: none

build: give every layout test the 60s ceiling bun only takes from --timeout
  package.json
Due: biome-check-json

test: note that the layout bunfig timeout is documentation, not a ceiling
  packages/basalt-ui/tests/layout/bunfig.toml
Due: none

fix: confirm settles on a throw, drafts flush on unmount, panel labels click
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/kinds/StackedArea.test.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/commands/confirm.test.tsx
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/controls/panel-row.tsx
  packages/basalt-ui/src/controls/toggle-filter.test.tsx
  packages/basalt-ui/src/controls/toggle-filter.tsx
  packages/basalt-ui/src/forms/form-layout.tsx
  packages/basalt-ui/src/forms/use-form-draft.test.tsx
  packages/basalt-ui/src/forms/use-form-draft.ts
Due: biome-check-js

fix: give the two CBBI distribution charts distinct chart ids
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
Due: biome-check-js

feat: drop test files from the tarball and add a package.json export
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-dist-layering.mjs
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/scripts/export-surface.mjs
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/tsconfig.build.json
Due: biome-check-js, biome-check-json

chore: lint ignores the session scratch directory
  .oxlintrc.json
Due: biome-check-json

docs: charts spec for the null-gap and tick laws, and the maturation ledger
  docs/CHARTS-SPEC.md
  docs/MATURATION-LEDGER.md
Due: none

feat: delta polarity on WidgetHeader and a group tier inside the aside
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/section/section.module.css
  packages/basalt-ui/src/section/section.test.tsx
  packages/basalt-ui/src/section/section.tsx
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/widget-header/delta-badge.test.tsx
  packages/basalt-ui/src/widget-header/delta-badge.tsx
  packages/basalt-ui/src/widget-header/index.ts
  packages/basalt-ui/src/widget-header/widget-header.module.css
  packages/basalt-ui/src/widget-header/widget-header.test.tsx
  packages/basalt-ui/src/widget-header/widget-header.tsx
Due: biome-check-js, biome-check-css

feat: one home per field on the CBBI page
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  apps/playground/src/demo/cbbi/cbbi-view.ts
Due: biome-check-js

fix: keep the sticky table header at the scroller's top edge
  packages/basalt-ui/src/data/data-table.test.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/data/virtual-list.test.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/data/virtual.ts
  packages/basalt-ui/tests/layout/data-table.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js

docs: draft the aside spec from the CBBI evidence ledger
  docs/ASIDE-SPEC.md
Due: none

docs: migration notes for the wave 3 surface
  packages/basalt-ui/MIGRATING.md
Due: none

fix: forward every WidgetHeader prop a Section accepts
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/empty-state.test.tsx
  packages/basalt-ui/src/dashboard/empty-state.tsx
  packages/basalt-ui/src/dashboard/query-state.test.tsx
  packages/basalt-ui/src/dashboard/query-state.tsx
  packages/basalt-ui/src/section/section.test.tsx
  packages/basalt-ui/src/section/section.tsx
Due: biome-check-js
