Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

fix: strip comments before the theme guard scans
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

feat: scan CSS modules in the theme guard
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/theme/controls.module.css
Due: biome-check-js, biome-check-css

fix: make the raw-surface guard token-aware
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

feat: add per-rule path exemptions to the theme guard
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
Due: biome-check-js

feat: dogfood the raw-surface guard on the package
  packages/basalt-ui/package.json
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/theme/radius.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-json

feat: dogfood the raw-spacing guard on the package
  packages/basalt-ui/package.json
  packages/basalt-ui/src/dashboard/empty-state.tsx
  packages/basalt-ui/src/dashboard/settings-section.tsx
Due: biome-check-js, biome-check-json

feat: dogfood the inline-spacing guard on the package
  packages/basalt-ui/package.json
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/thread-outcome-card.tsx
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-json

feat: dogfood the inline-display and raw-html-layout guards
  packages/basalt-ui/package.json
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-workspace.tsx
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/empty-state.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/theme-toggle/index.tsx
Due: biome-check-js, biome-check-json

fix: make the virtual-list skeleton density-aware and lock the space var set
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js, biome-check-json

docs: refresh STATUS to the released 1.x line and the open density PR
  CLAUDE.md
  docs/STATUS.md
Due: none

docs: ban majors — basalt-ui is greenfield, the 1.x line absorbs breaks
  CLAUDE.md
Due: none

feat: make the theme lab move the theme object, not just CSS vars
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/provider/lab-theme.test.ts
  packages/basalt-ui/src/provider/lab-theme.ts
  packages/basalt-ui/src/theme-lab/derive-controls.tsx
  packages/basalt-ui/src/theme-lab/derive-state.test.ts
  packages/basalt-ui/src/theme-lab/derive-state.ts
Due: biome-check-js

feat: tighten the sidebar, open up components — retune the level-0 spacing bases
  packages/basalt-ui/src/theme/density-option.test.ts
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js

docs: record the honest theme lab and drop the gap it closed
  docs/STATUS.md
Due: none

refactor: prune the derived color groups from the theme lab
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme-lab/index.tsx
  packages/basalt-ui/src/theme-lab/theme-lab.test.ts
Due: biome-check-js

docs: describe the theme lab as a structural-token inspector
  apps/playground/src/demo/SettingsPage.tsx
Due: biome-check-js

refactor: route every theme spacing value through the token layer
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js

docs: record the density option in the package guide
  packages/basalt-ui/CLAUDE.md
Due: none

docs: record the density dimension and the theme-lab prune
  CLAUDE.md
  apps/playground/src/demo/SettingsPage.tsx
  docs/CONTENT-SPEC.md
  docs/STATUS.md
Due: biome-check-js

refactor: sweep the CSS modules onto the spacing tokens
  packages/basalt-ui/src/content/article-card.module.css
  packages/basalt-ui/src/content/article-layout.module.css
  packages/basalt-ui/src/content/callout.module.css
  packages/basalt-ui/src/content/code-block.module.css
  packages/basalt-ui/src/content/guide.module.css
  packages/basalt-ui/src/content/mermaid.module.css
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/content/reading-progress.module.css
  packages/basalt-ui/src/content/toc.module.css
  packages/basalt-ui/src/dashboard/settings-section.module.css
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/theme/nav-link.module.css
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-css
