Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

feat: add the data adapter subpath (table + virtual list)
  packages/basalt-ui/agent/rules/basalt-data.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/index.ts
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: add the data demo to the playground
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/demo/DataDemoPage.tsx
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the data peer devDeps
  bun.lock
Due: none

fix: defer commands shortcut platform detection past render
  packages/basalt-ui/src/commands/ShortcutsHelp.tsx
  packages/basalt-ui/src/commands/define-commands.ts
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/projectors.ts
Due: biome-check-js

feat: add the agent streaming adapter subpath
  packages/basalt-ui/agent/rules/basalt-agent.md
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-dist-layering.mjs
  packages/basalt-ui/src/agent/history.ts
  packages/basalt-ui/src/agent/index.ts
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/agent/parts.ts
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/agent/streaming-markdown.tsx
  packages/basalt-ui/src/agent/transport.ts
  packages/basalt-ui/src/agent/use-agent-stream.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the agent optional peers
  bun.lock
Due: none

chore: add the agent demo and exhaustiveness fixture
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/agent-part.type-guard.ts
Due: biome-check-js, biome-check-json

feat: add basalt info, llms.txt, and full subpath resolution gate
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/gen-llms.ts
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js, biome-check-json

chore: fix the agent demo mock-transport listener leak
  apps/playground/src/demo/AgentDemoPage.tsx
Due: biome-check-js

fix: harden the agent stream hook and lazy peer fallbacks
  packages/basalt-ui/src/agent/history.ts
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/agent/streaming-markdown.tsx
  packages/basalt-ui/src/agent/use-agent-stream.ts
Due: biome-check-js

chore: bump visx to 4.0.0 stable and register the react-hotkeys optional peer
  packages/basalt-ui/package.json
Due: biome-check-json

fix: emit the agent Mantine-free ban and unify SURFACES projections
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/gen-llms.ts
  packages/basalt-ui/scripts/gen-oxlint.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tests/llms-sync.test.ts
Due: biome-check-js, biome-check-json

fix: harden the agent stop-race and merge streaming-markdown overrides
  packages/basalt-ui/src/agent/index.ts
  packages/basalt-ui/src/agent/parts.ts
  packages/basalt-ui/src/agent/streaming-markdown.tsx
  packages/basalt-ui/src/agent/use-agent-stream.ts
Due: biome-check-js

fix: align font weights, chart tooltips, and shell depth with the doctrine
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/notifications/bell.tsx
  packages/basalt-ui/src/router-tanstack/index.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/theme/index.ts
Due: biome-check-js

ci: gate oxlint-config drift and SURFACES coverage
  .github/workflows/ci.yml
  .oxlintrc.json
Due: biome-check-json

chore: add react-hotkeys to the playground devDeps
  apps/playground/package.json
Due: biome-check-json

chore: sync bun.lock for visx 4.0.0 and react-hotkeys
  bun.lock
Due: none

feat: re-export query hooks and add data-table loading and sorting control
  packages/basalt-ui/agent/rules/basalt-data.md
  packages/basalt-ui/agent/rules/basalt-query.md
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/query/index.ts
Due: biome-check-js

feat: bind command shortcuts to live keys and add a Spotlight store
  packages/basalt-ui/agent/rules/basalt-commands.md
  packages/basalt-ui/src/commands/ShortcutsHelp.tsx
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/index.ts
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/commands/projectors.ts
  packages/basalt-ui/src/commands/shortcut-format.ts
  packages/basalt-ui/src/commands/useCommandHotkeys.ts
Due: biome-check-js

feat!: rename createForm to useBasaltForm and add defineNotification
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/forms/FormErrorSummary.tsx
  packages/basalt-ui/src/forms/create-form.ts
  packages/basalt-ui/src/forms/field.ts
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/forms/use-form-draft.ts
  packages/basalt-ui/src/notifications/define-notifications.ts
  packages/basalt-ui/src/notifications/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

chore: prove hotkeys, forms rename, and data states in the playground
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
  apps/playground/src/main.tsx
Due: biome-check-js

feat: add AGENTS.md and the llms.txt package export
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/gen-llms.ts
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

feat: add the basalt doctor command and query/router scaffold seeds
  packages/basalt-ui/agent/templates/__root.tpl
  packages/basalt-ui/agent/templates/query-client.ts.tpl
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

docs: correct the state, router, and agent rule docs
  packages/basalt-ui/agent/rules/basalt-agent.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-state.md
Due: none

docs: expand the README to the full subpath surface and fix the series example
  packages/basalt-ui/README.md
Due: none

feat: add useOnlineStatus, print styles, and a responsive chart wrapper
  packages/basalt-ui/src/charts/hooks/useChartSize.ts
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/primitives/ResponsiveChart.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/state.ts
  packages/basalt-ui/src/styles.css
Due: biome-check-js, biome-check-css

chore: prove completeness primitives and edge states in the playground
  apps/playground/src/App.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/DataDemoPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/QueryDemoPage.tsx
  apps/playground/src/demo/SettingsPage.tsx
  apps/playground/src/main.tsx
Due: biome-check-js

feat: add an optional fallback to BasaltErrorBoundary
  packages/basalt-ui/src/provider/index.tsx
Due: biome-check-js

fix: guard useOnlineStatus for SSR and dedupe the notification listener
  packages/basalt-ui/src/forms/use-form-draft.ts
  packages/basalt-ui/src/notifications/store.ts
  packages/basalt-ui/src/state.ts
Due: biome-check-js

fix: correct the commands keybinding docs and the HotkeyBinding callback type
  packages/basalt-ui/src/commands/ShortcutsHelp.tsx
  packages/basalt-ui/src/commands/define-commands.ts
  packages/basalt-ui/src/commands/projectors.ts
Due: biome-check-js

fix: make check-coverage portable and complete the plugin-install hint
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

docs: fix stale forms references and refresh README and state accuracy
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-forms.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

docs: mark command keybindings as live in the commands rule doc
  packages/basalt-ui/agent/rules/basalt-commands.md
Due: none

feat: add the guard-hook PreToolUse adapter and wire GUARD_RULES
  packages/basalt-ui/bin/basalt.mjs
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/guard-hook.test.ts
  packages/basalt-ui/src/guard/guard-hook.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: align chart refLine to solid-by-default and dedupe chart internals
  packages/basalt-ui/src/charts/hooks/useHoverSync.ts
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
Due: biome-check-js

feat: round out query, notifications, and state ergonomics
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/notifications/index.ts
  packages/basalt-ui/src/query/index.ts
  packages/basalt-ui/src/register.ts
  packages/basalt-ui/src/state.ts
Due: biome-check-js

feat: enforce the headless Mantine-free boundary and harden oxlint
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/gen-llms.ts
  packages/basalt-ui/scripts/gen-oxlint.ts
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/agent/streaming-markdown.tsx
  packages/basalt-ui/src/charts/hover-sync.tsx
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/theme.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/forms/create-form.ts
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/query/devtools.tsx
  packages/basalt-ui/src/query/index.ts
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/page-header.tsx
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme-lab/index.tsx
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/vite.ts
  packages/basalt-ui/tsup.config.ts
Due: biome-check-js, biome-check-json

docs: close agent-rule coverage gaps and fix the router example
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-notifications.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-state.md
Due: none

ci: harden the repo-local oxlint config to the maximal rule set
  .oxlintrc.json
  apps/playground/src/App.tsx
  apps/playground/src/asyncstate-fourth-variant.type-guard.ts
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/QueryDemoPage.tsx
  apps/playground/src/demo/series.ts
  apps/playground/vite.config.ts
  commitlint.config.ts
Due: biome-check-js, biome-check-json

test: cover the headless-boundary and peer SSOT assertions
  tests/surfaces-coverage.test.ts
Due: biome-check-js

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
