Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

feat: scan the app shell, wire the tokens-only profile, ship __APP_VERSION__
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/src/register.ts
Due: biome-check-js

fix: make the mobile-nav active pill track density and survive an icon-less app
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
  packages/basalt-ui/tests/layout/harness.ts
  packages/basalt-ui/tests/layout/mobile-nav.layout.test.ts
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js, biome-check-css

feat: demo the mobile-nav active pill with and without an icon dependency
  apps/playground/src/demo/MobileNavPillPage.tsx
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/mobile-nav-pill.tsx
Due: biome-check-js

docs: teach the shipped rules and skills the 1.20.0 guard contract
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
Due: none

docs: make STATUS and FRAMEWORK-FREE true at 1.20.0
  CLAUDE.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

docs: correct the token counts in the only filter's JSDoc
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

fix: snapshot the tokens-only guard export
  packages/basalt-ui/scripts/export-surface.json
Due: biome-check-json

fix: make the escape hatch and the generated-file marker fail closed
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js, biome-check-json

fix: give the mobile-nav-pill demo row its own glyph
  apps/playground/src/demo/nav-model.tsx
Due: biome-check-js

docs: teach the shipped docs the fail-closed marker and id slot
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
Due: none

docs: correct the marker and id-slot claims in STATUS and FRAMEWORK-FREE
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

fix: exempt generated LINES, not files, and stop flagging prose as a typo'd id
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

docs: describe the per-line generated-file exemption and the real kind count
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

feat: make the escape hatch usable and close the holes round 4 found
  .oxlintrc.json
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
Due: biome-check-js, biome-check-json

docs: ship a per-minor API delta and correct the shipped rules
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
Due: none

docs: make STATUS and FRAMEWORK-FREE true at 1.19.1
  CLAUDE.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
  docs/archive/STATUS-HISTORY.md
Due: none

fix: hold basalt to its own scoped theme-allow contract
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/tool-chip.tsx
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/theme-toggle/index.tsx
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/src/vite-color-mix.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
Due: biome-check-js, biome-check-css

docs: ship MIGRATING.md and correct which token route needs a bundler
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

feat: stop the toolchain reporting green while enforcing nothing
  packages/basalt-ui/configs/check.yml
  packages/basalt-ui/configs/lefthook.yml
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init-sync.test.ts
  packages/basalt-ui/src/cli/tokens-css.test.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

chore: release 1.20.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  5c619c2a40df36083ecc8cc4e199a79e0a5313a4
Due: none

docs: correct four wrong MIGRATING rows and ship the corrections consumers read
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
Due: none

docs: make STATUS true at 1.20.0 and stop FRAMEWORK-FREE overstating the emitter
  CLAUDE.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

fix: let the real color scheme win, and keep <meta charset> in its window
  packages/basalt-ui/src/vite.test.ts
  packages/basalt-ui/src/vite.ts
  packages/basalt-ui/tests/app-plugin-html.test.ts
  packages/basalt-ui/tests/layout/boot-color-scheme.layout.test.ts
  packages/basalt-ui/tests/layout/harness.ts
Due: biome-check-js

feat: give the type ladder the two rungs consumers could only waive
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/text-scale.test.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js, biome-check-css

fix: persist sidebar collapse through basalt's own state primitive
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js

feat: make the search-param store's reader reachable from the API
  packages/basalt-ui/src/router-tanstack/multi-search-param-store.ts
  packages/basalt-ui/src/router-tanstack/search-param-store.test.ts
  packages/basalt-ui/src/router-tanstack/search-param-store.ts
Due: biome-check-js
