Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

docs: record the scrollbar thumb treatment and the scroll-region guard
  docs/DESIGN-SPEC.md
Due: none

chore: annotate the playground's library-owned scroll nodes
  apps/playground/src/demo/AgentDemoPage.tsx
Due: biome-check-js

feat: demo the content surface in the playground
  apps/playground/package.json
  apps/playground/src/demo/ContentDemoPage.tsx
  apps/playground/src/demo/ContentOverviewPage.tsx
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/content-overview.tsx
  apps/playground/src/routes/content.tsx
  bun.lock
Due: biome-check-js, biome-check-json

docs: record the content-surface design and status
  docs/CONTENT-SPEC.md
  docs/STATUS.md
Due: none

fix: space content block objects on one prose rhythm
  packages/basalt-ui/src/content/mermaid.module.css
  packages/basalt-ui/src/content/prose.module.css
Due: biome-check-css

fix: resolve TOC scroll-spy at the article's top and bottom
  packages/basalt-ui/src/content/toc.tsx
Due: biome-check-js

fix: pin the ArticleCard meta line to the card floor
  packages/basalt-ui/src/content/article-card.module.css
Due: biome-check-css

feat: copy a section link from a heading, on one copy idiom
  packages/basalt-ui/src/content/code-block.tsx
  packages/basalt-ui/src/content/copy-action.tsx
  packages/basalt-ui/src/content/glyphs.tsx
  packages/basalt-ui/src/content/heading-anchor.tsx
  packages/basalt-ui/src/content/heading-components.tsx
  packages/basalt-ui/src/content/index.ts
  packages/basalt-ui/src/content/prose.module.css
Due: biome-check-js, biome-check-css

feat: give the demo article's headings a copy-link anchor
  apps/playground/src/demo/ContentDemoPage.tsx
Due: biome-check-js

fix: hold the TOC rail on a clicked section until its scroll settles
  packages/basalt-ui/src/content/toc.tsx
Due: biome-check-js

fix: make the prose edge-margin resets actually apply
  packages/basalt-ui/src/content/callout.module.css
  packages/basalt-ui/src/content/prose.module.css
Due: biome-check-css

feat: set quotations in italic
  packages/basalt-ui/src/content/prose.module.css
Due: biome-check-css

fix: give GuideLink a help glyph that reads at 14px
  packages/basalt-ui/src/content/guide.tsx
Due: biome-check-js

feat: add article model, classification, and search to ./content
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/content/article-actions.test.ts
  packages/basalt-ui/src/content/article-actions.ts
  packages/basalt-ui/src/content/article-card.module.css
  packages/basalt-ui/src/content/article-card.module.css.d.ts
  packages/basalt-ui/src/content/article-card.tsx
  packages/basalt-ui/src/content/article-filter-bar.tsx
  packages/basalt-ui/src/content/article-layout.tsx
  packages/basalt-ui/src/content/article-model.test.ts
  packages/basalt-ui/src/content/article-model.ts
  packages/basalt-ui/src/content/index.ts
  packages/basalt-ui/src/router-tanstack/index.ts
  packages/basalt-ui/src/router-tanstack/multi-search-param-store.test.ts
  packages/basalt-ui/src/router-tanstack/multi-search-param-store.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-css

feat: wire article filtering into the playground content overview
  apps/playground/src/demo/ContentOverviewPage.tsx
  apps/playground/src/demo/article-filter-stores.ts
  apps/playground/src/demo/articles.ts
  apps/playground/src/demo/palette-actions.tsx
  apps/playground/src/routes/content-overview.tsx
  docs/CONTENT-SPEC.md
Due: biome-check-js

feat: unify markdown rendering on the ./content stack
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-agent.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent/ai-sdk-transport.ts
  packages/basalt-ui/src/agent/index.ts
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/agent/streaming-markdown.module.css
  packages/basalt-ui/src/agent/streaming-markdown.module.css.d.ts
  packages/basalt-ui/src/agent/streaming-markdown.tsx
  packages/basalt-ui/src/content/markdown.tsx
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/content/prose.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-css

feat: render playground chat markdown via the content stack
  apps/playground/src/demo/AgentAiSdkDemoPage.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/ContentDemoPage.tsx
  apps/playground/src/demo/agent-scenarios.ts
  docs/CONTENT-SPEC.md
Due: biome-check-js

feat!: narrow the public token surface to the VX indirection
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/theme-lab/index.tsx
  packages/basalt-ui/src/theme/contrast.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

fix: close the 1.0 audit findings on the shipped preset, peers, and agent docs
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/LICENSE
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-agent.md
  packages/basalt-ui/agent/templates/DESIGN.md.tpl
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/gen-llms.ts
  packages/basalt-ui/scripts/gen-oxlint.ts
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/agent-chat/index.ts
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-feed.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/thread-outcome-card.tsx
  packages/basalt-ui/src/agent-chat/thread-workspace.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

ci: gate the shipped oxlint preset and the llms projection
  .github/workflows/ci.yml
  tests/fixtures/oxlint-parse-fixture.ts
  tests/oxlint-preset-sync.test.ts
Due: biome-check-js

docs: repoint stale marketing links and align skills on the shipped surface
  CLAUDE.md
  README.md
  docs/STATUS.md
  docs/archive/MATURATION-REVIEW.md
  plugins/basalt/skills/basalt-app/SKILL.md
  plugins/basalt/skills/basalt-charts/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
Due: none

feat: render agent demos through PartList and regroup the nav spine
  apps/playground/src/demo/AgentAiSdkDemoPage.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/ComponentsPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/agent-blocks.tsx
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/dashboard/revenue.tsx
  apps/playground/src/routes/dashboard/sessions.tsx
  apps/playground/src/routes/dashboard/traffic.tsx
Due: biome-check-js

fix: make the consumer golden path survive a live onboarding run
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-commands.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/agent/rules/basalt-data.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-query.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/agent/templates/DESIGN.md.tpl
  packages/basalt-ui/configs/check.yml
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tests/barrel-surface.test.ts
  packages/basalt-ui/tests/gen-llms-check.test.ts
  packages/basalt-ui/tests/jsdoc-specifiers.test.ts
  packages/basalt-ui/tests/required-peers.test.ts
Due: biome-check-js, biome-check-json

test: lock down the release-wave guarantees
  plugins/basalt/skills/basalt-charts/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
  tests/oxlint-preset-sync.test.ts
Due: biome-check-js

docs: tell the 1.0 story at the head of the changelog
  packages/basalt-ui/CHANGELOG.md
Due: none

chore: release 1.0.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  36ce33bd2ee1350c6dc3b9c57d3c165f036af73a
Due: none

fix: drop argo-shaped CLI defaults
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

docs: align the basalt-app skill with the lefthook/check.yml seed strategy
  plugins/basalt/skills/basalt-app/SKILL.md
Due: none

fix: make the managed CLAUDE block oxfmt-clean
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/src/cli/template-format.test.ts
Due: biome-check-js

fix: print help instead of running the command
  packages/basalt-ui/src/cli/help.test.ts
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

fix: let consumers own their CI and git hooks
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

ci: stop the formatter fighting the changelog generator
  .gitignore
  .oxfmtignore
  package.json
Due: biome-check-json

fix: export the BP hue families and p pair-picker from the tokens entry
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/tests/barrel-surface.test.ts
Due: biome-check-js

fix: collapse delivery to one package, one command, one version
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/bin/basalt-ui.mjs
  packages/basalt-ui/configs/check.yml
  packages/basalt-ui/configs/lefthook.yml
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-tarball-parity.mjs
  packages/basalt-ui/scripts/css-noop-loader.mjs
  packages/basalt-ui/scripts/css-noop-register.mjs
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/scripts/export-surface.mjs
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/help.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/placement-engine.test.ts
  packages/basalt-ui/src/cli/tarball-parity.test.ts
  packages/basalt-ui/src/cli/template-format.test.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: retire the Claude plugin and marketplace
  .claude-plugin/marketplace.json
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  docs/DESIGN-CORE.md
  docs/STATUS.md
  lefthook.yml
  plugins/basalt/.claude-plugin/plugin.json
  plugins/basalt/skills/basalt-app/SKILL.md
  plugins/basalt/skills/basalt-charts/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
  tests/plugin-version-lockstep.test.ts
  tests/surfaces-coverage.test.ts
Due: biome-check-js, biome-check-json

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
