Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, biome-check-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-astro:
      glob: "*.astro"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

feat: introduce Basalt UI a Tailwind CSS design system
  biome.json
  packages/basalt-ui/README.md
  packages/basalt-ui/index.js
  packages/basalt-ui/package.json
  packages/basalt-ui/src/index.css
  packages/basalt-ui/tailwind.preset.js
Due: biome-check-js, biome-check-json, biome-check-css

feat: initialize Astro web app with React and Tailwind CSS
  CLAUDE.md
  apps/web/CLAUDE.md
  apps/web/astro.config.mjs
  apps/web/components.json
  apps/web/package.json
  apps/web/src/components/features/ComponentShowcase.tsx
  apps/web/src/components/shared/ThemeToggle.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/layouts/Layout.astro
  apps/web/src/lib/theme-store.ts
  apps/web/src/lib/utils.ts
  apps/web/src/pages/index.astro
  apps/web/src/pages/playground.astro
  apps/web/src/styles/global.css
  apps/web/tsconfig.json
  biome.json
  bun.lock
  docs/IMPLEMENTATION.md
  package.json
Due: biome-check-js, biome-check-json, biome-check-css, biome-check-astro

chore: add Prettier for Astro formatting and Tailwind class sorting
  .prettierignore
  .prettierrc
  CLAUDE.md
  apps/web/CLAUDE.md
  apps/web/src/layouts/Layout.astro
  apps/web/src/pages/index.astro
  apps/web/src/pages/playground.astro
  bun.lock
  lefthook.yml
  package.json
Due: biome-check-json, biome-check-astro

feat(basalt-ui): implement mature OKLCH-based volcanic design system
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/src/index.css
  packages/basalt-ui/tailwind.preset.js
Due: biome-check-js, biome-check-css

feat: introduce typography page with semantic HTML examples
  apps/web/src/layouts/Layout.astro
  apps/web/src/pages/index.astro
  apps/web/src/pages/playground.astro
  apps/web/src/pages/typography.astro
Due: biome-check-astro

feat: add colors and spacing showcase pages with navigation
  apps/web/src/layouts/Layout.astro
  apps/web/src/pages/colors.astro
  apps/web/src/pages/spacing.astro
  docs/IMPLEMENTATION_WEB.md
Due: biome-check-astro

feat: refine OKLCH color tokens for improved contrast and consistency
  packages/basalt-ui/src/index.css
Due: biome-check-css

feat: adopt Nord Aurora colors and Frost blue as primary accent
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/src/index.css
Due: biome-check-css

feat: implement flicker-free dark mode system
  apps/web/package.json
  apps/web/src/components/shared/ThemeScript.astro
  apps/web/src/components/shared/ThemeToggle.tsx
  apps/web/src/layouts/Layout.astro
  apps/web/src/lib/theme-store.ts
  apps/web/src/pages/colors.astro
  apps/web/src/pages/typography.astro
  bun.lock
  docs/DARK_MODE_IMPLEMENTATION.md
Due: biome-check-js, biome-check-json, biome-check-astro

feat: add responsive navigation with mobile menu support
  apps/web/src/components/layout/MobileMenu.tsx
  apps/web/src/components/layout/Navigation.astro
  apps/web/src/components/shared/ThemeToggle.tsx
  apps/web/src/layouts/Layout.astro
  apps/web/src/pages/index.astro
Due: biome-check-js, biome-check-astro

feat: added foundation palette architecture and foreground color pairings
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/src/index.css
Due: biome-check-css

feat: enhance color system with reusable components and UI improvements
  apps/web/src/components/features/ColorPalette.tsx
  apps/web/src/components/layout/MobileMenu.tsx
  apps/web/src/components/layout/Navigation.astro
  apps/web/src/components/ui/button.tsx
  apps/web/src/pages/colors.astro
  apps/web/src/pages/spacing.astro
  apps/web/src/pages/typography.astro
Due: biome-check-js, biome-check-astro

feat: integrate Tremor Raw for charting and visualization
  apps/web/CLAUDE.md
  apps/web/package.json
  apps/web/src/components/layout/MobileMenu.tsx
  apps/web/src/components/layout/Navigation.astro
  apps/web/src/components/tremor/AreaChart.tsx
  apps/web/src/components/tremor/Card.tsx
  apps/web/src/lib/chartUtils.ts
  apps/web/src/lib/useOnWindowResize.ts
  apps/web/src/lib/utils.ts
  apps/web/src/pages/charts.astro
  biome.json
  bun.lock
Due: biome-check-js, biome-check-json, biome-check-astro

feat: add Tremor Raw compatibility with enhanced color system
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/src/index.css
Due: biome-check-css

feat: replace Tailwind preset with @tailwindcss/typography integration
  packages/basalt-ui/README.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/index.css
  packages/basalt-ui/tailwind.config.js
  packages/basalt-ui/tailwind.preset.js
Due: biome-check-js, biome-check-json, biome-check-css

feat: transition to @tailwindcss/typography for improved content styling
  apps/web/src/components/features/ColorPalette.tsx
  apps/web/src/pages/colors.astro
  apps/web/src/pages/index.astro
  apps/web/src/pages/spacing.astro
  apps/web/src/pages/typography.astro
  apps/web/src/styles/global.css
  docs/PROSE_TRANSITION.md
  docs/prose_styles.js
  docs/tailwind_prose.md
  package.json
Due: biome-check-js, biome-check-json, biome-check-css, biome-check-astro

feat: add React + TypeScript + Vite example and core UI components
  biome.json
  bun.lock
  examples/react/.gitignore
  examples/react/README.md
  examples/react/components.json
  examples/react/eslint.config.js
  examples/react/index.html
  examples/react/package.json
  examples/react/public/vite.svg
  examples/react/src/App.tsx
  examples/react/src/components/tremor/AreaChart.tsx
  examples/react/src/components/ui/button.tsx
  examples/react/src/components/ui/card.tsx
  examples/react/src/lib/chartUtils.ts
  examples/react/src/lib/useOnWindowResize.ts
  examples/react/src/lib/utils.ts
  examples/react/src/main.tsx
  examples/react/src/styles/index.css
  examples/react/tsconfig.app.json
  examples/react/tsconfig.json
  examples/react/tsconfig.node.json
  examples/react/vite.config.ts
  package.json
Due: biome-check-js, biome-check-json, biome-check-css

feat: added Tailwind Typography integration and Tremor styling
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/src/index.css
  packages/basalt-ui/tailwind.config.js
Due: biome-check-js, biome-check-css

feat: enhance React example with Tremor dashboard
  apps/web/CLAUDE.md
  apps/web/package.json
  apps/web/src/components/layout/Navigation.astro
  bun.lock
  examples/react/README.md
  examples/react/index.html
  examples/react/package.json
  examples/react/src/App.tsx
  examples/react/src/components/features/AppSidebar.tsx
  examples/react/src/components/features/Breadcrumbs.tsx
  examples/react/src/components/features/DropdownUserProfile.tsx
  examples/react/src/components/features/MetricsCards.tsx
  examples/react/src/components/features/ThemeToggle.tsx
  examples/react/src/components/features/UserProfile.tsx
  examples/react/src/components/features/data.ts
  examples/react/src/components/tremor/Accordion.tsx
  examples/react/src/components/tremor/Badge.tsx
  examples/react/src/components/tremor/BarChart.tsx
  examples/react/src/components/tremor/Button.tsx
  examples/react/src/components/tremor/Card.tsx
  examples/react/src/components/tremor/ComboChart.tsx
  examples/react/src/components/tremor/ConditionalBarChart.tsx
  examples/react/src/components/tremor/CustomTooltips.tsx
  examples/react/src/components/tremor/Divider.tsx
  examples/react/src/components/tremor/Drawer.tsx
  examples/react/src/components/tremor/DropdownMenu.tsx
  examples/react/src/components/tremor/Input.tsx
  examples/react/src/components/tremor/Select.tsx
  examples/react/src/components/tremor/Sidebar.tsx
  examples/react/src/components/tremor/Skeleton.tsx
  examples/react/src/components/tremor/TabNavigation.tsx
  examples/react/src/components/tremor/Table.tsx
  examples/react/src/components/ui/button.tsx
  examples/react/src/lib/chartUtils.ts
  examples/react/src/lib/useMobile.tsx
  examples/react/src/lib/useScroll.ts
  examples/react/src/lib/utils.ts
  examples/react/src/stores/sidebar.ts
  examples/react/src/stores/theme.ts
  package.json
Due: biome-check-js, biome-check-json, biome-check-astro

feat: integrate Starlight documentation at /docs/* subpath
  README.md
  apps/web/CLAUDE.md
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/layout/MobileMenu.tsx
  apps/web/src/components/layout/Navigation.astro
  apps/web/src/components/tremor/AreaChart.tsx
  apps/web/src/content.config.ts
  apps/web/src/content/docs/docs/colors.md
  apps/web/src/content/docs/docs/index.md
  apps/web/src/content/docs/docs/installation.md
  apps/web/src/content/docs/docs/introduction.md
  apps/web/src/content/docs/docs/spacing.md
  apps/web/src/content/docs/docs/typography.md
  apps/web/src/styles/starlight-custom.css
  bun.lock
Due: biome-check-js, biome-check-json, biome-check-css, biome-check-astro

feat: add Starlight compatibility with dedicated CSS file
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/index.css
  packages/basalt-ui/src/starlight.css
Due: biome-check-json, biome-check-css

refactor: remove custom Starlight CSS in favor of basalt-ui integration
  apps/web/CLAUDE.md
  apps/web/astro.config.mjs
  apps/web/src/styles/starlight-custom.css
  docs/DARK_MODE_IMPLEMENTATION.md
Due: biome-check-js, biome-check-css

chore(JK-21): stricter commitlint
  bun.lock
  commitlint.config.ts
  package.json
Due: biome-check-js, biome-check-json

ci(JK-21): add GitHub Actions workflow for CI
  .github/workflows/ci.yml
Due: none

feat(JK-21): enforce basalt-ui change isolation
  .github/pr-commenter.yml
  .github/workflows/pr-commenter.yml
  bun.lock
  lefthook.yml
Due: none

feat(JK-21): configure Renovate for dependency management
  renovate.json
Due: biome-check-json

feat(JK-32): rewrite basalt-ui README and metadata
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/README.md
  packages/basalt-ui/index.js
  packages/basalt-ui/package.json
Due: biome-check-js, biome-check-json

feat(JK-32): establish brand voice
  README.md
  apps/web/src/layouts/Layout.astro
  apps/web/src/pages/index.astro
  docs/BRAND_VOICE.md
  docs/IMPLEMENTATION.md
  docs/IMPLEMENTATION_WEB.md
  docs/brand_context.yaml
  docs/llm.md
  docs/prose/PROSE_TRANSITION.md
  docs/prose/prose_styles.js
  docs/prose/tailwind_prose.md
  docs/research/DARK_MODE_IMPLEMENTATION.md
  docs_backup/IMPLEMENTATION.md
  docs_backup/IMPLEMENTATION_BIOME.md
  docs_backup/IMPLEMENTATION_RELEASE.md
  docs_backup/SHADCN_INTEGRATION.md
Due: biome-check-js, biome-check-astro

ci(JK-19): add npm publish workflow and release-it config
  .github/workflows/publish.yml
  .release-it.json
  bun.lock
  package.json
Due: biome-check-json

fix(JK-19): correct `after:bump` hook and --no-verify on release
  .release-it.json
Due: biome-check-json

chore: release v0.1.0
  package.json
  packages/basalt-ui/CHANGELOG.md
Due: biome-check-json

ci(JK-19): add interactive release script with version prompts
  bun.lock
  package.json
  scripts/release.ts
  tsconfig.json
Due: biome-check-js, biome-check-json

ci(JK-19): simplify npm publish step by switching to trusted publishing
  .github/workflows/publish.yml
Due: none
