Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

fix: collapse delivery to one package, one command, one version
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/bin/basalt-ui.mjs
  packages/basalt-ui/configs/check.yml
  packages/basalt-ui/configs/lefthook.yml
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-tarball-parity.mjs
  packages/basalt-ui/scripts/css-noop-loader.mjs
  packages/basalt-ui/scripts/css-noop-register.mjs
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/scripts/export-surface.mjs
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/help.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/placement-engine.test.ts
  packages/basalt-ui/src/cli/tarball-parity.test.ts
  packages/basalt-ui/src/cli/template-format.test.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

ci: stop the formatter fighting the changelog generator
  .gitignore
  .oxfmtignore
  package.json
Due: biome-check-json

fix: print help instead of running the command
  packages/basalt-ui/src/cli/help.test.ts
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

docs: align the basalt-app skill with the lefthook/check.yml seed strategy
  plugins/basalt/skills/basalt-app/SKILL.md
Due: none

fix: export the BP hue families and p pair-picker from the tokens entry
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/tests/barrel-surface.test.ts
Due: biome-check-js

chore: retire the Claude plugin and marketplace
  .claude-plugin/marketplace.json
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  docs/DESIGN-CORE.md
  docs/STATUS.md
  lefthook.yml
  plugins/basalt/.claude-plugin/plugin.json
  plugins/basalt/skills/basalt-app/SKILL.md
  plugins/basalt/skills/basalt-charts/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
  tests/plugin-version-lockstep.test.ts
  tests/surfaces-coverage.test.ts
Due: biome-check-js, biome-check-json

fix: drop argo-shaped CLI defaults
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

chore: release 1.0.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
Due: none

Notes added by 'git notes add'
  be27f42b1dedcfc262a9c158f7c236832ca6940f
Due: none

chore: let package-generated root files ride with the basalt-ui commit
  CLAUDE.md
  lefthook.yml
Due: none

fix: make the import boundary unclobberable and stop false drift on sync
  .oxlintrc.json
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/templates/__root.tpl
  packages/basalt-ui/agent/templates/query-client.ts.tpl
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/scripts/gen-oxlint.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/template-ledger.test.ts
  packages/basalt-ui/src/surfaces.ts
  tests/oxlint-preset-sync.test.ts
  tests/surfaces-coverage.test.ts
Due: biome-check-js, biome-check-json

chore: release 1.0.2 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  7a470893654445cc46946729f1638f0d519cf933
Due: none

chore: regenerate llms.txt for the 1.0.2 release
  packages/basalt-ui/llms.txt
Due: none

ci: regenerate llms.txt during release so it stops drifting
  .releaserc.json
Due: biome-check-json

feat: split the import boundary into three independent rules
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
  packages/basalt-ui/agent/skills/basalt-design/SKILL.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/scripts/gen-oxlint.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: register the three boundary rules and correct their rationale
  .oxlintrc.json
  CLAUDE.md
  docs/DESIGN-CORE.md
  tests/oxlint-preset-sync.test.ts
  tests/surfaces-coverage.test.ts
Due: biome-check-js, biome-check-json

ci: deploy the marketing site to the VPS via RollHook
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  apps/marketing/Dockerfile
Due: none

chore: release 1.1.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  c2130b1204a5ce8bc8d7686a237f9d84adb02082
Due: none

chore: lint the playground against the shipped oxlint preset
  apps/playground/.oxlintrc.json
Due: biome-check-json

refactor: stop the repo config governing apps/playground
  .oxlintrc.json
  packages/basalt-ui/src/surfaces.ts
  tests/oxlint-preset-sync.test.ts
Due: biome-check-js, biome-check-json

fix: derive consumer seeds from basalt.roots, relax eqeqeq to smart
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/configs/check.yml
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init-sync.test.ts
Due: biome-check-js, biome-check-json

test: pin the shipped preset's eqeqeq smart mode against oxlint
  .oxlintrc.json
  tests/fixtures/eqeqeq-smart-fixture.ts
  tests/oxlint-preset-sync.test.ts
Due: biome-check-js, biome-check-json

chore: drop the dev:plugin script for the removed plugin dir
  package.json
Due: biome-check-json

chore: release 1.1.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  8befd1638ea8ac346aaa49a24d9fb70cda094369
Due: none

feat: add basaltAppPlugin for PWA head, manifest, and icon metadata
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/vite-color-mix.test.ts
  packages/basalt-ui/src/vite-color-mix.ts
  packages/basalt-ui/src/vite.ts
Due: biome-check-js, biome-check-json

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
