Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

fix: remove --frozen-lockfile from Docker bun install
  apps/marketing/Dockerfile
Due: none

feat: add OCI labels to Docker images
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

chore: update lockfile after removing release-it deps
  bun.lock
Due: none

fix: skip Docker job on release dry run
  .github/workflows/release.yml
Due: none

fix: replace @semantic-release/npm with exec to bypass workspace: protocol error
  .github/workflows/release.yml
  .releaserc.json
Due: biome-check-json

fix: remove scope from release commit message to satisfy commitlint
  .releaserc.json
Due: biome-check-json

chore: release 0.3.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  c926b4263c8d4dc2873d5d891b261bdbc607431e
Due: none

feat: integrate npm publish into release workflow
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

fix: handle workflow_dispatch ref in publish version check
  .github/workflows/publish.yml
Due: none

ci: move marketing image to private registry path
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

ci: use metadata-action for OCI manifest annotations
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

ci: fix OCI annotations with explicit manifest-level values
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

chore: migrate analytics from Plausible to Umami
  CLAUDE.md
  apps/marketing/functions/api/event.js
  apps/marketing/functions/js/script.js
  apps/marketing/src/layouts/Layout.astro
Due: biome-check-js, prettier-astro

chore: respect DNT header in Umami analytics
  apps/marketing/src/layouts/Layout.astro
Due: prettier-astro

chore: update Umami script path to p.js
  apps/marketing/src/layouts/Layout.astro
Due: prettier-astro

feat: upgrade to Astro 6 and adopt stable Fonts API
  apps/marketing/astro.config.mjs
  apps/marketing/package.json
  apps/marketing/src/content/docs/docs/astro-fonts.md
  apps/marketing/src/layouts/Layout.astro
  bun.lock
Due: biome-check-js, biome-check-json, prettier-astro

docs: clarify no-scope rule in git workflow section
  CLAUDE.md
Due: none

feat: remove @font-face declarations, delegate font loading to apps
  packages/basalt-ui/package.json
  packages/basalt-ui/src/index.css
Due: biome-check-json, biome-check-css

feat: fix font preloads on Starlight docs pages
  apps/marketing/astro.config.mjs
  apps/marketing/src/components/starlight/Head.astro
  apps/marketing/src/content/docs/docs/astro-fonts.md
  bun.lock
Due: biome-check-js, prettier-astro

feat: add fontsource deps to example-react, rewrite font docs
  apps/marketing/src/content/docs/docs/installation.md
  bun.lock
  examples/react/package.json
  examples/react/src/styles/index.css
  package.json
Due: biome-check-json, biome-check-css

fix: upgrade CI to Node 24, fix CodeRabbit doc issues
  .github/workflows/ci.yml
  apps/marketing/src/content/docs/docs/astro-fonts.md
  apps/marketing/src/content/docs/docs/installation.md
  biome.json
Due: biome-check-json

fix: add UTM param to docs link in index.css comment
  packages/basalt-ui/src/index.css
Due: biome-check-css

chore: release 0.4.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  0cd2c04ef6817b101e3c63c29037509afd1a5a7d
Due: none

fix: pass NODE_AUTH_TOKEN to npm publish step
  .github/workflows/release.yml
Due: none

chore: release 0.4.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  6ffb117f76385c41c6f0d6afb050d3b4eadff0eb
Due: none

ci: update pr-commenter to reference Make Release workflow
  .github/pr-commenter.yml
Due: none

ci: switch to semantic-release-monorepo for path-filtered releases
  .github/workflows/release.yml
  CLAUDE.md
  bun.lock
  package.json
Due: biome-check-json

ci: add npm provenance, document trusted publishing migration path
  .github/workflows/release.yml
Due: none

ci: fix semantic-release-monorepo invocation via node -r flag
  .github/workflows/release.yml
Due: none

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
