Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

chore: fix playground review findings (callback-ref + memo deps)
  apps/playground/src/App.tsx
  apps/playground/src/demo/use-measure.ts
Due: biome-check-js

fix: revert barOpacity over-correction caught by re-review
  packages/basalt-ui/src/charts/kinds/Bars.tsx
Due: biome-check-js

refactor: deliver basalt skills via user-scope plugin, not project settings
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/agent/templates/DESIGN.md.tpl
  packages/basalt-ui/agent/templates/settings.stanza.json
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js, biome-check-json

fix: correct basalt plugin skills paths and align skill docs with the real CLI
  docs/DESIGN-CORE.md
  package.json
  plugins/basalt/.claude-plugin/plugin.json
  plugins/basalt/skills/basalt-app/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
Due: biome-check-json

fix: unblock browser and local-source dev rendering
  packages/basalt-ui/src/charts/hooks/useHoverSync.ts
  packages/basalt-ui/src/vite.ts
Due: biome-check-js

chore: bind playground and marketing dev servers to static ports
  apps/marketing/astro.config.mjs
  apps/marketing/package.json
  apps/playground/package.json
  apps/playground/vite.config.ts
Due: biome-check-js, biome-check-json

feat: warm-neutral theme, chart kinds, dense shell
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/templates/DESIGN.md.tpl
  packages/basalt-ui/src/charts/hooks/useHoverSync.ts
  packages/basalt-ui/src/charts/hover-context.ts
  packages/basalt-ui/src/charts/hover-sync.tsx
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tsconfig.json
  packages/basalt-ui/tsup.config.ts
Due: biome-check-js, biome-check-json, biome-check-css

feat: exercise new chart kinds and components page
  apps/playground/src/App.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/ComponentsPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/data.ts
  apps/playground/src/demo/icons.tsx
  apps/playground/src/demo/series.ts
Due: biome-check-js

docs: align design-core and basalt plugin skills
  docs/DESIGN-CORE.md
  plugins/basalt/skills/basalt-charts/SKILL.md
  plugins/basalt/skills/basalt-design/SKILL.md
Due: none

docs: add framework maturation, enforcement, and integration plans
  docs/ENFORCEMENT-HARDENING.md
  docs/INTEGRATION-DX.md
  docs/MATURATION-ROADMAP.md
Due: none

docs: add Phase 0/1 execution handover with ultracode workflow
  docs/EXECUTION-HANDOVER.md
Due: none

ci: drop NPM_TOKEN publish job; OIDC publish.yml is sole publisher
  .github/workflows/release.yml
Due: none

docs: rewrite README for the Mantine v9 + visx pivot
  packages/basalt-ui/README.md
Due: none

docs: drop phantom react-router ban from basalt-router rule
  packages/basalt-ui/agent/rules/basalt-router.md
Due: none

docs: encode 1.0 maximum-ambition decision into roadmap docs
  docs/INTEGRATION-DX.md
  docs/MATURATION-ROADMAP.md
Due: none

docs: modernize forms rule to native @mantine/form schemaResolver
  packages/basalt-ui/agent/rules/basalt-state.md
Due: none

feat: add the Phase-1 spine (SURFACES enforcement + BasaltRegister seam)
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/gen-oxlint.ts
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/register.ts
  packages/basalt-ui/src/state.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the basalt-ui 1.0.0 version
  bun.lock
Due: none

ci: dogfood check-theme on basalt's own src
  .github/workflows/ci.yml
  lefthook.yml
Due: none

test: add Phase-1 compile fixtures, spine tests, and regenerated lint config
  .oxlintrc.json
  apps/playground/src/asyncstate-fourth-variant.type-guard.ts
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/series.ts
  apps/playground/src/demo/series.type-guard.ts
  apps/playground/src/register-augments-all.type-guard.ts
  apps/playground/src/register-augments-nothing.type-guard.ts
  apps/playground/src/surfaces-broken.type-guard.ts
  tests/oxlint-preset-sync.test.ts
  tests/plugin-version-lockstep.test.ts
  tests/surfaces-coverage.test.ts
Due: biome-check-js, biome-check-json

docs: add Phase-1 grounding, design, and implement handover
  docs/PHASE-1-DESIGN.md
  docs/PHASE-1-GROUNDING.md
  docs/PHASE-1-HANDOVER.md
  docs/PHASE-1-IMPLEMENT-HANDOVER.md
Due: none

docs: add the 1.0-drive handover for the rest of the PR
  docs/ONE-ZERO-DRIVE-HANDOVER.md
Due: none

feat: finish the M0 release gates and drop the unbacked dates peer
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-dist-layering.mjs
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/vite.ts
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the publint and attw dev tools
  bun.lock
Due: none

refactor: make build scripts runtime-portable via import.meta.dirname
  packages/basalt-ui/scripts/copy-assets.mjs
  packages/basalt-ui/scripts/fix-esm-extensions.mjs
  packages/basalt-ui/scripts/gen-oxlint.ts
Due: biome-check-js

feat: add the query adapter subpath (client, unwrap, devtools)
  packages/basalt-ui/agent/rules/basalt-query.md
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-dist-layering.mjs
  packages/basalt-ui/src/query/devtools.tsx
  packages/basalt-ui/src/query/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: add the query demo to the playground
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/demo/QueryDemoPage.tsx
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the playground query devDeps
  bun.lock
Due: none

feat: add the router-tanstack adapter subpath
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/check-dist-layering.mjs
  packages/basalt-ui/src/router-tanstack/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: add the router-tanstack demo to the playground
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/demo/RouterDemoPage.tsx
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the playground router devDep
  bun.lock
Due: none

feat: add the forms adapter subpath
  packages/basalt-ui/agent/rules/basalt-forms.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/forms/FormErrorSummary.tsx
  packages/basalt-ui/src/forms/create-form.ts
  packages/basalt-ui/src/forms/field.ts
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/forms/use-form-draft.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: add the forms demo to the playground
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the forms peer and demo devDeps
  bun.lock
Due: none

feat: add the notifications adapter subpath
  packages/basalt-ui/agent/rules/basalt-notifications.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/notifications/bell.tsx
  packages/basalt-ui/src/notifications/center.tsx
  packages/basalt-ui/src/notifications/define-notifications.ts
  packages/basalt-ui/src/notifications/index.ts
  packages/basalt-ui/src/notifications/notify.tsx
  packages/basalt-ui/src/notifications/overlay.tsx
  packages/basalt-ui/src/notifications/store.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: add the notifications demo to the playground
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/main.tsx
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the notifications peer and demo devDep
  bun.lock
Due: none

feat: add the commands adapter subpath
  packages/basalt-ui/agent/rules/basalt-commands.md
  packages/basalt-ui/package.json
  packages/basalt-ui/src/commands/ShortcutsHelp.tsx
  packages/basalt-ui/src/commands/define-commands.ts
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/index.ts
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/commands/projectors.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: sync bun.lock for the commands peer devDeps
  bun.lock
Due: none

chore: add the commands demo to the playground
  apps/playground/package.json
  apps/playground/src/App.tsx
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/main.tsx
Due: biome-check-js, biome-check-json

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
