Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

fix: extend the unknown-vx-token grace one minor to 1.36.0
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

chore: release 1.35.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  de3d7717894a914f0932c40524f79c562f38fafb
Due: none

feat: export useCoarsePointer from the root barrel
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
  packages/basalt-ui/src/common/index.ts
  packages/basalt-ui/src/common/use-media-query.test.tsx
  packages/basalt-ui/src/common/use-media-query.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

docs: correct useSizeClass's first-render claim, close parked design calls
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/shell/use-size-class.test.tsx
  packages/basalt-ui/src/shell/use-size-class.ts
Due: biome-check-js

refactor: import the form layout from basalt-ui/controls
  .claude/rules/basalt-controls.md
  .claude/rules/basalt-mantine.md
  .oxlintrc.json
  apps/playground/src/demo/FormsDemoPage.tsx
Due: biome-check-js, biome-check-json

feat: move the form layout to basalt-ui/controls
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/scripts/check-dist-layering.mjs
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/controls/form-layout.module.css
  packages/basalt-ui/src/controls/form-layout.module.css.d.ts
  packages/basalt-ui/src/controls/form-layout.test.tsx
  packages/basalt-ui/src/controls/form-layout.tsx
  packages/basalt-ui/src/controls/index.ts
  packages/basalt-ui/src/controls/peer-boundary.test.ts
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
Due: biome-check-js, biome-check-json, biome-check-css

feat: promote unknown-vx-token to error
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/scripts/gen-vx-names.ts
  packages/basalt-ui/src/common/vx-families.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/vx-names.test.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

docs: record the 1.36.0 design calls in the maturation ledger
  docs/MATURATION-LEDGER.md
Due: none

chore: release 1.36.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  c477f7438f082f4f9f1aadacc0fcfdfb0ea058db
Due: none

fix: release an unauthored MIGRATING section as nothing-to-migrate
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/scripts/release-migrating.ts
  packages/basalt-ui/tests/drift.test.ts
Due: biome-check-js

chore: release 1.36.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  518bcd668a0f0edaaba232a631ba0c6bfdc9b778
Due: none

fix: give the widget info glyph a real 24px target (WCAG 2.5.8)
  packages/basalt-ui/src/dashboard/widget-header.module.css
  packages/basalt-ui/src/dashboard/widget-header.test.tsx
Due: biome-check-js, biome-check-css

feat: let a settings menu entry render as the router link
  packages/basalt-ui/src/shell/app-mobile-nav.test.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/nav-types.ts
Due: biome-check-js

fix: re-date the forms layout deprecations to 1.38.0
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/src/controls/form-layout.tsx
  packages/basalt-ui/src/controls/index.ts
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/guard/grace.test.ts
Due: biome-check-js

docs: follow the forms deprecation re-date to 1.38.0
  docs/MATURATION-LEDGER.md
Due: none

chore: release 1.37.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  a8a05f6da87209bf89e88583067cd4cf9c45fd54
Due: none

fix: stop the measured fold folding a row that fits to the sub-pixel
  packages/basalt-ui/src/controls/actions.test.tsx
  packages/basalt-ui/src/controls/actions.tsx
Due: biome-check-js

chore: release 1.37.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  d04baf32969c0c952653b2b714337ca054281adc
Due: none

fix: inset the sidebar footer and seat the rail first icon like the expanded row
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.test.ts
  packages/basalt-ui/tests/layout/harness.ts
  packages/basalt-ui/tests/layout/shell-chrome.layout.test.ts
Due: biome-check-js, biome-check-css

feat: add --basalt-shell-lead-inset for a native title bar over the header lead
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/src/shell/app-brand.module.css
  packages/basalt-ui/src/shell/app-brand.module.css.test.ts
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/theme/shell-seams.test.ts
  packages/basalt-ui/tests/layout/shell-chrome.layout.test.ts
Due: biome-check-js, biome-check-css
