Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

fix: resolve the paths the wiring checks only matched, and audit the waivers
  packages/basalt-ui/configs/lefthook.yml
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init-sync.test.ts
  packages/basalt-ui/src/cli/template-ledger.test.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/src/cli/waiver-audit.test.ts
  packages/basalt-ui/tests/doctor.test.ts
  packages/basalt-ui/tests/lefthook-preset.test.ts
Due: biome-check-js

fix: make an annotation start its comment, and let it scope to one node
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js, biome-check-json

fix: emit 0.1, not 0.10, from the shadow palette itself
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
Due: biome-check-js, biome-check-css

fix: delete a waiver that stopped covering anything
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
Due: biome-check-js

docs: stop seven chart kinds promising the aria role ChartFrame forbids
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
Due: biome-check-js

docs: teach the shipped rules 1.20.1's grammar and the reader they lacked
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
Due: none

docs: record 1.20.1 in STATUS and correct the counts it moved
  CLAUDE.md
  docs/CHARTS-SPEC.md
  docs/DESIGN-CORE.md
  docs/DESIGN-SPEC.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

docs: correct two JSDoc blocks that ship to consumers via autocomplete
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

ci: let a commit touch only an ignored file
  lefthook.yml
Due: none

fix: restore the palette fixture to emitter bytes
  packages/basalt-ui/tests/fixtures/palette-default.css
Due: biome-check-css

feat: give the type ladder the two rungs consumers could only waive
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/text-scale.test.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js, biome-check-css

feat: make the search-param store's reader reachable from the API
  packages/basalt-ui/src/router-tanstack/multi-search-param-store.ts
  packages/basalt-ui/src/router-tanstack/search-param-store.test.ts
  packages/basalt-ui/src/router-tanstack/search-param-store.ts
Due: biome-check-js

fix: let the real color scheme win, and keep <meta charset> in its window
  packages/basalt-ui/src/vite.test.ts
  packages/basalt-ui/src/vite.ts
  packages/basalt-ui/tests/app-plugin-html.test.ts
  packages/basalt-ui/tests/layout/boot-color-scheme.layout.test.ts
  packages/basalt-ui/tests/layout/harness.ts
Due: biome-check-js

docs: correct four wrong MIGRATING rows and ship the corrections consumers read
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
Due: none

fix: persist sidebar collapse through basalt's own state primitive
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js

docs: make STATUS true at 1.20.0 and stop FRAMEWORK-FREE overstating the emitter
  CLAUDE.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

chore: release 1.21.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  9ff8391129e90a6574ae3712e58b9ca704e289c3
Due: none

fix: let `icons: false` reach the manifest it was only skipping in the head
  packages/basalt-ui/src/vite.test.ts
  packages/basalt-ui/src/vite.ts
Due: biome-check-js

fix: scope the shadow-export tripwire to basalt consumers, and to components
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

feat: give the waiver audit an annotation reader, and fix two shapes
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js, biome-check-json

fix: stop sync scaffolding a second consumer, and give the audit the oxlint half
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/help.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/src/cli/waiver-audit.test.ts
Due: biome-check-js

docs: document the 1.21.1 batch, and fix a heading naming a version npm lacks
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
Due: none

docs: stop STATUS.md restating a version that is stale by construction
  CLAUDE.md
  docs/CHARTS-SPEC.md
  docs/DESIGN-SPEC.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

docs: the emitted stylesheet is lintable now
  docs/FRAMEWORK-FREE.md
Due: none
