Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

fix: make the responsive chart height reachable and the legend cap honoured
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/scripts/release-migrating.ts
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/kinds/height-responsive.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/tests/drift.test.ts
Due: biome-check-js

fix: automate MIGRATING's release rename, and correct what 1.30.0 published
  .releaserc.json
  docs/CHARTS-SPEC.md
  docs/MATURATION-LEDGER.md
  scripts/release.sh
Due: biome-check-json

chore: release 1.30.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  8aa857da024975a6fd282ac5c6bcc6a140da5eb7
Due: none

ci: poll the registry for the released version, and fail on a mismatch
  CLAUDE.md
  scripts/release.sh
Due: none

fix: stop legendWins collapsing a self-measured fill frame to no plot
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/tests/layout/charts.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js

chore: release 1.30.2 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  af14256108b9b2ebfdd0dd6491eba6b88459dca0
Due: none

ci: brace the version expansion the registry confirmation broke on
  scripts/release.sh
Due: none

docs: rename the meteo consumer to weatherorb
  docs/MATURATION-LEDGER.md
Due: none

docs: rename the meteo consumer to weatherorb
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/cli/init-sync.test.ts
  packages/basalt-ui/src/common/errors.ts
Due: biome-check-js

docs: move agent instructions to AGENTS.md behind a CLAUDE.md import
  AGENTS.md
  CLAUDE.md
  apps/marketing/AGENTS.md
  apps/marketing/CLAUDE.md
  docs/DESIGN-CORE.md
  scripts/release.sh
Due: none

chore: bump packages/basalt-ui dev dependencies
  bun.lock
  packages/basalt-ui/package.json
  packages/basalt-ui/src/agent/ai-sdk-transport.test.ts
Due: biome-check-js, biome-check-json

chore: bump playground and root tooling dependencies
  apps/playground/package.json
  bun.lock
  package.json
Due: biome-check-json

ci: put basalt-ui.com marketing on the shared edge-cache pattern
  .github/workflows/deploy.yml
  apps/marketing/Dockerfile
  apps/marketing/nginx.conf
Due: none

build: bump the marketing builder to bun 1.4.1
  apps/marketing/Dockerfile
Due: none

docs: record wave 7 outcome, metric miss and legend law
  docs/CHARTS-SPEC.md
  docs/waves/PLAN.md
Due: none

feat: key card chrome on the card's own width
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/primitives/ChartCard.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
  packages/basalt-ui/src/dashboard/section.module.css
  packages/basalt-ui/src/dashboard/stat-card.module.css
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/dashboard/stat-group.module.css
  packages/basalt-ui/src/dashboard/stat-group.test.ts
  packages/basalt-ui/src/dashboard/widget-grid.tsx
  packages/basalt-ui/src/dashboard/widget-header.module.css
  packages/basalt-ui/src/dashboard/widget-header.module.css.d.ts
  packages/basalt-ui/src/dashboard/widget-header.test.tsx
  packages/basalt-ui/src/dashboard/widget-header.tsx
  packages/basalt-ui/src/tokens/breakpoint-literals.test.ts
  packages/basalt-ui/tests/layout/card-chrome.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js, biome-check-css

feat: adopt the pointer-tier hit area, gate hover reveals, sheet the modal
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/content/code-block.module.css
  packages/basalt-ui/src/content/prose.module.css
  packages/basalt-ui/src/controls/controls.module.css
  packages/basalt-ui/src/controls/enum-filter.tsx
  packages/basalt-ui/src/controls/filter-pill.tsx
  packages/basalt-ui/src/controls/multi-select-filter.tsx
  packages/basalt-ui/src/dashboard/section.module.css
  packages/basalt-ui/src/dashboard/section.tsx
  packages/basalt-ui/src/dashboard/widget-header.module.css
  packages/basalt-ui/src/dashboard/widget-header.tsx
  packages/basalt-ui/src/data/data-table.module.css
  packages/basalt-ui/src/data/data-table.module.css.d.ts
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/shell/app-brand.tsx
  packages/basalt-ui/src/shell/page-bar.module.css
  packages/basalt-ui/src/shell/page-bar.test.tsx
  packages/basalt-ui/src/shell/page-bar.tsx
  packages/basalt-ui/src/styles.css
  packages/basalt-ui/src/theme/controls.module.css
  packages/basalt-ui/src/theme/ctl-theme.tsx
  packages/basalt-ui/src/theme/floating.module.css
  packages/basalt-ui/src/theme/floating.module.css.d.ts
  packages/basalt-ui/src/theme/hit-adopters.test.tsx
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/nav-link.module.css
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
  packages/basalt-ui/tests/layout/hit-floor.layout.test.ts
  packages/basalt-ui/tests/layout/hit-overlap.layout.test.ts
  packages/basalt-ui/tests/layout/modal-sheet.layout.test.ts
Due: biome-check-js, biome-check-css

fix: thin rotated x labels by projected width, default charts to regular
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/kinds/Heatmap.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.test.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/ChartTooltip.tsx
  packages/basalt-ui/src/charts/primitives/Crosshair.tsx
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
  packages/basalt-ui/src/charts/utils/ticks.test.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/src/shell/use-size-class.ts
Due: biome-check-js

docs: close wave 5 and hand off to wave 6
  docs/waves/PLAN.md
Due: none

docs: close wave 4 and hand off to wave 5
  docs/waves/PLAN.md
Due: none

chore: ledger useBreakpoint and dedupe VX.phoneChartWidth
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

docs: rule on the wave 7 metric miss and insert a header-economy wave
  docs/waves/PLAN.md
Due: none

docs: close wave 2 and hand off to wave 3
  docs/waves/PLAN.md
Due: none

feat: fit chart legends by measured width, fold donut and label line ends
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/kinds/Donut.test.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/donut-layout.test.ts
  packages/basalt-ui/src/charts/kinds/donut-layout.ts
  packages/basalt-ui/src/charts/layout/end-labels.test.ts
  packages/basalt-ui/src/charts/layout/end-labels.ts
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/tests/layout/charts.layout.test.ts
Due: biome-check-js

feat: fold chart-card headers by height, not width alone
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/dashboard/widget-header.module.css
  packages/basalt-ui/src/dashboard/widget-header.test.tsx
  packages/basalt-ui/src/dashboard/widget-header.tsx
  packages/basalt-ui/tests/layout/card-chrome.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
Due: biome-check-js, biome-check-css

feat: resolve chart layout from the container class, height from width
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/src/charts/kinds/height-responsive.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-card-context.ts
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.test.ts
  packages/basalt-ui/src/charts/primitives/chart-layout.ts
  packages/basalt-ui/src/charts/primitives/chart-tier.test.tsx
  packages/basalt-ui/src/charts/primitives/chart-tier.tsx
  packages/basalt-ui/src/common/errors.ts
  packages/basalt-ui/src/tokens/size-classes.ts
Due: biome-check-js

docs: close wave 6 and hand off to wave 7
  docs/waves/PLAN.md
Due: none

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
