Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

docs: stop STATUS.md restating a version that is stale by construction
  CLAUDE.md
  docs/CHARTS-SPEC.md
  docs/DESIGN-SPEC.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

docs: document the 1.21.1 batch, and fix a heading naming a version npm lacks
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-router.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
Due: none

chore: release 1.22.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  4cadee28d62a0773b7062374fdb08b6230561a71
Due: none

feat: two banded chart kinds — BandStrip and MirroredBars
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.test.tsx
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.test.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
  packages/basalt-ui/src/charts/primitives/HatchPattern.tsx
Due: biome-check-js, biome-check-json

feat: playground routes for BandStrip and MirroredBars
  apps/playground/src/demo/BandStripDemoPage.tsx
  apps/playground/src/demo/MirroredBarsDemoPage.tsx
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/band-strip.tsx
  apps/playground/src/routes/mirrored-bars.tsx
Due: biome-check-js

fix: make sync resolve, and report, what the other two commands already do
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/templates/DESIGN.md.tpl
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/shipped-versions.test.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/src/cli/waiver-audit.test.ts
Due: biome-check-js

fix: stop a non-finite absent share painting a band that never renders
  packages/basalt-ui/src/charts/kinds/BandStrip.test.tsx
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
Due: biome-check-js

feat: give CartesianChart the x tick-VALUES seam its band siblings already have
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
Due: biome-check-js

fix: make the two annotation parsers agree, and pin the whole shape grid
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

feat: let basaltAppPlugin's icons option name a real icon file
  packages/basalt-ui/src/vite.test.ts
  packages/basalt-ui/src/vite.ts
Due: biome-check-js

fix: teach chart-in-raw-surface the two new kinds
  packages/basalt-ui/configs/oxlint-plugin.js
Due: biome-check-js

docs: ship the two band kinds, the icon array, and an Unreleased heading
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
Due: none

docs: replace the two-bar-pane decision, and record round 7
  CLAUDE.md
  docs/CHARTS-SPEC.md
  docs/DESIGN-CORE.md
  docs/FRAMEWORK-FREE.md
  docs/STATUS.md
Due: none

fix: teach unframed-chart the two new kinds too
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

test: wait for the tooltip PAIR, not the follower that never needed waiting
  packages/basalt-ui/src/charts/kinds/DualPanel.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
Due: biome-check-js

chore: release 1.23.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  03d7ca8c69e718e670683b555d1feb4e95fc235f
Due: none

fix: gate the two chart tag rules on where the tag came from
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: stop a typo'd band state from asserting absence
  packages/basalt-ui/src/charts/kinds/BandStrip.test.tsx
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.test.tsx
  packages/basalt-ui/src/charts/kinds/MirroredBars.tsx
Due: biome-check-js

fix: make the CLI answer which version ran, and stop it failing open
  packages/basalt-ui/src/cli/help.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/tokens-css.test.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

docs: record the band-state throw, the tag gate, and the CLI's version answer
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-app.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/agent/skills/basalt-charts/SKILL.md
Due: none

docs: record round 8, and the ~150 lines the band-kind port missed
  docs/STATUS.md
Due: none

docs: the shipped CLAUDE block named three chart exceptions, not five
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
Due: none
