Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

feat: guard bound controls outside a home and teach the agent the aside
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/cli/check-coverage.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

feat: stat card header spans the card and starts at its top
  packages/basalt-ui/src/dashboard/stat-card.module.css
  packages/basalt-ui/src/dashboard/stat-card.module.css.d.ts
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
Due: biome-check-js, biome-check-css

fix: import the cbbi query types through basalt-ui/query
  apps/playground/src/demo/cbbi/cbbi-query.ts
Due: biome-check-js

refactor: move the CBBI panel onto PageAside
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  docs/ASIDE-SPEC.md
  docs/STATUS.md
Due: biome-check-js

feat: null gaps, log guards and measured x ticks in the chart layer
  packages/basalt-ui/src/charts/hooks/useBandPlot.ts
  packages/basalt-ui/src/charts/kinds/BandStrip.test.tsx
  packages/basalt-ui/src/charts/kinds/BandStrip.tsx
  packages/basalt-ui/src/charts/kinds/Bars.test.tsx
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/DualPanel.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.test.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.test.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.test.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.tsx
  packages/basalt-ui/src/charts/primitives/chart-frame-layout.ts
  packages/basalt-ui/src/charts/series.ts
  packages/basalt-ui/src/charts/utils/ticks.test.ts
  packages/basalt-ui/src/charts/utils/ticks.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/utils/is-dev.ts
Due: biome-check-js

docs: migration notes, regenerated llms.txt and rule docs for this round
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/llms.txt
Due: none

fix: raw-size-literal was inert in its own test fixture
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
Due: biome-check-js

feat: playground demos for the wave 3 surface and consumer-vantage type guards
  apps/playground/src/commands.type-guard.ts
  apps/playground/src/data-table-generics.type-guard.tsx
  apps/playground/src/demo/ChartsStressPage.tsx
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/DataStressPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/StatesPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/layout-unions.type-guard.tsx
  apps/playground/src/notifications.type-guard.ts
  apps/playground/src/overlays.type-guard.ts
  apps/playground/src/query-state-like.type-guard.tsx
  apps/playground/src/search-store-field.type-guard.tsx
Due: biome-check-js

feat: a widget grid, a stat group, a query-aware stat card and header slices
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/dashboard/empty-state.tsx
  packages/basalt-ui/src/dashboard/index.ts
  packages/basalt-ui/src/dashboard/query-state.test.tsx
  packages/basalt-ui/src/dashboard/query-state.tsx
  packages/basalt-ui/src/dashboard/settings-section.tsx
  packages/basalt-ui/src/dashboard/stat-card-props.test.ts
  packages/basalt-ui/src/dashboard/stat-card-query.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/dashboard/stat-group.module.css
  packages/basalt-ui/src/dashboard/stat-group.module.css.d.ts
  packages/basalt-ui/src/dashboard/stat-group.tsx
  packages/basalt-ui/src/dashboard/widget-grid.module.css
  packages/basalt-ui/src/dashboard/widget-grid.module.css.d.ts
  packages/basalt-ui/src/dashboard/widget-grid.test.tsx
  packages/basalt-ui/src/dashboard/widget-grid.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/widget-header/index.ts
  packages/basalt-ui/src/widget-header/slices.test.ts
  packages/basalt-ui/src/widget-header/widget-header.tsx
Due: biome-check-js, biome-check-json, biome-check-css

feat: a real log axis on CartesianChart with 1-2-5 ticks
  packages/basalt-ui/src/charts/kinds/MultiLine.test.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/layout/auto-margin.test.ts
  packages/basalt-ui/src/charts/layout/auto-margin.ts
  packages/basalt-ui/src/charts/layout/log-ticks.test.ts
  packages/basalt-ui/src/charts/layout/log-ticks.ts
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
Due: biome-check-js

feat: one connectivity prop, guarded wiring, non-blocking overlay mount
  packages/basalt-ui/scripts/check-agent-doc-drift.ts
  packages/basalt-ui/src/agent-chat/relative-time.ts
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent/coalesce.ts
  packages/basalt-ui/src/agent/merge.ts
  packages/basalt-ui/src/commands/define-commands.ts
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/commands/overlays-mount.test.tsx
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/connectivity/connectivity-provider.test.tsx
  packages/basalt-ui/src/connectivity/connectivity-provider.tsx
  packages/basalt-ui/src/connectivity/types.ts
  packages/basalt-ui/src/connectivity/use-connectivity.ts
  packages/basalt-ui/src/notifications/mount-guard.test.tsx
  packages/basalt-ui/src/notifications/mount-guard.ts
  packages/basalt-ui/src/notifications/overlay.tsx
  packages/basalt-ui/src/provider/index.test.tsx
  packages/basalt-ui/src/provider/index.tsx
  packages/basalt-ui/src/provider/index.type-guard.test.ts
  packages/basalt-ui/src/provider/lab-theme.ts
Due: biome-check-js

refactor: keep state internals off the barrel and make data exports explicit
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/router-tanstack/field.ts
  packages/basalt-ui/src/router-tanstack/search-store.ts
  packages/basalt-ui/src/state.ts
  packages/basalt-ui/src/state.type-guard.test.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

feat: paint every AppShell region seam in the divider token
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/page-aside.module.css
  packages/basalt-ui/src/theme/border-coverage.test.ts
  packages/basalt-ui/src/theme/contrast.test.ts
  packages/basalt-ui/src/theme/divider-law.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/shell-seams.test.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/divider-contrast.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js, biome-check-css

feat: stress routes in the playground for charts, data, states and primitives
  apps/playground/src/demo/ChartsPrimitivesPage.tsx
  apps/playground/src/demo/ChartsStressPage.tsx
  apps/playground/src/demo/DataDemoPage.tsx
  apps/playground/src/demo/DataStressPage.tsx
  apps/playground/src/demo/DataTableChromeDemoPage.tsx
  apps/playground/src/demo/PrimitivesPage.tsx
  apps/playground/src/demo/StatesPage.tsx
  apps/playground/src/demo/data-stress-store.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/charts-primitives.tsx
  apps/playground/src/routes/charts-stress.tsx
  apps/playground/src/routes/data-stress.tsx
  apps/playground/src/routes/primitives.tsx
  apps/playground/src/routes/states.tsx
Due: biome-check-js

feat: rename the forms field helper to inputProps
  packages/basalt-ui/src/forms/FormErrorSummary.tsx
  packages/basalt-ui/src/forms/create-form.test.tsx
  packages/basalt-ui/src/forms/create-form.ts
  packages/basalt-ui/src/forms/field.test.ts
  packages/basalt-ui/src/forms/field.ts
  packages/basalt-ui/src/forms/index.ts
  packages/basalt-ui/src/forms/use-form-draft.ts
Due: biome-check-js

feat: guard the wiring doctrines and give deprecations a lifecycle
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/gen-llms.ts
  packages/basalt-ui/src/cli/check-coverage.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tsconfig.build.json
  packages/basalt-ui/tsconfig.json
Due: biome-check-js, biome-check-json

build: pin the pack-test scratch consumer's vite to the package's dev version
  packages/basalt-ui/scripts/pack-test.sh
Due: none

fix: confirm settles on a throw, drafts flush on unmount, panel labels click
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/kinds/StackedArea.test.tsx
  packages/basalt-ui/src/charts/kinds/StackedArea.tsx
  packages/basalt-ui/src/commands/confirm.test.tsx
  packages/basalt-ui/src/commands/define-overlays.ts
  packages/basalt-ui/src/controls/panel-row.tsx
  packages/basalt-ui/src/controls/toggle-filter.test.tsx
  packages/basalt-ui/src/controls/toggle-filter.tsx
  packages/basalt-ui/src/forms/form-layout.tsx
  packages/basalt-ui/src/forms/use-form-draft.test.tsx
  packages/basalt-ui/src/forms/use-form-draft.ts
Due: biome-check-js

feat: add the PageAside shell region
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/page-aside.module.css
  packages/basalt-ui/src/shell/page-aside.module.css.d.ts
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/shell/page-aside.tsx
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-json, biome-check-css

chore: release 1.28.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  6f9f8f54e76ef68462314410f03c73e89d48270e
Due: none

build: retire a covered guard kind, add the budgets gate and one drift test
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/scripts/sync-self.ts
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/tests/agents-sync.test.ts
  packages/basalt-ui/tests/drift.test.ts
  packages/basalt-ui/tests/gen-llms-check.test.ts
  packages/basalt-ui/tests/jsdoc-specifiers.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/lefthook-preset.test.ts
  packages/basalt-ui/tests/llms-sync.test.ts
Due: biome-check-js

docs: one home per doctrine in the shipped rules, MIGRATING for 1.29.0
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-batteries.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-state.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
  packages/basalt-ui/llms.txt
Due: none

docs: archive the superseded specs and cut the root CLAUDE.md to invariants
  CLAUDE.md
  docs/ASIDE-SPEC.md
  docs/CHARTS-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/DESIGN-CORE.md
  docs/FRAMEWORK-FREE.md
  docs/MANTINE-THEMING.md
  docs/MATURATION-LEDGER.md
  docs/STATUS.md
  docs/archive/AGENT-CHAT-SPEC.md
  docs/archive/ASIDE-SPEC-DETAIL.md
  docs/archive/CONTENT-SPEC.md
  docs/archive/CONTROLS-SYNTHESIS.md
  docs/archive/DESIGN-SPEC.md
  docs/archive/STATUS-HISTORY.md
  docs/archive/UTM.md
Due: none

build: dogfood the shipped rules and oxlint levels in this repo
  .claude/rules/basalt-batteries.md
  .claude/rules/basalt-charts.md
  .claude/rules/basalt-controls.md
  .claude/rules/basalt-mantine.md
  .claude/rules/basalt-state.md
  .claude/rules/basalt-tokens.md
  .claude/skills/basalt-app/SKILL.md
  .claude/skills/basalt-charts/SKILL.md
  .claude/skills/basalt-design/SKILL.md
  .oxlintrc.json
  Makefile
  apps/playground/DESIGN.md
  tests/oxlint-preset-sync.test.ts
Due: biome-check-js, biome-check-json

feat: transport message ids, onError and hydrated resume in the agent layer
  packages/basalt-ui/src/agent-chat/composer-paste.test.tsx
  packages/basalt-ui/src/agent-chat/index.ts
  packages/basalt-ui/src/agent-chat/thread-feed-row.test.tsx
  packages/basalt-ui/src/agent-chat/thread-feed-row.tsx
  packages/basalt-ui/src/agent-chat/thread-feed.test.tsx
  packages/basalt-ui/src/agent-chat/thread-feed.tsx
  packages/basalt-ui/src/agent-chat/virtualize.ts
  packages/basalt-ui/src/agent-chat/virtualize.type-guard.test.ts
  packages/basalt-ui/src/agent/ai-sdk-transport.ts
  packages/basalt-ui/src/agent/transport.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.resume.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
Due: biome-check-js

refactor: split the CLI into nine files and prune what no consumer needed
  packages/basalt-ui/scripts/check-budgets.ts
  packages/basalt-ui/scripts/check-coverage.test.ts
  packages/basalt-ui/scripts/check-coverage.ts
  packages/basalt-ui/scripts/check-theme-css.ts
  packages/basalt-ui/src/cli/audit-allows.ts
  packages/basalt-ui/src/cli/check-theme.ts
  packages/basalt-ui/src/cli/doctor.ts
  packages/basalt-ui/src/cli/guard-hook.ts
  packages/basalt-ui/src/cli/help.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init-sync.test.ts
  packages/basalt-ui/src/cli/init.ts
  packages/basalt-ui/src/cli/sync.ts
  packages/basalt-ui/src/cli/tokens-css.test.ts
  packages/basalt-ui/src/cli/tokens-css.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/tests/doctor.test.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/fixtures/regen.ts
  packages/basalt-ui/tests/layout/agent.layout.test.ts
  packages/basalt-ui/tests/layout/data-table.layout.test.ts
  packages/basalt-ui/tests/layout/fixture/fixtures.tsx
  packages/basalt-ui/tests/layout/fixture/spec.ts
  packages/basalt-ui/tests/palette-css.test.ts
  packages/basalt-ui/tests/theme-css-gate.test.ts
Due: biome-check-js, biome-check-css

build: the budgets gate runs in pre and CI, coverage moves to its script
  .claude/rules/basalt-batteries.md
  .claude/rules/basalt-charts.md
  .claude/rules/basalt-controls.md
  .claude/rules/basalt-mantine.md
  .claude/rules/basalt-state.md
  .claude/rules/basalt-tokens.md
  .github/workflows/ci.yml
  .oxlintrc.json
  bun.lock
  package.json
  tests/surfaces-coverage.test.ts
Due: biome-check-js, biome-check-json

fix: record every 1.29.0 removal, retire the dead notifications rule, tickValues
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/scripts/sync-self.ts
  packages/basalt-ui/src/charts/primitives/Axes.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/sync.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/router-tanstack/index.router.test.tsx
  packages/basalt-ui/src/shell/page-title.tsx
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tests/drift.test.ts
  packages/basalt-ui/tests/isomorphic/props.tsx
  packages/basalt-ui/tests/layout/agent.layout.test.ts
Due: biome-check-js, biome-check-json

build: resync the dogfooded rules and the generated oxlint config
  .claude/rules/basalt-mantine.md
  .claude/skills/basalt-app/SKILL.md
  .oxlintrc.json
Due: biome-check-json

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
