Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

docs: rewrite root README for the post-pivot Mantine product
  README.md
Due: none

chore: dogfood basalt check-theme roots in playground
  apps/playground/package.json
Due: biome-check-json

feat: land Wave 2 maturation across a11y, API hygiene, and data lane
  packages/basalt-ui/agent/rules/basalt-data.md
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/package.json
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-workspace.tsx
  packages/basalt-ui/src/agent/outcome.ts
  packages/basalt-ui/src/agent/thread.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
  packages/basalt-ui/src/charts/primitives/ChartLegend.tsx
  packages/basalt-ui/src/data/table.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme-toggle/index.tsx
Due: biome-check-js, biome-check-json

docs: correct visx/dates doctrine and fix README color-scheme wiring
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
Due: none

docs: archive dead planning docs, prune marketing orphans, refresh doc map
  CLAUDE.md
  docs/BRAND_VOICE.md
  docs/MATURATION-REVIEW.md
  docs/STATUS.md
  docs/archive/BLUEPRINT.md
  docs/archive/ENFORCEMENT-HARDENING.md
  docs/archive/EXECUTION-HANDOVER.md
  docs/archive/INTEGRATION-DX.md
  docs/archive/MATURATION-ROADMAP.md
  docs/archive/ONE-ZERO-DRIVE-HANDOVER.md
  docs/archive/PHASE-1-DESIGN.md
  docs/archive/PHASE-1-GROUNDING.md
  docs/archive/PHASE-1-HANDOVER.md
  docs/archive/PHASE-1-IMPLEMENT-HANDOVER.md
  docs/brand_context.yaml
  docs/llm.md
  docs/prose/PROSE_TRANSITION.md
  docs/prose/prose_styles.js
  docs/prose/tailwind_prose.md
  docs/research/DARK_MODE_IMPLEMENTATION.md
Due: biome-check-js

docs: complete the package self-description and pack-test coverage
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-notifications.md
  packages/basalt-ui/scripts/pack-test.sh
Due: none

docs: refresh living docs to the post-maturation state
  CLAUDE.md
  docs/MATURATION-REVIEW.md
  docs/STATUS.md
Due: none

feat: add provider-agnostic account footer to the shell
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/shell/account-types.ts
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js, biome-check-css

docs: record the sidebar account footer in STATUS
  docs/STATUS.md
Due: none

feat: add user-state simulator to the playground
  apps/playground/src/demo/AccountDrawer.tsx
  apps/playground/src/demo/BillingDrawer.tsx
  apps/playground/src/demo/UserStatePage.tsx
  apps/playground/src/demo/user-scenario-store.ts
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/user.tsx
Due: biome-check-js

feat: refine the sidebar account footer's identity display
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/src/shell/account-types.ts
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.tsx
Due: biome-check-js, biome-check-css

feat: restyle playground and docs to the DESIGN-SPEC identity
  apps/playground/package.json
  apps/playground/src/demo/AccountDrawer.tsx
  apps/playground/src/demo/ActivityPage.tsx
  apps/playground/src/demo/AgentAiSdkDemoPage.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/BillingDrawer.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/CommandsDemoPage.tsx
  apps/playground/src/demo/ComponentsPage.tsx
  apps/playground/src/demo/ConnectivityDemoPage.tsx
  apps/playground/src/demo/DashboardDateFilter.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/DataDemoPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/QueryDemoPage.tsx
  apps/playground/src/demo/RouterDemoPage.tsx
  apps/playground/src/demo/SettingsPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/UserStatePage.tsx
  apps/playground/src/demo/agent-part.type-guard.ts
  apps/playground/src/demo/commands.ts
  apps/playground/src/demo/data.ts
  apps/playground/src/demo/icons.tsx
  apps/playground/src/demo/mock-ai-sdk-backend.ts
  apps/playground/src/main.tsx
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/activity.tsx
  apps/playground/src/routes/agent-ai-sdk.tsx
  apps/playground/src/routes/dashboard.tsx
  bun.lock
  docs/DESIGN-CORE.md
  docs/DESIGN-SPEC.md
  docs/MANTINE-THEMING.md
  docs/STATUS.md
  plugins/basalt/skills/basalt-design/SKILL.md
Due: biome-check-js, biome-check-json

docs: record consumer learnings from the argo migration run
  docs/ARGO-MIGRATION-LEARNINGS.md
Due: none

fix: harden aria-label tag scan, add rawRadius toggle
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/init-sync.test.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
Due: biome-check-js

fix: pad auto lower bound downward, widen Donut keys, export missing tokens
  packages/basalt-ui/src/charts/index.ts
  packages/basalt-ui/src/charts/kinds/Bars.tsx
  packages/basalt-ui/src/charts/kinds/Donut.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/kinds/ZonedLine.tsx
  packages/basalt-ui/src/charts/utils/domain.test.ts
  packages/basalt-ui/src/charts/utils/domain.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

fix: fail loud on empty guard roots, align oxfmt scaffold, doctor version warn
  packages/basalt-ui/package.json
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js, biome-check-json

feat: controlled collapse, drawer close-on-nav, and nav-link class seams
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js

chore: register dashboard composites in SURFACES and regen projections
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js

docs: record same-night fixes; run repo check-theme inside the package
  docs/ARGO-MIGRATION-LEARNINGS.md
  docs/STATUS.md
  lefthook.yml
Due: none

docs: sync rules, README, CLAUDE template with DESIGN-SPEC + migration notes
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-charts.md
  packages/basalt-ui/agent/rules/basalt-commands.md
  packages/basalt-ui/agent/rules/basalt-notifications.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/agent/templates/CLAUDE-block.md.tpl
Due: none

feat: add card-with-border, raw-form-control and sub-16-input-font guard kinds
  packages/basalt-ui/package.json
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

fix: land the shadow-card ring on the box that carries the surface radius
  packages/basalt-ui/src/theme/border-coverage.test.ts
  packages/basalt-ui/src/theme/contrast.test.ts
  packages/basalt-ui/src/theme/controls.module.css
  packages/basalt-ui/src/theme/controls.module.css.d.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/shadow-surfaces.test.ts
Due: biome-check-js, biome-check-css

fix: make the 16px iOS input floor strict
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/src/styles.css
  packages/basalt-ui/src/styles.floor.test.ts
Due: biome-check-js, biome-check-css

docs: record the ring-radius invariant and the strict input floor
  docs/DESIGN-SPEC.md
Due: none

fix: run check-theme in the consumer lefthook template
  packages/basalt-ui/configs/lefthook.yml
Due: none

feat: tighten design density and unify the card idiom
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/thread-outcome-card.tsx
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/empty-state.tsx
  packages/basalt-ui/src/dashboard/settings-section.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/data/data-table.tsx
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/shadow-surfaces.test.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

docs: sync DESIGN-SPEC with the density pass
  docs/DESIGN-SPEC.md
Due: none

feat: add the basalt oxlint plugin with three design-guard rules
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
Due: biome-check-js, biome-check-json

refactor: migrate the playground onto the shipped card idioms
  apps/playground/src/demo/ActivityPage.tsx
  apps/playground/src/demo/AgentAiSdkDemoPage.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/ComponentsPage.tsx
  apps/playground/src/demo/ConnectivityDemoPage.tsx
  apps/playground/src/demo/DashboardDateFilter.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/FormsDemoPage.tsx
  apps/playground/src/demo/NotificationsDemoPage.tsx
  apps/playground/src/demo/SettingsPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/UserStatePage.tsx
Due: biome-check-js

ci: enforce the basalt design-guard rules in the repo lint
  .oxlintrc.json
Due: biome-check-json

docs: record the basalt oxlint plugin enforcement in DESIGN-SPEC
  docs/DESIGN-SPEC.md
Due: none

feat: add SidebarSearch, route-to-spotlight projector, scrollbar fix
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/src/commands/index.ts
  packages/basalt-ui/src/commands/overlays-mount.tsx
  packages/basalt-ui/src/commands/projectors.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/shell/sidebar-search.module.css.d.ts
  packages/basalt-ui/src/shell/sidebar-search.tsx
  packages/basalt-ui/src/styles.css
  packages/basalt-ui/src/theme/shadow-surfaces.test.ts
Due: biome-check-js, biome-check-css

feat: wire routes and settings into the command palette
  apps/playground/src/demo/commands.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/demo/palette-actions.tsx
  apps/playground/src/main.tsx
  apps/playground/src/routes/__root.tsx
Due: biome-check-js

feat: float the sidebar nav scrollbar via Mantine ScrollArea
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
Due: biome-check-js, biome-check-css

docs: make the floating ScrollArea the standard for scroll regions
  packages/basalt-ui/agent/rules/basalt-mantine.md
Due: none

docs: record the single-overlay-scrollbar standard in DESIGN-SPEC
  docs/DESIGN-SPEC.md
Due: none

fix: unify the scrollbar treatment and clear the sidebar bar of the rows
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/styles.css
Due: biome-check-js, biome-check-css

feat: add the raw-scroll-container design-guard rule
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent/stick-to-bottom.tsx
  packages/basalt-ui/src/data/virtual-list.tsx
Due: biome-check-js, biome-check-json

ci: enable raw-scroll-container in the repo lint
  .oxlintrc.json
Due: biome-check-json

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
