Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

lefthook.yml:

# Lefthook Configuration
min_version: 1.7.0

pre-commit:
  parallel: true
  commands:
    isolated-basalt-ui:
      run: |
        STAGED=$(git diff --cached --name-only)
        HAS_BASALT=$(echo "$STAGED" | grep -q '^packages/basalt-ui/' && echo 1 || echo 0)
        HAS_OTHER=$(echo "$STAGED" | grep -v '^packages/basalt-ui/' | grep -v '^$' | head -1)
        if [ "$HAS_BASALT" = "1" ] && [ -n "$HAS_OTHER" ]; then
          echo "‚ùå packages/basalt-ui must be committed separately from other changes"
          echo "   Found: $HAS_OTHER"
          exit 1
        fi

    biome-check-js:
      glob: "*.{js,jsx,ts,tsx,cjs,mjs}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-json:
      glob: "*.{json,jsonc}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    biome-check-css:
      glob: "*.{css,scss}"
      run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
      stage_fixed: true

    prettier-astro:
      glob: "*.astro"
      run: bunx prettier --write {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

fix: card-with-border remedy names its card-inset half
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

fix: dev-gate the basalt-family ref warning and pin its version
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

chore: name both ledgers in the release check-grace refusal
  scripts/release.sh
Due: none

fix: treat a false icon as absent and expose a label-only glyph helper
  packages/basalt-ui/src/shell/app-mobile-nav.test.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/nav-glyph.test.tsx
  packages/basalt-ui/src/shell/nav-glyph.tsx
Due: biome-check-js

feat: judge every unemitted name inside a basalt-owned --vx-* family
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/scripts/gen-vx-names.ts
  packages/basalt-ui/src/common/vx-family.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/vx-names.test.ts
  packages/basalt-ui/src/guard/vx-names.ts
  packages/basalt-ui/src/tokens/index.ts
Due: biome-check-js

docs: record consumer-loop round 4 in the maturation ledger
  docs/MATURATION-LEDGER.md
Due: none

test: pin the accessible name of child rows in both child branches
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
Due: biome-check-js

refactor: name the basalt keys resolveGuardConfig passes to the guard
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

refactor: bound check-theme's AST-lane ascent at the repo root
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/check-theme.ts
Due: biome-check-js

fix: restore check-grace's singular 'grace entry' in the clear line
  packages/basalt-ui/scripts/check-grace.ts
Due: biome-check-js

chore: point repo tests and dogfood at the guards-only oxlint preset
  .claude/skills/basalt-app/SKILL.md
  AGENTS.md
  tests/oxlint-preset-sync.test.ts
  tests/surfaces-coverage.test.ts
Due: biome-check-js

fix: give icon-less nav items a first-letter glyph and a name in the rail
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.test.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/nav-glyph.tsx
  packages/basalt-ui/src/shell/nav-types.ts
  packages/basalt-ui/src/shell/sidebar-search.tsx
Due: biome-check-js, biome-check-css

feat: check-theme names an unwired AST lane
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/check-theme.ts
  packages/basalt-ui/src/cli/guard-hook.ts
  packages/basalt-ui/src/cli/index.ts
Due: biome-check-js

ci: prove export-surface.json against dist before check-grace
  scripts/release.sh
Due: none

feat: ship CONTAINER_KEYS for SimpleGrid type="container" keys
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/size-classes.test.ts
  packages/basalt-ui/src/tokens/size-classes.ts
Due: biome-check-js, biome-check-json

fix: --merge-lint replaces a guards-only extends instead of stacking it
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
Due: biome-check-js

ci: release preflight keeps a failing build's output
  scripts/release.sh
Due: none

fix: name an icon-less row by aria-label only in the collapsed rail
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
Due: biome-check-js

feat: remove useBreakpoint, overdue since 1.33.0
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/use-breakpoint.test.tsx
  packages/basalt-ui/src/shell/use-breakpoint.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

chore: neutral check-grace refusal in release.sh, the script names the fix
  scripts/release.sh
Due: none

refactor: pay down the CLI line budget ahead of the guard fixes
  packages/basalt-ui/src/cli/check-theme.ts
  packages/basalt-ui/src/cli/doctor.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/sync.ts
Due: biome-check-js

fix: refuse a release that reaches a deprecation's removeIn while it still ships
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/scripts/check-grace.test.ts
  packages/basalt-ui/scripts/check-grace.ts
Due: biome-check-js

test: bare-string extends in --merge-lint, and check-grace's success line
  packages/basalt-ui/scripts/check-grace.test.ts
  packages/basalt-ui/scripts/check-grace.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
Due: biome-check-js

refactor: one spelling for the shipped oxlint preset and plugin paths
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/check-theme.ts
  packages/basalt-ui/src/cli/doctor.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/sync.ts
Due: biome-check-js

feat: ship a guards-only oxlint preset, configs/oxlint-basalt.json
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/skills/basalt-app/SKILL.md
  packages/basalt-ui/configs/oxlint-basalt.json
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/check-theme.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

fix: take the rail glyph from a real grapheme via Intl.Segmenter
  packages/basalt-ui/src/shell/nav-glyph.test.tsx
  packages/basalt-ui/src/shell/nav-glyph.tsx
Due: biome-check-js

chore: release 1.34.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  45c86222dce6ddcf0281756db4f994a00eb2b91a
Due: none

fix: count the oxlint lane as wired only when an oxlint binary resolves
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/cli/check-theme.test.ts
  packages/basalt-ui/src/cli/check-theme.ts
  packages/basalt-ui/src/cli/doctor.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/toolchain-wiring.test.ts
  packages/basalt-ui/tests/doctor.test.ts
Due: biome-check-js

chore: release 1.34.1 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  7247222b6893e3f13a25cdbe593f6c519f999af5
Due: none

fix: name the signed-out sidebar account row in the collapsed rail
  packages/basalt-ui/src/shell/app-sidebar-account.test.tsx
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
Due: biome-check-js

feat: let a settings entry be the current page, not only a checked selection
  packages/basalt-ui/src/shell/app-mobile-nav.test.tsx
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
Due: biome-check-js, biome-check-css

feat: keep a custom sidebar block in the collapsed rail and the mobile drawer
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/mobile-nav-model.test.ts
  packages/basalt-ui/src/shell/nav-types.ts
  packages/basalt-ui/src/shell/sidebar-block-model.ts
  packages/basalt-ui/src/shell/sidebar-blocks.tsx
Due: biome-check-js, biome-check-css

fix: judge raw-selection-control by host-tag nesting, not a 12-line window
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js
