Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

test: give the repo a DOM harness so the agent layer can be tested at all
  bun.lock
  bunfig.toml
  lefthook.yml
  package.json
  tests/setup/dom.ts
Due: biome-check-js, biome-check-json

feat: open ./agent-chat as its own door, and put the agent layer under test
  .oxlintrc.json
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-agent.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/agent-chat/index.ts
  packages/basalt-ui/src/agent/ai-sdk-transport.test.ts
  packages/basalt-ui/src/agent/parts.test.ts
  packages/basalt-ui/src/agent/thread.test.ts
  packages/basalt-ui/src/agent/use-agent-stream.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.resume.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.wedge.test.tsx
  packages/basalt-ui/src/charts/primitives/ChartFrame.test.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/provider/index.test.tsx
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme/use-basalt-spacing.test.tsx
  packages/basalt-ui/src/tokens/build-fonts-css.test.ts
  packages/basalt-ui/tests/doctor.test.ts
  packages/basalt-ui/tests/lefthook-preset.test.ts
  packages/basalt-ui/tests/required-peers.test.ts
Due: biome-check-js, biome-check-json

feat: prove the agent-chat subpath and the streaming wedge in the playground
  apps/playground/src/demo/AgentChatSubpathDemoPage.tsx
  apps/playground/src/demo/AgentWedgeDemoPage.tsx
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/agent-chat-subpath.tsx
  apps/playground/src/routes/agent-wedge.tsx
Due: biome-check-js

docs: record the agent-chat framework spec the B-phases build against
  docs/AGENT-CHAT-SPEC.md
Due: none

chore: release 1.10.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  43862dc3ebeadcbf58d5916a09ab3e860042e2b2
Due: none

feat: give every part a stable id and mirror v7's real tool lifecycle
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent/ai-sdk-transport.test.ts
  packages/basalt-ui/src/agent/ai-sdk-transport.ts
  packages/basalt-ui/src/agent/coalesce.test.ts
  packages/basalt-ui/src/agent/coalesce.ts
  packages/basalt-ui/src/agent/id.test.ts
  packages/basalt-ui/src/agent/id.ts
  packages/basalt-ui/src/agent/index.ts
  packages/basalt-ui/src/agent/merge.test.ts
  packages/basalt-ui/src/agent/merge.ts
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/agent/parts.test.ts
  packages/basalt-ui/src/agent/parts.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
Due: biome-check-js

chore: adapt the playground agent demos to the new part shape
  apps/playground/src/demo/AgentChatSubpathDemoPage.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/AgentWedgeDemoPage.tsx
  apps/playground/src/demo/agent-blocks.tsx
  apps/playground/src/demo/agent-scenarios.ts
Due: biome-check-js

feat: promote the shade-index guard out of its grace period
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
Due: biome-check-js

feat: make the transcript addressable, open, and honest about how a turn ended
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/agent-chat/index.ts
  packages/basalt-ui/src/agent-chat/thread-message.test.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent-chat/tool-chip.test.tsx
  packages/basalt-ui/src/agent-chat/tool-chip.tsx
  packages/basalt-ui/src/agent/ai-sdk-transport.test.ts
  packages/basalt-ui/src/agent/ai-sdk-transport.ts
  packages/basalt-ui/src/agent/foreign.test.ts
  packages/basalt-ui/src/agent/foreign.ts
  packages/basalt-ui/src/agent/history.ts
  packages/basalt-ui/src/agent/id.ts
  packages/basalt-ui/src/agent/index.ts
  packages/basalt-ui/src/agent/merge.test.ts
  packages/basalt-ui/src/agent/merge.ts
  packages/basalt-ui/src/agent/part-list.test.tsx
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/agent/parts.test.ts
  packages/basalt-ui/src/agent/parts.ts
  packages/basalt-ui/src/agent/transport.test.ts
  packages/basalt-ui/src/agent/transport.ts
  packages/basalt-ui/src/agent/use-agent-stream.test.tsx
  packages/basalt-ui/src/agent/use-agent-stream.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.foreign.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.resume.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.ts
  packages/basalt-ui/src/agent/use-agent-thread-runs.wedge.test.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tests/barrel-surface.test.ts
Due: biome-check-js, biome-check-json

feat: prove the transcript layer from outside the package boundary
  apps/playground/src/demo/AgentForeignPartsDemoPage.tsx
  apps/playground/src/demo/AgentRenderBudgetDemoPage.tsx
  apps/playground/src/demo/AgentStopMidStreamDemoPage.tsx
  apps/playground/src/demo/AgentToolLifecycleDemoPage.tsx
  apps/playground/src/demo/agent-part-registry.type-guard.ts
  apps/playground/src/demo/mock-ai-sdk-backend.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/agent-foreign-parts.tsx
  apps/playground/src/routes/agent-render-budget.tsx
  apps/playground/src/routes/agent-stop-mid-stream.tsx
  apps/playground/src/routes/agent-tool-lifecycle.tsx
Due: biome-check-js

docs: correct the tool-lifecycle spec against the installed SDK
  docs/AGENT-CHAT-SPEC.md
  docs/STATUS.md
Due: none

chore: release 1.11.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  04212289238381994e63b73dfffe3790dc1ec892
Due: none

feat: open the markdown seams and split trust from streaming
  bun.lock
  packages/basalt-ui/package.json
  packages/basalt-ui/src/agent-chat/thread-message.test.tsx
  packages/basalt-ui/src/agent-chat/thread-message.tsx
  packages/basalt-ui/src/agent/part-list.test.tsx
  packages/basalt-ui/src/agent/part-list.tsx
  packages/basalt-ui/src/content/fence-block.tsx
  packages/basalt-ui/src/content/heading-components.test.tsx
  packages/basalt-ui/src/content/heading-components.tsx
  packages/basalt-ui/src/content/index.ts
  packages/basalt-ui/src/content/markdown.test.tsx
  packages/basalt-ui/src/content/markdown.tsx
  packages/basalt-ui/src/content/sanitize.test.ts
  packages/basalt-ui/src/content/sanitize.ts
Due: biome-check-js, biome-check-json

feat: give the composer its slots and a way to write into them
  packages/basalt-ui/src/agent-chat/composer.test.tsx
  packages/basalt-ui/src/agent-chat/composer.tsx
  packages/basalt-ui/src/agent-chat/index.ts
  packages/basalt-ui/src/agent-chat/thread-detail-panel.tsx
  packages/basalt-ui/src/agent-chat/thread-workspace.tsx
Due: biome-check-js

feat: let a server-backed store stand behind the threads API
  packages/basalt-ui/src/agent/adapter.test.ts
  packages/basalt-ui/src/agent/adapter.ts
  packages/basalt-ui/src/agent/id.ts
  packages/basalt-ui/src/agent/index.ts
  packages/basalt-ui/src/agent/thread.test.ts
  packages/basalt-ui/src/agent/thread.ts
Due: biome-check-js

fix: stop the tool-part fold carrying stale state and dropping parts
  packages/basalt-ui/src/agent/coalesce.test.ts
  packages/basalt-ui/src/agent/coalesce.ts
  packages/basalt-ui/src/agent/merge.test.ts
  packages/basalt-ui/src/agent/merge.ts
  packages/basalt-ui/src/agent/parts.test.ts
  packages/basalt-ui/src/agent/parts.ts
Due: biome-check-js

test: put the test suite under the typechecker
  packages/basalt-ui/src/agent/ai-sdk-transport.test.ts
  packages/basalt-ui/src/agent/foreign.test.ts
  packages/basalt-ui/src/agent/id.test.ts
  packages/basalt-ui/src/agent/use-agent-stream.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.foreign.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.resume.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.test.tsx
  packages/basalt-ui/src/agent/use-agent-thread-runs.wedge.test.tsx
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/cli/template-format.test.ts
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/theme/contrast.test.ts
  packages/basalt-ui/src/theme/density-relations.test.ts
  packages/basalt-ui/src/theme/fonts-option.test.ts
  packages/basalt-ui/src/theme/shadow-surfaces.test.ts
  packages/basalt-ui/src/theme/use-basalt-spacing.test.tsx
  packages/basalt-ui/tsconfig.json
  tests/setup/dom.ts
Due: biome-check-js, biome-check-json

docs: publish the new surface and make the peer docs true again
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/README.md
  packages/basalt-ui/agent/rules/basalt-content.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/scripts/pack-test.sh
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/tests/required-peers.test.ts
Due: biome-check-js, biome-check-json

feat: prove the 1.12.0 seams from outside the package
  apps/playground/package.json
  apps/playground/src/demo/AgentAiSdkDemoPage.tsx
  apps/playground/src/demo/AgentComposerDemoPage.tsx
  apps/playground/src/demo/AgentDemoPage.tsx
  apps/playground/src/demo/AgentFenceRegistryDemoPage.tsx
  apps/playground/src/demo/ContentSanitizeDemoPage.tsx
  apps/playground/src/demo/agent-blocks.tsx
  apps/playground/src/demo/icons.tsx
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/demo/rehype-playground-tags.ts
  apps/playground/src/demo/threads/ThreadsAdapterDemoPage.tsx
  apps/playground/src/demo/threads/in-memory-adapter.ts
  apps/playground/src/routes/agent-composer.tsx
  apps/playground/src/routes/agent-fence-registry.tsx
  apps/playground/src/routes/content-sanitize.tsx
  apps/playground/src/routes/threads-adapter.tsx
Due: biome-check-js, biome-check-json

chore: release 1.12.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  0137d24045cd908960e3a96a5441f92eeb04b357
Due: none

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
