Repository jkrumm/basalt-ui: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check-js, biome-check-json, biome-check-css, prettier-astro

biome-check-js:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-json:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

biome-check-css:
  run: bunx @biomejs/biome check --write --css-formatter-enabled=true --css-linter-enabled=true --no-errors-on-unmatched --files-ignore-unknown=true --staged {staged_files}
  stage_fixed: true

prettier-astro:
  run: bunx prettier --write {staged_files}
  stage_fixed: true

feat: migrate the playground to PageBar and controls, add the reference page
  apps/playground/package.json
  apps/playground/src/demo/AgentForeignPartsDemoPage.tsx
  apps/playground/src/demo/BandStripDemoPage.tsx
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/ComponentsPage.tsx
  apps/playground/src/demo/ConnectivityDemoPage.tsx
  apps/playground/src/demo/ContentOverviewPage.tsx
  apps/playground/src/demo/ControlsMobilePage.tsx
  apps/playground/src/demo/DashboardDateFilter.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/DataTableChromeDemoPage.tsx
  apps/playground/src/demo/MirroredBarsDemoPage.tsx
  apps/playground/src/demo/MobileNavPillPage.tsx
  apps/playground/src/demo/QueryStateDemoPage.tsx
  apps/playground/src/demo/SettingsPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/UserStatePage.tsx
  apps/playground/src/demo/analytics-data.ts
  apps/playground/src/demo/analytics-widgets.tsx
  apps/playground/src/demo/article-filter-stores.ts
  apps/playground/src/demo/controls-mobile-store.ts
  apps/playground/src/demo/dashboard-range-store.ts
  apps/playground/src/demo/data.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/main.tsx
  apps/playground/src/nav.type-guard.tsx
  apps/playground/src/routes/__root.tsx
  apps/playground/src/routes/content-overview.tsx
  apps/playground/src/routes/controls-mobile.tsx
  apps/playground/src/routes/dashboard.tsx
  apps/playground/src/routes/dashboard/index.tsx
  apps/playground/src/routes/dashboard/revenue.tsx
  apps/playground/src/routes/dashboard/sessions.tsx
  apps/playground/src/routes/dashboard/traffic.tsx
  apps/playground/src/routes/index.tsx
  docs/CONTROLS-SPEC.md
Due: biome-check-js, biome-check-json

feat: add sidebar blocks and the controls guards
  .oxlintrc.json
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/README.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/src/cli/check-coverage.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/guard/types.ts
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/nav/types.ts
  packages/basalt-ui/src/router-tanstack/use-nav.ts
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css.d.ts
  packages/basalt-ui/src/shell/app-mobile-nav.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css.d.ts
  packages/basalt-ui/src/shell/app-sidebar.test.tsx
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/mobile-nav-model.test.ts
  packages/basalt-ui/src/shell/mobile-nav-model.ts
  packages/basalt-ui/src/shell/sidebar-block-model.ts
  packages/basalt-ui/src/shell/sidebar-blocks.tsx
  packages/basalt-ui/src/shell/sidebar-search.module.css
  packages/basalt-ui/src/shell/sidebar-search.module.css.d.ts
  packages/basalt-ui/src/shell/sidebar-search.tsx
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json, biome-check-css

feat: dogfood sidebar blocks in the playground, settle the form-row home
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/__root.tsx
  docs/CONTROLS-SPEC.md
  docs/FRAMEWORK-FREE.md
Due: biome-check-js

feat: wire card, chart and section controls into the reference page
  CLAUDE.md
  apps/playground/src/demo/ControlsMobilePage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/analytics-data.ts
  apps/playground/src/demo/analytics-widgets.tsx
  apps/playground/src/demo/controls-mobile-store.ts
  apps/playground/src/demo/dashboard-range-store.ts
  apps/playground/src/demo/icons.tsx
  docs/ARGO-MIGRATION-LEARNINGS.md
  docs/CONTROLS-SPEC.md
  docs/STATUS.md
  scripts/release.sh
Due: biome-check-js

docs: correct stale shell, density and release-ledger claims
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/RouterDemoPage.tsx
  apps/playground/src/demo/nav-model.tsx
  docs/ARGO-MIGRATION-LEARNINGS.md
  docs/DESIGN-CORE.md
  docs/DESIGN-SPEC.md
  docs/MANTINE-THEMING.md
  docs/STATUS.md
Due: biome-check-js

docs: add the controls spec and its evidence ledger
  docs/CONTROLS-SPEC.md
  docs/DESIGN-SPEC.md
  docs/STATUS.md
  docs/archive/CONTROLS-SYNTHESIS.md
Due: none

fix: align shell comments and ChartCard rem fallbacks with the derived scale
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-sidebar-account.tsx
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/app-sidebar.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/nav-count-badge.tsx
  packages/basalt-ui/src/shell/page-header.tsx
  packages/basalt-ui/src/theme/controls.module.css
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-css

chore: release 1.26.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  34a8320bcee6c1bc9a399d1abd8bd65c9311e26e
Due: none

feat: dogfood NumberFilter and StatCard unit/breakdown in the playground
  apps/playground/src/demo/ChartsPage.tsx
  apps/playground/src/demo/ControlsMobilePage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/controls-mobile-store.ts
  docs/CONTROLS-SPEC.md
  docs/STATUS.md
Due: biome-check-js

chore: release 1.27.0 [skip ci]
  packages/basalt-ui/CHANGELOG.md
  packages/basalt-ui/llms.txt
  packages/basalt-ui/package.json
Due: biome-check-json

Notes added by 'git notes add'
  fb2b6716d4ba90d09ab3cf30a5618501eb27641e
Due: none

feat: add the CBBI live-data evidence page to the playground
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  apps/playground/src/demo/cbbi/cbbi-data.ts
  apps/playground/src/demo/cbbi/cbbi-query.ts
  apps/playground/src/demo/cbbi/cbbi-store.ts
  apps/playground/src/demo/cbbi/cbbi-view.ts
  apps/playground/src/demo/nav-model.tsx
  apps/playground/src/routes/cbbi.tsx
Due: biome-check-js

docs: draft the aside spec from the CBBI evidence ledger
  docs/ASIDE-SPEC.md
Due: none

feat: let the CBBI page fold price and confidence into one dual-axis chart
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  apps/playground/src/demo/cbbi/cbbi-store.ts
  apps/playground/src/routes/cbbi.tsx
Due: biome-check-js

feat: add the PageAside shell region
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/page-aside.module.css
  packages/basalt-ui/src/shell/page-aside.module.css.d.ts
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/shell/page-aside.tsx
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/density.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
Due: biome-check-js, biome-check-json, biome-check-css

refactor: move the CBBI panel onto PageAside
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  docs/ASIDE-SPEC.md
  docs/STATUS.md
Due: biome-check-js

docs: record the CBBI metric analysis behind the panel diagnostics
  apps/playground/scripts/cbbi-analysis/common.py
  apps/playground/scripts/cbbi-analysis/core.py
  apps/playground/scripts/cbbi-analysis/extrema.py
  apps/playground/scripts/cbbi-analysis/q2.py
  apps/playground/scripts/cbbi-analysis/q3.py
  apps/playground/scripts/cbbi-analysis/q3b.py
  apps/playground/scripts/cbbi-analysis/q3c.py
  apps/playground/scripts/cbbi-analysis/q4.py
  apps/playground/scripts/cbbi-analysis/q5.py
  apps/playground/src/demo/cbbi/ANALYSIS.md
Due: none

feat: let SliderControl compose its readout and carry an end control
  packages/basalt-ui/src/controls/slider-control.tsx
Due: biome-check-js

feat: guard bound controls outside a home and teach the agent the aside
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/configs/oxlint-plugin.test.ts
  packages/basalt-ui/configs/oxlint.json
  packages/basalt-ui/llms.txt
  packages/basalt-ui/src/cli/check-coverage.test.ts
  packages/basalt-ui/src/cli/index.ts
  packages/basalt-ui/src/guard/check-source.test.ts
  packages/basalt-ui/src/guard/grace.test.ts
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/surfaces.ts
Due: biome-check-js, biome-check-json

docs: record the bound-control guard, the aside rule and the G11 close
  docs/ASIDE-SPEC.md
  docs/CONTROLS-SPEC.md
  docs/STATUS.md
Due: none

docs: record the panel surface in the controls and aside specs
  docs/ASIDE-SPEC.md
  docs/CONTROLS-SPEC.md
Due: none

feat: render bound controls as panel rows inside PageAside
  packages/basalt-ui/AGENTS.md
  packages/basalt-ui/CLAUDE.md
  packages/basalt-ui/configs/oxlint-plugin.js
  packages/basalt-ui/llms.txt
  packages/basalt-ui/scripts/export-surface.json
  packages/basalt-ui/src/controls/controls.module.css
  packages/basalt-ui/src/controls/controls.module.css.d.ts
  packages/basalt-ui/src/controls/controls.router.test.tsx
  packages/basalt-ui/src/controls/enum-filter.tsx
  packages/basalt-ui/src/controls/filter-context.tsx
  packages/basalt-ui/src/controls/filter-sheet.tsx
  packages/basalt-ui/src/controls/index.ts
  packages/basalt-ui/src/controls/multi-select-filter.tsx
  packages/basalt-ui/src/controls/number-filter.tsx
  packages/basalt-ui/src/controls/panel-row.module.css
  packages/basalt-ui/src/controls/panel-row.module.css.d.ts
  packages/basalt-ui/src/controls/panel-row.tsx
  packages/basalt-ui/src/controls/range-filter.tsx
  packages/basalt-ui/src/controls/search-filter.tsx
  packages/basalt-ui/src/controls/slider-control.tsx
  packages/basalt-ui/src/controls/toggle-filter.tsx
  packages/basalt-ui/src/controls/view-tabs.tsx
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/section/section.tsx
  packages/basalt-ui/src/shell/isomorphic-layout-effect.ts
  packages/basalt-ui/src/shell/page-aside.module.css
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/shell/page-aside.tsx
  packages/basalt-ui/src/shell/page-bar.module.css
  packages/basalt-ui/src/shell/page-bar.module.css.d.ts
  packages/basalt-ui/src/shell/page-bar.tsx
  packages/basalt-ui/src/state/fields.test.tsx
  packages/basalt-ui/src/state/fields.ts
  packages/basalt-ui/src/state/persisted-or-local.ts
  packages/basalt-ui/src/surfaces.ts
  packages/basalt-ui/src/theme/ctl-theme.tsx
  packages/basalt-ui/src/theme/ctl-tier-coverage.test.ts
  packages/basalt-ui/src/theme/divider-law.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/widget-header/widget-header.tsx
Due: biome-check-js, biome-check-json, biome-check-css

feat: diagnose, preset and advise in the CBBI aside
  .gitignore
  .oxlintrc.json
  apps/playground/package.json
  apps/playground/scripts/cbbi-analysis/README.md
  apps/playground/scripts/cbbi-analysis/common.py
  apps/playground/scripts/cbbi-analysis/q2.py
  apps/playground/scripts/cbbi-analysis/q3.py
  apps/playground/scripts/cbbi-analysis/q4.py
  apps/playground/src/demo/ControlsMobilePage.tsx
  apps/playground/src/demo/DashboardPage.tsx
  apps/playground/src/demo/SubPage.tsx
  apps/playground/src/demo/cbbi/ANALYSIS.md
  apps/playground/src/demo/cbbi/CbbiPage.tsx
  apps/playground/src/demo/cbbi/CbbiPanel.tsx
  apps/playground/src/demo/cbbi/cbbi-data.ts
  apps/playground/src/demo/cbbi/cbbi-diagnostics.test.ts
  apps/playground/src/demo/cbbi/cbbi-diagnostics.ts
  apps/playground/src/demo/cbbi/cbbi-outlook.test.ts
  apps/playground/src/demo/cbbi/cbbi-outlook.ts
  apps/playground/src/demo/cbbi/cbbi-store.ts
  apps/playground/src/demo/cbbi/cbbi-view.ts
  apps/playground/tsconfig.json
  apps/playground/tsconfig.test.json
  bun.lock
Due: biome-check-js, biome-check-json

feat: paint every AppShell region seam in the divider token
  packages/basalt-ui/MIGRATING.md
  packages/basalt-ui/agent/rules/basalt-mantine.md
  packages/basalt-ui/agent/rules/basalt-tokens.md
  packages/basalt-ui/src/guard/index.ts
  packages/basalt-ui/src/shell/app-header.module.css
  packages/basalt-ui/src/shell/app-mobile-nav.module.css
  packages/basalt-ui/src/shell/app-sidebar.module.css
  packages/basalt-ui/src/shell/index.test.tsx
  packages/basalt-ui/src/shell/index.tsx
  packages/basalt-ui/src/shell/page-aside.module.css
  packages/basalt-ui/src/theme/border-coverage.test.ts
  packages/basalt-ui/src/theme/contrast.test.ts
  packages/basalt-ui/src/theme/divider-law.test.ts
  packages/basalt-ui/src/theme/index.ts
  packages/basalt-ui/src/theme/shell-seams.test.ts
  packages/basalt-ui/src/theme/spacing.test.ts
  packages/basalt-ui/src/tokens/divider-contrast.test.ts
  packages/basalt-ui/src/tokens/index.ts
  packages/basalt-ui/src/tokens/palette.ts
  packages/basalt-ui/tests/fixtures/palette-default.css
  packages/basalt-ui/tests/palette-css.test.ts
Due: biome-check-js, biome-check-css

feat: delta polarity on WidgetHeader and a group tier inside the aside
  packages/basalt-ui/src/charts/primitives/ChartCard.tsx
  packages/basalt-ui/src/dashboard/delta-badge.tsx
  packages/basalt-ui/src/dashboard/stat-card.test.tsx
  packages/basalt-ui/src/dashboard/stat-card.tsx
  packages/basalt-ui/src/index.ts
  packages/basalt-ui/src/section/section.module.css
  packages/basalt-ui/src/section/section.test.tsx
  packages/basalt-ui/src/section/section.tsx
  packages/basalt-ui/src/shell/page-aside.test.tsx
  packages/basalt-ui/src/widget-header/delta-badge.test.tsx
  packages/basalt-ui/src/widget-header/delta-badge.tsx
  packages/basalt-ui/src/widget-header/index.ts
  packages/basalt-ui/src/widget-header/widget-header.module.css
  packages/basalt-ui/src/widget-header/widget-header.test.tsx
  packages/basalt-ui/src/widget-header/widget-header.tsx
Due: biome-check-js, biome-check-css

fix: give PageBar row 2 a declared two-line phone form
  packages/basalt-ui/agent/rules/basalt-controls.md
  packages/basalt-ui/src/controls/actions.tsx
  packages/basalt-ui/src/shell/page-bar.module.css
  packages/basalt-ui/src/shell/page-bar.module.css.d.ts
  packages/basalt-ui/src/shell/page-bar.test.tsx
  packages/basalt-ui/src/shell/page-bar.tsx
  packages/basalt-ui/src/theme/layout-rhythm-css.test.ts
Due: biome-check-js, biome-check-css

feat: a real log axis on CartesianChart with 1-2-5 ticks
  packages/basalt-ui/src/charts/kinds/MultiLine.test.tsx
  packages/basalt-ui/src/charts/kinds/MultiLine.tsx
  packages/basalt-ui/src/charts/layout/auto-margin.test.ts
  packages/basalt-ui/src/charts/layout/auto-margin.ts
  packages/basalt-ui/src/charts/layout/log-ticks.test.ts
  packages/basalt-ui/src/charts/layout/log-ticks.ts
  packages/basalt-ui/src/charts/primitives/CartesianChart.test.tsx
  packages/basalt-ui/src/charts/primitives/CartesianChart.tsx
Due: biome-check-js

Path conditions:
  biome-check-js: any of: *.{js,jsx,ts,tsx,cjs,mjs}
  biome-check-json: any of: *.{json,jsonc}
  biome-check-css: any of: *.{css,scss}
  prettier-astro: any of: *.astro
